﻿body {
    /*background-image: url('../../Images/3333.jpg');*/

    /*background-image: url('../../Images/HomePage/home.jpg');*/
    /*background-image: url('../../Images/mountain-806915_1920.jpg');*/
    /*background-image: url('../../Images/1234.jpg');*/
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    color: white;
}

.home-btn-nav {
    display: inline-block;
    height: 60px;
    width: 240px;
    min-width: 160px;
    margin: 10px auto;
    padding: 0 0 0 0;
}

.home-btn-nav a {
    width: 100%;
    height: 100%;
    font-size: 22px;
}

.home-btns {
    width: 55%;
    margin: auto auto;
    margin-top: 50px;
    margin-bottom: 300px;
}

.footer-CompanyUrl{
    color: white;
}

a,
a:focus,
a:hover {
    color: #fff;
}

.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
    color: #333;
    text-shadow: none;
    background-color: #fff;
    border: .05rem solid #fff;
}



.cover-container {
    max-width: 42em;
}

.masthead {
    margin-bottom: 2rem;
}

.masthead-brand {
    margin-bottom: 0;
}
@media (min-width: 48em) {
    .masthead-brand {
        float: left;
    }

    .nav-masthead {
        float: right;
    }
}


.cover {
    padding: 0 1.5rem;
}

.cover .btn-lg {
    padding: .75rem 1.25rem;
    font-weight: 700;
}

.mastfoot {
    color: rgba(255, 255, 255, .5);
}

.h2Title h1 {
    font-size: 60px;
}

.h2Title h2 {
    font-size: 60px;
}

.homeTitle h1{
    font-size: 60px;
    font-weight: bold;
}

.actionbtns {
    margin-top: 80px;
    margin-bottom: 140px;
    height: auto;
}



.tag {
    display: inline-block;
    width: auto;
    height: 38px;
    background-color: #979797;
    -webkit-border-radius: 3px 4px 4px 3px;
    -moz-border-radius: 3px 4px 4px 3px;
    border-radius: 3px 4px 4px 3px;
    border-left: 1px solid #979797;
    /* This makes room for the triangle */
    margin-left: 19px;
    position: relative;
    color: white;
    font-weight: 300;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 22px;
    line-height: 38px;
    padding: 0 10px 0 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Параметры тени */
}

/* Makes the triangle */
.tag:before {
    content: "";
    position: absolute;
    display: block;
    left: -19px;
    width: 0;
    height: 0;
    border-top: 19px solid transparent;
    border-bottom: 19px solid transparent;
    border-right: 19px solid #979797;
}

/* Makes the circle */
.tag:after {
    content: "";
    background-color: white;
    border-radius: 50%;
    width: 4px;
    height: 4px;
    display: block;
    position: absolute;
    left: -9px;
    top: 17px;
}


.card-1 {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.5s cubic-bezier(.25,.8,.25,1);
}

.card-1:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card h4 {
    cursor: default;
}

.card h1 {
    cursor: default;
}

.card .list-unstyled {
    cursor: default;
}
.myLink1 a {
    height: 100%;
    display: block;
}

.footer-CompanyUrl {
    color: black;
}

.btnm:link,
.btnm:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    /*display: inline-block;*/
    border-radius: 100px;
    transition: all .2s;
    position: absolute;
}

.text-box3 {
    margin-right: 20px;
}

.btnm:hover {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btnm:active {
    -webkit-transform: translateY(-1px);
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
    background-color: rgb(62, 142, 201) !important;
    color: white;
}

.btn-white2 {
    background-color: rgb(255, 158, 89);
    color: white;
}

.btnm::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.btn-white::after {
    background-color: rgb(62, 142, 201) !important;
}

.btn-white2::after {
    background-color: rgb(255, 158, 89);
}

.btnm:hover::after {
    -webkit-transform: scaleX(1.4) scaleY(1.6);
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btn-animated {
    -webkit-animation: moveInBottom 5s ease-out;
    animation: moveInBottom 5s ease-out;
    -webkit-animation-fill-mode: backwards;
    animation-fill-mode: backwards;
}

@-webkit-keyframes moveInBottom {
    0% {
        opacity: 0;
        -webkit-transform: translateY(30px);
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        -webkit-transform: translateY(30px);
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
}




@media only screen and (max-width: 800px) {
    .h2Title {
        width: 0px;
        height: 0px;
        margin: 0 0 0 0;
    }
    .home-btns {
          margin-top: 350px;
      }

    .homeGif img{
        width: 0px;
        height: 0px;
        margin: 0 0 0 0;
    }

    .h2Title span {
        font-size: 0;
    }

    .h2Title  span {
        font-size: 0;
    }

    .home-btns {
        top: -250px;
    }

    .homeTitle h1 {
        font-size: 35px;
    }

    .text-box3 {
        margin-top: 100px;
    }
    .text-box3 {
        margin-top: 100px;
    }

    .actionbtns {
        margin-top: 0px;
    }

    /*.homecontainer img {
        visibility: hidden;
    }*/
}

