﻿﻿.alert {
     padding: 20px;
     background-color: #f44336;
     color: white;
     opacity: 1;
     transition: opacity 0.6s;
     margin-bottom: 15px;
 }

.alert.success {
    background-color: #4CAF50;
}

.alert.info {
    background-color: #2196F3;
}

.alert.warning {
    background-color: #ff9800;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}

.notificationR {
    cursor: pointer;
    width: 400px;
    position: fixed;
    height: 100px;
    left: 2%;
    bottom: 5%;
    transition: .9s;
}

@media only screen and (max-width: 500px) {
    .notificationR {
        width: 200px;
        height: 25px;
    }

    .notificationR h4 {
        font-size: 12px;
        margin: 0 0 0 0;
    }
}