﻿@model Square.UI.Models.AccountEntityModel.UserModel

<div class="modal fade" id="DeleteUserConfirmation" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Подтвердите удаление @Model.UserID</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" data-dismiss="modal">Отменить</button>
               <a href="@Url.Action("RemoveUser", "Home")" class="btn btn-danger admin-action-button">Удалить</a>
            </div>
        </div>
    </div>
</div>