﻿@{
    ViewBag.Title = "About";
    @Styles.Render("~/Content/carousel.css")
}

<style>
    .jumbotron {
        height: 250px;
    }

    .jumbotron {
        position: relative;
        overflow: hidden;
        background-color: black;
    }

    .jumbotron video {
        position: absolute;
        z-index: 1;
        top: 0;
        width: 100%;
        height: 100%;
        /*  object-fit is not supported on IE  */
        object-fit: cover;
        opacity: 0.5;
    }

    .jumbotron .container {
        z-index: 2;
        position: relative;
    }
</style>

<div class="jumbotron jumbotron-fluid">
    <video  class="video-fluid" playsinline autoplay loop muted>
        <source src="https://ros-rielt.ru/video/aboutus.mp4" type="video/mp4" />
    </video>
    <div class="container text-white">

        <h2 class="display-4" style="font-size: 45px;">Ros-Rielt</h2>
     
        <p class="lead">
          Аренда квартир от собственников
        </p>
    </div>
</div>
<main role="main">
    <div class="container marketing">
        <!-- Three columns of text below the carousel -->
        <div class="row">
            <div class="col-lg-4">
                <img class="rounded-circle" src="~/Images/daniil2.jpg" alt="Generic placeholder image" style=" object-fit: cover;" width="140" height="140">
                <h2>Главный разработчик</h2>
                <p>Я Даниил. Отвечаю за команду разработки и поддержки веб-сайта "Ros-Rielt". Мы стараемся разрабатывать удобный сервис, чтобы Вам было максимально комфортно. По вопросам обращайтесь на Email: <br /> danyfromsaratov@gmail.com</p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <img class="rounded-circle" src="~/Images/kamila.jpg" alt="Generic placeholder image" style=" object-fit: cover;" width="140" height="140">
                <h2>Администратор</h2>
                <p>Меня зовут Камелия. Я являюсь Администратором веб-сайта "Ros-Rielt". По всем техническим вопросам можете обратиться по телефону: <br /> 8 (965) 884 52 38.</p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <img class="rounded-circle" src="~/Images/maria.jpg" alt="Generic placeholder image" style=" object-fit: cover;" width="140" height="140">
                <h2>Специалист по недвижимости</h2>
                <p>
                    Привет! Я Мария, специалист по недвижимости в компании "Ros-Rielt". Я и моя команда занимаемся поиском квартир, отбором собственников,
                    а также помогаем в заселении "до двери". Со мной можно связаться по телефону: <br /> 8 (965) 884 52 39. <br /> Буду рада Вам помочь!
                </p>
            </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->
        <hr class="featurette-divider">
        <div class="row featurette">
            <div class="col-md-5">
                <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" src="~/Images/about221.jpg" style="width: 500px; height: 400px;  object-fit: cover;" data-holder-rendered="true">
            </div>
            <div class="col-md-7">
                <h2 class="featurette-heading">Кто мы!?</h2>
                <p class="lead">
                    Мы команда молодых и харизматичных специалистов с огромным желанием сделать Вашу жизнь проще.
                    Наша цель - быстро и эффективно предоставить необходимые ресурсы для поиска жилья.
                    Всего лишь по цене обеда в МакДональдс Вы можете получить полный доступ ко всем проверенным контактам.
                    <br /><br />Мы уверены, что Вы найдете то, что ищите!
                </p>
            </div>
        </div>


        <hr class="featurette-divider">
        <div class="row featurette">
            <div class="col-md-5 order-md-2">
                <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" src="~/Images/aboutus1.jpg" style="width: 500px; height: 400px;  object-fit: cover;">
            </div>
            <div class="col-md-7 order-md-1">
                <h2 class="featurette-heading">Чем мы занимаемся?</h2>
                <br />
                <p class="lead">
                    ✅ Работаем официально<br><br>

                    ✅ Занимаемся арендой недвижимости и делаем это качественно<br><br>

                    ✅ Работаем с собственниками<br><br>

                    ✅ Предоставляем минимальные затраты на поиск жилья или помещения<br><br>

                    ✅ Добавляем несколько сотен новых объектов в неделю
                </p>
            </div>
        </div>

        <!-- START THE FEATURETTES -->
        <hr class="featurette-divider">
        <div class="row featurette">
            <div class="col-md-5">
                <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" src="~/Images/run1.jpg" style="width: 500px; height: 400px;  object-fit: cover;" data-holder-rendered="true">
            </div>
            <div class="col-md-7">
                <h2 class="featurette-heading">Быстро</h2>
                <p class="lead">
                    Вы можете выбрать подходящее для вас жильё за несколько минут, не выходя из дома, без посещения офиса. Наш сайт обновляется модераторами каждый день. Сервис доступен для пользователей 24/7.
                </p>
            </div>
        </div>
        <hr class="featurette-divider">
        <div class="row featurette">
            <div class="col-md-7 order-md-1">
                <h2 class="featurette-heading">Экономно</h2>
                <p class="lead">Преимущество базы "Ros-Rielt" в том, что вам не нужно переплачивать посредникам, все объекты от собственников вы сможете найти здесь.</p>
            </div>
            <div class="col-md-5 order-md-2">
                <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" src="~/Images/saving.jpg" style="width: 500px; height: 400px;  object-fit: cover;">
            </div>
        </div>
        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-5">
                <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" src="~/Images/quality1.jpg" style="width: 500px; height: 400px;  object-fit: cover;">
            </div>
            <div class="col-md-7">
                <h2 class="featurette-heading">Качественно</h2>
                <p class="lead">
                    На нашем сайте вы можете быть уверены в качестве обслуживания. Вы можете получить бесплатную консультацию. Отзывчивая администрация и специалист по недвижимости ответят на все ваши вопросы. Мы ценим своих клиентов и стремимся предоставить лучший сервис.
                </p>
            </div>
        </div>
        <hr class="featurette-divider">

    </div><!-- /.container -->
    </main>