﻿
@{
    ViewBag.Title = "AddComment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .jumbotron {
        height: 250px;
    }

    .jumbotron {
        position: relative;
        overflow: hidden;
        background-color: black;
    }

        .jumbotron video {
            position: absolute;
            z-index: 1;
            top: 0;
            width: 100%;
            height: 100%;
            /*  object-fit is not supported on IE  */
            object-fit: cover;
            opacity: 0.5;
        }

        .jumbotron .container {
            z-index: 2;
            position: relative;
        }
</style>

<div class="jumbotron jumbotron-fluid">
    <video class="video-fluid" autoplay loop muted>
        <source src="~/video/adreqvideo.mp4" type="video/mp4" />
    </video>
    <div class="container text-white">

        <h2 class="display-4" style="font-size: 45px;">Добавить отзыв</h2>
        <p class="lead">
            Мы будем рады, если вы оставите свой отзыв на сайте!
        </p>
    </div>
</div>

<div class="container my-5 z-depth-1">


    <!--Section: Content-->
    <section class="dark-grey-text p-5">

        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-5 mb-4 mb-md-0">

                <div class="view">
                    <img src="https://mdbootstrap.com/img/illustrations/undraw_Group_chat_unwm.svg" class="img-fluid" alt="smaple image">
                </div>

            </div>
            <!-- Grid column -->
            <!-- Grid column -->
            <!-- Form -->
            <form action="/Home/AddComment" class="col-md-7 mb-lg-0 mb-4 row" method="post" enctype="multipart/form-data">

                <!-- Section heading -->
                <h3 class="font-weight-bold my-3 col-md-12">Оставить отзыв</h3>

                <p class="text-muted mb-4 pb-2 col-md-12">Мы ценим своих клиентов и хотим предоставить лучший сервис, благодаря Вашим отзывам и пожеланиям мы сделаем наш сервис лучше!</p>

                <div class="input-group col-md-12">
                    <div class="md-form" style="width: 100%; max-width: 100%;">
                        <textarea name="CommentModel.Text" size="500" class="md-textarea form-control" rows="3" style="resize: none; width: 100%; max-width: 100%;"></textarea>
                    </div>
                    <button class="btn btn-primary" style="width: 250px; margin-left: 0px;" type="submit"> <i class="fa fa-pencil pr-2 "></i>Оставить отзыв</button>
                </div>

            </form>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </section>
    <!--Section: Content-->


</div>
