﻿@model Square.UI.Models.NewsModel

@{
    ViewBag.Title = "AddNews";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Scripts/filepond-master/dist/filepond.css" rel="stylesheet" />
<link href="~/Scripts/filepond-plugin-image-preview-master/dist/filepond-plugin-image-preview.css" rel="stylesheet" />
<style>

    .filepond--drop-label {
        color: #4c4e53;
    }

    .filepond--label-action {
        text-decoration-color: #babdc0;
    }

    .filepond--panel-root {
        background-color: #edf0f4;
    }

    .filepond--root {
        width: 170px;
        margin: 0 auto;
        margin-bottom: 14px;
    }
</style>

<style>

    /**
        * FilePond Custom Styles
        */
    .filepond--drop-label {
        color: #4c4e53;
    }

    .filepond--label-action {
        text-decoration-color: #babdc0;
    }

    .filepond--panel-root {
        border-radius: 2em;
        background-color: #edf0f4;
        height: 1em;
    }

    .filepond--item-panel {
        background-color: #595e68;
    }

    .filepond--drip-blob {
        background-color: #7f8a9a;
    }

    .testImage label {
        color: black;
    }

    .filepond {
        width: 370px;
    }
</style>

<div class="container " style="color: black;  margin-bottom: 20px;">
    <div class="row" style="margin-top: 20px; margin-left: 10px;">
        <h1>Добавить новость</h1>
        <form method="post" style="width: 100%;">
           
            <div class="col-md-6 md-form">
                <textarea name="NewsTitle" size="500" class="md-textarea form-control" rows="3" style="resize: none;width: 100%; max-width: 100%;"></textarea>
            </div>

            <textarea id="mytextarea" class="col-md-12" name="Content">
              Hello, World!
            </textarea>

            <div class="col-md-12" style="margin-top: 50px;">
                <input name="Files" id="File1" type="file" style="color: black;"
                       class="filepond testImage"
                       multiple
                       data-max-file-size="5MB"
                       data-max-files="6">
            </div>
            <button class="btn btn-success" type="submit" style="width: 200px;">Добавить</button>

        </form>
    </div>
</div>

@section scripts{
    <script src="~/Scripts/filepond-plugin-image-preview-master/dist/FilePondPluginFileValidateSize.js"></script>
    <script src="~/Scripts/filepond-plugin-image-preview-master/dist/FilePondPluginFileValidateType.js"></script>
    <script src="~/Scripts/filepond-plugin-image-preview-master/dist/filepond-plugin-image-preview.js"></script>
    <script src="~/Scripts/filepond-plugin-image-preview-master/dist/FilePondPluginFileEncode.js"></script>
    <script src="~/Scripts/filepond-master/dist/filepond.js"></script>
    <script src="~/Scripts/imaskjs-master/packages/imask/src/imask.js"></script>

    <script>
        FilePond.registerPlugin(FilePondPluginFileValidateSize);
        FilePond.registerPlugin(FilePondPluginFileValidateType);
        FilePond.registerPlugin(FilePondPluginImagePreview);
        FilePond.registerPlugin(FilePondPluginFileEncode);
        var inputElement = document.getElementById("File1");

        // Select the file input and use create() to turn it into a pond
        FilePond.create(
            inputElement,
            {
                acceptedFileTypes: ['image/*'],
                fileValidateTypeDetectType: (source, type) => new Promise((resolve, reject) => {

                    // Do custom type detection here and return with promises

                    resolve(type);
                })
            }
        );
    </script>}