﻿@using Square.Common.Extension
@model IEnumerable<Square.UI.Models.CommentModel>
@{
    ViewBag.Title = "Comments";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .card-comment {
        margin: 10px 10px;
    }
</style>

<style>
    .circular--portrait {
        position: relative;
        width: 200px;
        height: 200px;
        overflow: hidden;
        border-radius: 50%;
    }

    .circular--portrait img {
        width: 100%;
        height: auto;
    }
</style>


<style>
    .jumbotron {
        height: 250px;
    }

    .jumbotron {
        position: relative;
        overflow: hidden;
        background-color: black;
    }

    .jumbotron video {
        position: absolute;
        z-index: 1;
        top: 0;
        width: 100%;
        height: 100%;
        /*  object-fit is not supported on IE  */
        object-fit: cover;
        opacity: 0.5;
    }

    .jumbotron .container {
        z-index: 2;
        position: relative;
    }
</style>

<div class="jumbotron jumbotron-fluid">
    <video  class="video-fluid" playsinline autoplay loop muted>
        <source src="https://ros-rielt.ru/video/comments.mp4" type="video/mp4" />
    </video>
    <div class="container text-white">

        <h2 class="display-4" style="font-size: 45px;">Отзывы</h2>
     
        <p class="lead">
            Мы будем рады, если вы оставите свой отзыв на сайте!
        </p>
        <a class="btn btn-primary btn-sm" style="margin-left: 0 !important; " href=@Url.Action("AddMyComment", "Home")>Оставить отзыв</a>

    </div>
</div>

<main role="main">

    <div class="container marketing">
        <div class="container-fluid" >
        
             <div class="container-fluid" style="margin-top: 40px;">
              
                 <div class="row">

                        @{ var random = new Random();}
                        @foreach (var comment in Model)
                        {
                            var num = random.Next(1, 8);
                            var imgName = num.ToString() + ".png";

                            <div class="card text-white bg-info col-md-12" style="width: 400px; max-width: 400px; margin: 20px 20px; ">
                                <div class="card-header" style="font-size: 23px;"><img class="icon homezoom" style="width: 64px; height: 64px; margin-right: 15px;" src="~/Images/Comments/@imgName" /> @comment.Fio</div>
                                <div class="card-body">
                                    <p class="card-text" style="font-size: 19px; color: white;">@comment.Text</p>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            @*<div class="container my-5 z-depth-1">


                <section class="dark-grey-text p-5">

                    <div class="row">

                        <div class="col-md-5 mb-4 mb-md-0">

                            <div class="view">
                                <img src="https://mdbootstrap.com/img/illustrations/undraw_Group_chat_unwm.svg" class="img-fluid" alt="smaple image">
                            </div>

                        </div>
                        <form action="/Home/AddComment" class="col-md-7 mb-lg-0 mb-4 row" method="post" enctype="multipart/form-data">

                            <h3 class="font-weight-bold my-3 col-md-12">Оставить отзыв</h3>

                            <p class="text-muted mb-4 pb-2 col-md-12">Мы ценим своих клиентов и хотим предоставить лучший сервис, благодаря Вашим отзывам и пожеланиям мы сделаем наш сервис лучше!</p>

                            <div class="input-group col-md-12">
                                <div class="md-form" style="width: 100%; max-width: 100%;">
                                    <textarea name="CommentModel.Text" size="500" class="md-textarea form-control" rows="3" style="resize: none; width: 100%; max-width: 100%;"></textarea>
                                </div>
                                <button class="btn btn-primary" style="width: 250px; margin-left: 0px;" type="submit"> <i class="fa fa-pencil pr-2 "></i>Оставить отзыв</button>
                            </div>

                        </form>
                    </div>

                </section>


            </div>*@

        </div>
    </div>
</main>


