﻿
@{
    ViewBag.Title = "Faq";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<main role="main">

    <div class="container marketing" style="">
        <div class="container my-5">


            <!--Section: Content-->
            <section>

                <h6 class="font-weight-normal text-uppercase font-small grey-text mb-4 text-center">FAQ</h6>
                <!-- Section heading -->
                <h3 class="font-weight-bold black-text mb-4 pb-2 text-center">Часто задаваемые вопросы</h3>
                <hr class="w-header">
                <!-- Section description -->
                <p class="lead text-muted mx-auto mt-4 pt-2 mb-5 text-center">
                    Если у вас остались вопросы и Вы не нашли на него ответ на нашем сайте,
                    можете написать нам на почту support@ros-rielt.ru и мы с радостью ответим на него!
                </p>

                <div class="row">
                    <div class="col-md-12 col-lg-10 mx-auto mb-5">

                        <!--Accordion wrapper-->
                        <div class="accordion md-accordion" id="accordionEx" role="tablist" aria-multiselectable="true">

                            <!-- Accordion card -->
                            <div class="card border-top border-bottom-0 border-left border-right border-light">

                                <!-- Card header -->
                                <div class="card-header border-bottom border-light" role="tab" id="headingOne1">
                                    <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseOne1" aria-expanded="true"
                                       aria-controls="collapseOne1">
                                        <h5 class="black-text font-weight-normal mb-0">
                                            Что такое Ros-Rielt? <i class="fas fa-angle-down rotate-icon"></i>
                                        </h5>
                                    </a>
                                </div>

                                <!-- Card body -->
                                <div id="collapseOne1" class="collapse show" role="tabpanel" aria-labelledby="headingOne1"
                                     data-parent="#accordionEx">
                                    <div class="card-body">
                                        Ros-Rielt - Это современный и удобный интернет-сервис по поиску квартир без посредников и без комиссии.
                                        Наша цель - быстро и эффективно предоставить Вам необходимые ресурсы для поиска жилья.
                                    </div>
                                </div>

                            </div>
                            <!-- Accordion card -->
                            <!-- Accordion card -->
                            <div class="card border-bottom-0 border-left border-right border-light">

                                <!-- Card header -->
                                <div class="card-header border-bottom border-light" role="tab" id="headingTwo2">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseTwo2"
                                       aria-expanded="false" aria-controls="collapseTwo2">
                                        <h5 class="black-text font-weight-normal mb-0">
                                            Для кого предназначен интернет-сервис Ros-Rielt? <i class="fas fa-angle-down rotate-icon"></i>
                                        </h5>
                                    </a>
                                </div>

                                <!-- Card body -->
                                <div id="collapseTwo2" class="collapse" role="tabpanel" aria-labelledby="headingTwo2"
                                     data-parent="#accordionEx">
                                    <div class="card-body">
                                        Данный сервис предназначен в первую очередь для желающих снять квартиру без комисси.
                                        Также собственники квартир с помощью Ros-Rielt могут разместить объявление и найти арендаторов.
                                    </div>
                                </div>

                            </div>
                            <!-- Accordion card -->
                            <!-- Accordion card -->
                            <div class="card border-bottom-0 border-left border-right border-light">

                                <!-- Card header -->
                                <div class="card-header border-bottom border-light" role="tab" id="headingThree3">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseThree3"
                                       aria-expanded="false" aria-controls="collapseThree3">
                                        <h5 class="black-text font-weight-normal mb-0">
                                            Почему пользование сайтом платное?! <i class="fas fa-angle-down rotate-icon"></i>
                                        </h5>
                                    </a>
                                </div>

                                <!-- Card body -->
                                <div id="collapseThree3" class="collapse" role="tabpanel" aria-labelledby="headingThree3"
                                     data-parent="#accordionEx">
                                    <div class="card-body">
                                        Соотношение желающих снять привлекательную квартиру и количество таких объявлений всегда не в пользу арендаторов.
                                        По статистике на одну квартиру по доступной цене, с качественным ремонтом в хорошем районе,
                                        приходится свыше 100 желающих ее арендовать. Естественно, что все 100 арендаторов не могут ее снять.
                                        Благодаря «Платному доступу» мы закрываем контакты от части желающих,
                                        и тем самым повышаем шансы тех, кто купил «Подписку»,
                                        снять подходящее жилье по выгодной цене. Хотя надо отметить,
                                        что 100% гарантии все равно дать не можем, поскольку это свободный
                                        рынок и конкуренция между арендаторами остается. Но шансы возрастают.
                                        <br />
                                    </div>
                                </div>

                            </div>
                            <!-- Accordion card -->
                            <!-- Accordion card -->
                            <div class="card border-bottom-0 border-left border-right border-light">

                                <!-- Card header -->
                                <div class="card-header border-bottom border-light" role="tab" id="headingThree4">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseThree4"
                                       aria-expanded="false" aria-controls="collapseThree4">
                                        <h5 class="black-text font-weight-normal mb-0">
                                            Если я позвоню, а квартира уже сдана? <i class="fas fa-angle-down rotate-icon"></i>
                                        </h5>
                                    </a>
                                </div>

                                <!-- Card body -->
                                <div id="collapseThree4" class="collapse" role="tabpanel" aria-labelledby="headingThree4"
                                     data-parent="#accordionEx">
                                    <div class="card-body">
                                        Мы честно говорим, что к сожалению, такое иногда случается, но это редкие случаи.
                                        Когда на сайте появляется хорошая квартира по невысокой цене, она очень быстро сдается.
                                        Порой от появления квартиры до подписания договора проходит всего лишь несколько часов.
                                        Поскольку хороших квартир по невысокой цене крайне мало, а желающих снять такие квартиры намного больше,
                                        тут работает правило – кто первый успел, того и квартира!
                                        Именно по этой причине мы предлагаем доступ не к одной конкретной квартире,
                                        а в целом ко всей базе, так как если сегодня Вы не успели снять квартиру,
                                        то завтра появится другая, которую снимите Вы. Каждый получает свой шанс снять квартиру о которой он мечтает.
                                    </div>
                                </div>

                            </div>
                            <!-- Accordion card -->
                            <div class="card border-left border-right border-light">

                                <!-- Card header -->
                                <div class="card-header border-bottom border-light" role="tab" id="headingThree5">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseThree5"
                                       aria-expanded="false" aria-controls="collapseThree5">
                                        <h5 class="black-text font-weight-normal mb-0">
                                            Для разработчиков <i class="fas fa-angle-down rotate-icon"></i>
                                        </h5>
                                    </a>
                                </div>

                                <!-- Card body -->
                                <div id="collapseThree5" class="collapse" role="tabpanel" aria-labelledby="headingThree5"
                                     data-parent="#accordionEx">
                                    <div class="card-body">
                                        Данный ресурс разработан с помощью стека технологий: Backend сервиса разработан на
                                        .Net Framework c использованием инструментов: C#, EntityFramework, Redis, Autofac, NUnit, MsSql, SignalR, Quartz.
                                        <br />
                                        Frontend сервиса это MVC подход с использованием Razor, MDBootstrap, JQuery.
                                        <br />
                                        Сам проект расположен на GitLab, а так же реализован CI\CD.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Accordion wrapper -->

                    </div>
                </div>

            </section>


        </div>
    </div>
</main>

