﻿
@{
    ViewBag.Title = "FreeAdd";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    @@media only screen and (max-width: 800px) {
        .my-content: margin-bottom: 250px;
    }
</style>
<div class="container my-5 z-depth-1">
    <section class="dark-grey-text">

        <div class="row pr-lg-5">
            <div class="col-md-7 mb-4">

                <div class="view">
                    <img src="~/Images/adF.jpg" class="img-fluid" alt="smaple image" />
                </div>

            </div>
            <div class="col-md-5 d-flex align-items-center my-content">
                <div>

                    <h3 class="font-weight-bold mb-4">Разместить объявлениe!</h3>

                    <p>
                        Разместите объявление абсолютно бесплатно. Наши модераторы постараются как можно быстрее обработать Вашу заявку
                        и добавить объявление на сайте Ros-Rielt.
                    </p>

                    <a class="btn btn-light-blue btn-rounded mx-0" style="margin-bottom: 50px;" href=@Url.Action("AddRequest", "Ad")>Разместить объявление</a>
                </div>
            </div>
        </div>
    </section>

</div>


