﻿@model IEnumerable<string>
@{
    ViewBag.Title = "GetOrderedCalls";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" style="margin-top: 50px;">
    <h2>Заказанные звонки:</h2>
    <br />
    <div class="row">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Номер Телефона</th>
                <th scope="col">Операции</th>
            </tr>
            </thead>
            <tbody>    
            @{ var count = 1; }
            @foreach (var item in Model)
            {
                <tr>
                    <th scope="row">@count</th>
                    <td>@item</td>
                    <td> <a href="@Url.Action("RemoveCall", "Home", new {phoneNumber = item})"class="btn btn-outline-success">Ответил</a></td>
                </tr>

                count++;
            }
            </tbody>
        </table>
    </div>
</div>