﻿@model IEnumerable<Square.UI.Models.SpecialistHelpModel>
@{
    ViewBag.Title = "GetSepcialistHelpRequests";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container" style="margin-top: 50px;">
    <h2>Заявки "Помощь специалиста":</h2>
    <br />
    <div class="row">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Имя</th>
                <th scope="col">Номер телефона</th>
            </tr>
            </thead>
            <tbody>
            @{ var count = 1; }
            @foreach (var item in Model)
            {
                <tr>
                    <th scope="row">@count</th>
                    <td>@item.UserName</td>
                    <td>@item.UserPhoneNumber</td>

                </tr>
                count++;
            }
            </tbody>
        </table>
    </div>
</div>