﻿
@model Square.UI.Models.SpecialistHelpModel
@{
    ViewBag.Title = "GetSpecialistHelper";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid mt-3 mb-5">

    <!-- Section -->
    <section class="">

        <div class="mask py-5">

            <div class="container my-4">
                <div class="row align-items-center">
                    <div class="col-md-5">

                        <h2 class="font-weight-bold  pb-2" style="font-weight: bold;">Помощь специалиста</h2>
                        <p class="lead  pt-2 mb-5">Оставьте заявку для получения услуги<br> "Помощь специалиста"<br>Мы свяжемся с Вами в ближайшее время.</p>


                        <form action="/Home/GetSpecialistHelper" method="post">
                            <div class="form-row">
                                <div class="col-md-6 md-form ">
                                    <input name="UserName" placeholder="Имя" type="text" class="form-control" value="@Model.UserName">
                                    @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger", @style = "font-size: 15px;" })
                                </div>
                                <div class="col-md-6  md-form ">
                                    <input id="phone-mask" name="UserPhoneNumber" type="text" placeholder="Номер телефона" data-success="right" data-error="wrong" class="form-control" value="@Model.UserPhoneNumber">
                                    @Html.ValidationMessageFor(model => model.UserPhoneNumber, "", new { @class = "text-danger", @style = "font-size: 15px;" })
                                </div>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-light-green m-0 px-4 py-2 z-depth-0">Оставить заявку<i class="fas fa-arrow-right pl-2"></i></button>
                            </div>
                        </form>

                    </div>
                    <div class="col-md-5 offset-lg-2 wow fadeInUpBig" data-wow-delay=".2s">

                        <img src="~/Images/specHelpSQ.jpg" style="width:100%; height: 500px;" e-admin.png" alt="Sample image" class="img-fluid">

                    </div>

                </div>

            </div>

        </div>

    </section>

</div>


