﻿@using Square.Common.Entities.Portal
@model IEnumerable<Square.UI.Models.AccountEntityModel.UserModel>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" style="margin-top: 50px;">
    <h2>Пользователи:</h2>
    <br />
    <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Номер телефона</th>
                    <th scope="col">Имя</th>
                    <th scope="col">Фамилия</th>
                    <th scope="col">Email</th>
                    <th scope="col">Текущая Роль</th>
                    <th scope="col">Поменять Роль</th>
                    <th scope="col">Удалить</th>
                </tr>
            </thead>
            <tbody>
                @{ var count = 1; }
                @foreach (var item in Model)
                {
                    
                
                <tr>
                    <th scope="row">@count</th>
                    <td>@item.PhoneNumber</td>
                    <td>@item.FirstName</td>
                    <td>@item.LastName</td>
                    <td>@item.Email</td>
                    <td>@item.Role.Name</td>
                    <td>
                        @if (User.Identity.Name == item.PhoneNumber)
                        {
                            <a href="" class="btn btn-outline-info disabled">Отключено</a>
                        }
                        else
                        {
                            if (item.Role.RoleID == (int)SquareRoleEnum.User || item.Role.RoleID == (int)SquareRoleEnum.Subscriber)
                            {
                                <a href=@Url.Action("ChangeRoleUser", "Home", new {userID = item.UserID, role = SquareRoleEnum.Admin}) class="btn btn-outline-info">Сделать админом</a>
                            }
                            else if (item.Role.RoleID == (int)SquareRoleEnum.Admin)
                            {
                                <a href=@Url.Action("ChangeRoleUser", "Home", new {userID = item.UserID, role = SquareRoleEnum.User}) class="btn btn-outline-info">Сделать юзером</a>
                            }
                            else
                            {
                                <a href="" class="btn btn-outline-info disabled">Отключен</a>
                            }
                        }
                  

                    </td>
                    <td>
                        @if (User.Identity.Name == item.PhoneNumber)
                        {
                        <a href="" class="btn btn-outline-info disabled">Отключено</a>
                        }
                        else
                        {
                            <button type="button" name="Model" class="btn btn-outline-danger" data-toggle="modal" value="@item.UserID" data-target="#DeleteUserConfirmation">
                                Удалить
                            </button>
                        }
                    </td>
                </tr>
                    count++;

                    
                    @Html.Partial("_DeleteUserConfirmation", item);
                }
            </tbody>
        </table>
    </div>
</div>
