﻿@{
    <link href="~/Content/HomePage/Home.css" rel="stylesheet" />
    <link href="~/Content/Home/sd.css" rel="stylesheet" />
    <link href="~/Content/Home.css" rel="stylesheet" />
}

<style>
    .actionbtns a:hover {
        color: white;
    }
</style>
<div class="container " style="color: black;  margin-bottom: 20px;">
    <div class="row" style="margin-top:20px; margin-left: 10px;">
        <div class="col-md-6 homeTitle">
            <h1 style=" margin-top: 100px;">Аренда</h1>
            <h1>недвижимости</h1>
            <h1>без посредников</h1>
            <h1>в Москве</h1>
        </div>
        <div class="col-md-6 homeGif" style="width: 100%;">
            <img style="width: 100%;" src="https://media.giphy.com/media/8Z4hnKjmF0UiQ/giphy.gif">
        </div>
    </div>
    <div class="form-row actionbtns" style="">
        <div class="col-md-3 text-box3">
            <a href=@Url.Action("Index", "Price") class="btnm btn-white btn-animate" style="font-weight: bold; font-size: 18px;"><img class="icon" style="width: 40px; height: 40px; margin-right: 10px;" src="~/Images/bid.png" />Подписки</a>
        </div>
        <div class="col-md-3  text-box3">
            <a href=@Url.Action("Comments", "Home") class="btnm btn-white btn-animate" style="font-weight: bold; font-size: 18px;"><img class="icon" style="width: 40px; height: 40px; margin-right: 10px;" src="~/Images/comment.png" />Отзывы</a>
        </div>
        <div class="col-md-4 text-box3">
            <a href=@Url.Action("DownloadFile", "Home") class="btnm btn-white btn-animate" style="font-weight: bold; font-size: 18px;"><img class="icon" style="width: 40px; height: 40px; margin-right: 10px;" src="~/Images/file.png" />Договор аренды</a>
        </div>
    </div>
    <div class="card-deck mb-3 text-center homecontainer" style="margin-top: 80px;">
        <div class="card mb-4 box-shadow mylink card-1 myLink1" style="min-width: 280px;background-color: rgb(77, 119, 202); width: 300px; cursor: pointer">
            <a  href=@Url.Action("Index", "Ad")>
                <div class="card-body" style="color: white;">
                    <span style="float: left; margin-bottom: 20px; margin-left: 0; font-size: 24px; font-weight: bold; text-align: left;">Аренда недвижимости</span>
                    <span style="float: left; font-size: 21px; margin-left: 0; text-align: left; margin-bottom: 5px;">Аренда недвижимости от собственника, без посредников и без переплат.</span>
                </div>
                <p >
                    <img class="icon" style="width: 90px; height: 90px; margin-top: 70px; margin-bottom: 25px; margin-right: 130px;" src="~/Images/flat.png" />
                </p>
            </a>
        </div>
        <div class="card mb-4 box-shadow card-1" style="min-width: 280px; height: 400px; max-height: 400px; background-color: rgb(62, 142, 201); width: 300px; cursor: pointer">
            <a href=@Url.Action("SignUp", "Account")>
                <div class="card-body" style="color: white;">
                    <span style="float: left; margin-bottom: 20px; margin-left: 0; font-size: 24px; font-weight: bold; text-align: left;">Регистрация</span>
                    <span style="float: left; font-size: 21px; margin-left: 0; text-align: left; margin-bottom: 5px;"> 
                        Вход в систему позволит покупать подписки и добавлять заявки на объявления
                    </span>
                </div>
                <p >
                    <img class="icon" style="width: 90px; height: 90px; margin-top: 35px; margin-bottom: 25px; margin-right: 130px;" src="~/Images/shield.png"/>
                </p>
            </a>
        </div>
        <div class="card mb-4 box-shadow  card-1" style="min-width: 280px; max-height: 400px; background-color: rgb(255, 158, 89); width: 300px; cursor: pointer">
            <a href=@Url.Action("News", "Home")>
                <div class="card-body" style="color: white;">
                    <span style="float: left; margin-bottom: 20px; margin-left: 0; font-size: 24px; font-weight: bold;">Новости и акции</span>
                    <span style="float: left; font-size: 21px; margin-left: 0; text-align: left; margin-bottom: 5px;">Следите за интересными новостями и акциями.</span>
                </div>
                <p> <img class="icon" style="width: 90px; height: 90px; margin-top: 100px; margin-bottom: 25px; margin-right: 130px;" src="~/Images/gift.png" /></p>
            </a>
        </div>
    </div>
</div>