﻿@model Square.UI.Models.NewsModel
@{
    ViewBag.Title = "GetNewsByID";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .card-cascade img {
        height: 300px;
        object-fit: cover;
    }

    img {
        max-width: 100%;
        height: auto;
    }

    iframe {
        max-width: 100%;
    }
</style>

<div class="container mt-5">
    <!--Section: Content-->
    <section class="mx-md-5 dark-grey-text">

        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-12">

                <!-- Card -->
                <div class="card card-cascade wider reverse">

                    <!-- Card image -->
                    <div class="view view-cascade overlay">
                        @if (Model.MainImgName != null)
                        {
                            <img class="card-img-top" src="~/BlogImgStore/@Model.MainImgName" alt="Sample image">
                        }
                        else
                        {
                            <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Slides/img%20(142).jpg" alt="Sample image">
                        }
                        <a href="#!">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>

                    <!-- Card content -->
                    <div class="card-body card-body-cascade text-center">

                        <!-- Title -->
                        <h3 class="font-weight-bold"><a>@Model.NewsTitle</a></h3>
                        <!-- Data -->
                        <p>Автор блога <a><strong>Ros-Rielt</strong></a>, @Model.UpdatedDate.ToString("dd-MM-yyyy HH:mm")</p>

                    </div>
                    <!-- Card content -->

                </div>
                <!-- Card -->
                <!-- Excerpt -->    
                <div class="mt-5">
                    @Html.Raw(Model.Content)
                </div>

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

        <hr class="mb-5 mt-4">

    </section>
    <!--Section: Content-->


</div>

