﻿@using Square.Common.Extension
@model IEnumerable<Square.UI.Models.NewsModel>
@{
    ViewBag.Title = "News";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    @@media (max-width: 992px) {
        .news-tile .card-title {
            font-size: 1.2rem;
        }
    }

    .news-tile .card-title {
        position: absolute;
        bottom: 15px;
        left: 30px;
        text-align: left;
    }

    .news-tile h4 {
        font-size: 1.2rem;
    }

    .news-tile h3 {
        font-size: 1.6rem;
    }

    .rgba-stylish-strong {
        background-color: rgba(62, 69, 81, .5);
    }

    .view:hover {
        -webkit-filter: brightness(140%);
        transition: all .4s ease-in-out;
    }

    .view {
        transition: all .4s ease-in-out;
    }
</style>


<div class="container mt-5">
    <section>
        <h2 class="text-center font-weight-bold mb-4 pb-2">Новости и Акции</h2>
        <p class="text-center mx-auto w-responsive mb-5">Следите за нашими новостями и акциями. <br />Интересные истории в нашем Блоге, а так же полезные советы для арендаторов и арендодателей. </p>
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-lg-4 col-md-12 mb-4">
                    <div class="news-tile view zoom z-depth-1 rounded mb-4">
                        <a href=@Url.Action("GetNewsByID", "Home", new {newsID = item.NewsID}) class="text-white">
                            @if (!string.IsNullOrWhiteSpace(item.MainImgName))
                            {
                                <img src="~/BlogImgStore/@item.MainImgName" class="img-fluid rounded-bottom" alt="sample image" />
                            }
                            else
                            {
                                <img src="https://mdbootstrap.com/img/Photos/Horizontal/City/6-col/img%20(27).jpg" class="img-fluid rounded-bottom" alt="sample image">
                            }
                            <div class="mask rgba-stylish-strong">
                                <div class="text-white text-center py-lg-5 py-0 my-0">
                                    <div>
                                        <h4 class="card-title font-weight-bold pt-2">
                                            <strong>@item.NewsTitle</strong>
                                        </h4>
                                        <p class="mx-5 clearfix d-none d-md-block"></p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            }
        </div>
    </section>
</div>