﻿
@{
    ViewBag.Title = "PaymentRules";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container" style="width: 70%; margin: 0 auto; margin-top: 30px;">
    <h2>Правила оплаты и безопасность платежей, конфиденциальность информации</h2>
    <br />
    <p>Оплата банковскими картами осуществляется через АО «АЛЬФА-БАНК».</p>
    <br />
    <img style="width: 280px; margin-right: 5px; margin-top: 2px" src="~/Images/payment/AlfaBank.png" />
    <br />
    <br />
    <p>К оплате принимаются карты VISA, MasterCard, МИР.</p>
    <ul class="list-unstyled list-inline py-2">
        <li class="payType list-inline-item">
            <img style="width: 100px; margin-right: 5px; margin-top: 2px" src="~/Images/payment/15.png" />
            <img style="width: 100px; margin-right: 5px; margin-top: 2px" src="~/Images/payment/16.png" />
            <img style="width: 100px; margin-right: 5px; margin-top: 2px" src="~/Images/payment/18.png" />
        </li>
    </ul>
    <br />
    <p>
        Услуга оплаты через интернет осуществляется в соответствии с Правилами международных платежных систем Visa, MasterCard
        и Платежной системы МИР на принципах соблюдения конфиденциальности и безопасности совершения платежа, для чего используются
        самые современные методы проверки, шифрования и передачи данных по закрытым каналам связи. Ввод данных банковской карты осуществляется
        на защищенной платежной странице АО «АЛЬФА-БАНК».
    </p>
    <br />
    <p>
        На странице для ввода данных банковской карты потребуется ввести данные банковской карты: номер карты,
        имя владельца карты, срок действия карты, трёхзначный код безопасности (CVV2 для VISA, CVC2 для MasterCard,
        Код Дополнительной Идентификации для МИР). Все необходимые данные пропечатаны на самой карте.
        Трёхзначный код безопасности — это три цифры, находящиеся на обратной стороне карты.
    </p>
    <br />
    <p>
        Далее вы будете перенаправлены на страницу Вашего банка для ввода кода безопасности, который придет к Вам в СМС. Если код безопасности к Вам не пришел, то следует обратиться в банк выдавший Вам карту.
    </p>
    <ul class="list-unstyled list-inline py-2">
        <li class="payType list-inline-item">
            <img style="width: 180px; margin-right: 5px; margin-top: 2px" src="~/Images/payment/24.png" />
            <img style="width: 180px; margin-right: 5px; margin-top: 2px" src="~/Images/payment/23.png" />
            <img style="width: 180px; margin-right: 5px; margin-top: 2px" src="~/Images/payment/22.png" />
        </li>
    </ul>
    <br />
    <p>
        Случаи отказа в совершении платежа: <br /> <br />
        ✅ банковская карта не предназначена для совершения платежей через интернет, о чем можно узнать, обратившись в Ваш Банк; <br /><br />
        ✅ недостаточно средств для оплаты на банковской карте. Подробнее о наличии средств на банковской карте Вы можете узнать, обратившись в банк, выпустивший банковскую карту; <br /><br />
        ✅ данные банковской карты введены неверно;  <br /><br />
        ✅ истек срок действия банковской карты. Срок действия карты, как правило, указан на лицевой стороне карты (это месяц и год, до которого действительна карта).
        Подробнее о сроке действия карты Вы можете узнать, обратившись в банк, выпустивший банковскую карту;
    </p>
    <br />
    <p>
        По вопросам оплаты с помощью банковской карты и иным вопросам, связанным с работой сайта, Вы можете обращаться по следующим телефонам: <span style="font-weight: bold;">8-(960)-357-86-58.</span>

    </p>
    <br />
    <p>
        Предоставляемая вами персональная информация (имя, адрес, телефон, e-mail, номер банковской карты) является конфиденциальной и не подлежит разглашению. Данные вашей кредитной карты передаются только в зашифрованном виде и не сохраняются на нашем Web-сервере.
    </p>

    <br />
    <br />
    <h2>Правила возврата товара</h2>
    <br />
    <p>
        При оплате картами возврат наличными денежными средствами не допускается.
        Порядок возврата регулируется правилами международных платежных систем.
    </p>
    <br />
    <p>
        Процедура возврата товара регламентируется статьей 26.1 федерального закона «О защите прав потребителей». <br /> <br />
        ✅ Потребитель вправе отказаться от товара в любое время до его передачи, а после передачи товара - в течение семи дней; <br /><br />
        ✅ Возврат товара надлежащего качества возможен в случае, если сохранены его товарный вид, потребительские свойства, а также документ, подтверждающий факт и условия покупки указанного товара; <br /><br />
        ✅ Потребитель не вправе отказаться от товара надлежащего качества, имеющего индивидуально-определенные свойства, если указанный товар может быть использован исключительно приобретающим его человеком; <br /><br />
        ✅ При отказе потребителя от товара продавец должен возвратить ему денежную сумму, уплаченную потребителем по договору, за исключением расходов продавца на доставку от потребителя возвращенного товара, не позднее чем через десять дней со дня предъявления потребителем соответствующего требования;
    </p>
    <br />
    <p>
        Для возврата денежных средств на банковскую карту необходимо заполнить «Заявление о возврате денежных средств», которое высылается по требованию компанией на электронный адрес и оправить его вместе с приложением копии паспорта по адресу support@ros-rielt.ru
    </p>
    <br />
    <p>
        Возврат денежных средств будет осуществлен на банковскую карту в течение 21 (двадцати одного) рабочего дня со дня получения «Заявление о возврате денежных средств» Компанией.
    </p>
    <br />
    <p>
        Для возврата денежных средств по операциям проведенными с ошибками необходимо обратиться с письменным заявлением и приложением копии паспорта и чеков/квитанций, подтверждающих ошибочное списание. Данное заявление необходимо направить по адресу support@ros-rielt.ru
    </p>
    <br />
    <p>
        Сумма возврата будет равняться сумме покупки. Срок рассмотрения Заявления и возврата денежных средств начинает исчисляться с момента получения Компанией Заявления и рассчитывается в рабочих днях без учета праздников/выходных дней.
    </p>
    <br />
    <br />
    <h2>Контактная информация</h2>
    <br/>
    <div class="row">
        <table class="table" style="width: 700px;">
            <tbody>
                <tr>
                    <td>Название компании</td>
                    <td>ИП "ПЕЛИПЕНКО ОЛЬГА АЛЕКСАНДРОВНА"</td>
                </tr>
                <tr>
                    <td>ИНН</td>
                    <td>645115522861</td>
                </tr>
                <tr>
                    <td>Фактический адрес</td>
                    <td>г. Саратов, ул. Орджоникидзе 12, 40</td>
                </tr>
                <tr>
                    <td>Телефон</td>
                    <td>8-(965)-884-52-39</td>
                </tr>
                <tr>
                    <td>E-mail:</td>
                    <td>support@ros-rielt.ru</td>
                </tr>
            </tbody>
        </table>
    </div>

</div>

