﻿
@{
    ViewBag.Title = "PersonalHelper";
}

@model Square.UI.Models.PersonalHelperModel


<link href="~/Scripts/filepond-master/dist/filepond.css" rel="stylesheet" />
<link href="~/Scripts/filepond-plugin-image-preview-master/dist/filepond-plugin-image-preview.css" rel="stylesheet" />


<style>
    .imagePreview {
        width: 100%;
        height: 180px;
        background-position: center center;
        background-image: url('../../Images/ph1.jpg');
        background-color: #fff;
        background-size: cover;
        background-repeat: no-repeat;
        display: inline-block;
        object-fit: cover;
    }

    .imgUp {
        margin-bottom: 15px;
    }

    .del {
        position: absolute;
        top: 0px;
        right: 15px;
        width: 40px;
        height: 40px;
        text-align: center;
        line-height: 30px;
        cursor: pointer;
    }
</style>

<style>
    .form-row .col-md-5 {
        margin-top: 25px;
    }

    .form-row .col-md-7 {
        margin-top: 25px;
    }
</style>


<style>

    /**
    * FilePond Custom Styles
    */
    .filepond--drop-label {
        color: #4c4e53;
    }

    .filepond--label-action {
        text-decoration-color: #babdc0;
    }

    .filepond--panel-root {
        border-radius: 2em;
        background-color: #edf0f4;
        height: 1em;
    }

    .filepond--item-panel {
        background-color: #595e68;
    }

    .filepond--drip-blob {
        background-color: #7f8a9a;
    }

    .testImage label {
        color: black;
    }
</style>

<style>
    .comfort {
        margin-left: 20px;
    }

        .comfort div {
            margin-right: 40px;
        }

    ::-webkit-input-placeholder {
        font-size: 15px;
    }

    .jumbotron {
        height: 250px;
    }

    .jumbotron {
        position: relative;
        overflow: hidden;
        background-color: black;
    }

        .jumbotron video {
            position: absolute;
            z-index: 1;
            top: 0;
            width: 100%;
            height: 100%;
            /*  object-fit is not supported on IE  */
            object-fit: cover;
            opacity: 0.5;
        }

        .jumbotron .container {
            z-index: 2;
            position: relative;
        }
</style>


<div class="jumbotron jumbotron-fluid imagePreview">
    @*<video class="video-fluid" playsinline autoplay loop muted>
        <source src="https://ros-rielt.ru/video/typing.mp4" type="video/mp4" />
    </video>*@
    <div class="container text-white">
        <h1 class="display-4" style="font-size: 45px;">Личный помощник</h1>
        <p class="lead">
            Установите нужные Вам фильтры и получайте новые объявления на почту.
        </p>
    </div>
</div>
<div class="container ad-form" style="margin-top: 10px;">


    <form action="/Ad/AddRequest" method="post" enctype="multipart/form-data" style="margin-top: 50px;">

        @Html.AntiForgeryToken()
        <div class="form-group row">
            <label for="colFormLabelLg" class="col-md-3 col-form-label col-form-label-lg" style="font-size: 22px;">1. Укажите город</label>
            <div class="col-md-9">
                <select id="City" name="LocationInfo.CityID" class="form-control form-control-lg" style="width: 100%;">
                    @foreach (var city in Model.Cities)
                    {
                        if (city.CityID == Model.LocationInfo.CityID)
                        {
                            <option selected id="CityID" name="CityID" value="@city.CityID">@city.Name</option>
                        }
                        else
                        {
                            <option id="CityID" name="CityID" value="@city.CityID">@city.Name</option>
                        }
                    }
                </select>
            </div>
        </div>

        <div class="form-group row">
            <label for="colFormLabelLg" class="col-md-3 col-form-label col-form-label-lg" style="font-size: 22px;">4. Укажите метро</label>
            <div class="col-md-9">
                <select id="District" name="LocationInfo.DistrictID" class="form-control form-control-lg" style="width: 100%;">
                    @foreach (var district in Model.Cities.First().Districts)
                    {
                        if (district.DistrictID == Model.LocationInfo.DistrictID)
                        {
                            <option selected id="DistrictID" name="DistrictID" value="@district.DistrictID">@district.Name</option>
                        }
                        else
                        {
                            <option id="DistrictID" name="DistrictID" value="@district.DistrictID">@district.Name</option>
                        }
                    }
                </select>

            </div>
        </div>

        <div class="form-group row">
            <label for="colFormLabelLg" class="col-md-3 col-form-label col-form-label-lg" style="font-size: 22px;">5. Стоимость в месяц От</label>

            <div class="input-group-lg col-md-9 mb-3">
                <input name="Price" type="number" size="11" value="@Model.PriceFrom" class="form-control currency" />

                @Html.ValidationMessageFor(model => model.PriceFrom, "", new { @class = "text-danger", @style = "font-size: 12px;" })
            </div>

        </div>

        <div class="form-group row">
            <label for="colFormLabelLg" class="col-md-3 col-form-label col-form-label-lg" style="font-size: 22px;">5. Стоимость в месяц До</label>

            <div class="input-group-lg col-md-9 mb-3">
                <input name="Price" type="number" size="11" value="@Model.PriceTo" class="form-control currency" />

                @Html.ValidationMessageFor(model => model.PriceTo, "", new { @class = "text-danger", @style = "font-size: 12px;" })
            </div>

        </div>

        <div class="form-group row">
            <label for="colFormLabelLg" class="col-md-3 col-form-label col-form-label-lg" style="font-size: 22px;">6. Кол-во комнат</label>

            <div class="input-group-lg col-md-9 " style="padding-top: 9px;">
                <div class=" col-md-9" style="padding-top: 9px;">
                    <div class="custom-control custom-checkbox custom-control-inline">

                        @if (Model.RoomsCountModel != null && Model.RoomsCountModel.One)
                        {
                            <input type="checkbox" name="RoomsCountModel.One" value="true" class="custom-control-input sev_check" id="defaultInline1" checked="">
                        }
                        else
                        {

                            <input type="checkbox" name="RoomsCountModel.One" value="true" class="custom-control-input sev_check" id="defaultInline1">
                        }
                        <label class="custom-control-label" for="defaultInline1">1</label>
                        <input type="hidden" value="false" name="RoomsCountModel.One" />
                    </div>

                    <div class="custom-control custom-checkbox custom-control-inline">

                        @if (Model.RoomsCountModel != null && Model.RoomsCountModel.Two)
                        {

                            <input type="checkbox" name="RoomsCountModel.Two" value="true" class="custom-control-input sev_check" id="defaultInline2" checked>
                        }
                        else
                        {

                            <input type="checkbox" name="RoomsCountModel.Two" value="true" class="custom-control-input sev_check" id="defaultInline2">
                        }
                        <label class="custom-control-label" for="defaultInline2">2</label>
                        <input type="hidden" value="false" name="RoomsCountModel.Two" />
                    </div>

                    <div class="custom-control custom-checkbox custom-control-inline">
                        @if (Model.RoomsCountModel != null && Model.RoomsCountModel.Tree)
                        {

                            <input type="checkbox" name="RoomsCountModel.Tree" value="true" class="custom-control-input sev_check" id="defaultInline3" checked>
                        }
                        else
                        {
                            <input type="checkbox" name="RoomsCountModel.Tree" value="true" class="custom-control-input sev_check" id="defaultInline3">

                        }

                        <label class="custom-control-label" for="defaultInline3">3</label>
                        <input type="hidden" value="false" name="RoomsCountModel.Tree" />
                    </div>

                    <div class="custom-control custom-checkbox custom-control-inline">
                        @if (Model.RoomsCountModel != null && Model.RoomsCountModel.FourAndMore)
                        {

                            <input type="checkbox" name="RoomsCountModel.FourAndMore" value="true" class="custom-control-input sev_check" id="defaultInline4" checked>
                        }
                        else
                        {

                            <input type="checkbox" name="RoomsCountModel.FourAndMore" value="true" class="custom-control-input sev_check" id="defaultInline4">
                        }


                        <label class="custom-control-label" for="defaultInline4">4+</label>
                        <input type="hidden" value="false" name="RoomsCountModel.FourAndMore" />
                    </div>
                </div>
            </div>
        </div>


        @if (!User.IsInRole("Subscriber"))
        {


    <p class="ml-xl-0 mt-5" >
        <strong><i class="fa fa-info-circle text-danger  fa-2x"></i> </strong> Чтобы подключить Личного помощника, необходимо приобрести подписку "Стандартный" или "Премиум"
    </p>

            <div class="form-row disabled" style="margin-top: 70px;">
                <button class="btn btn-light-green disabled" type="submit" style="margin: 0 auto; width: 400px;">Получать уведомления</button>
            </div>

        }
        else
        {

            <div class="form-row" style="margin-top: 70px;">
                <button class="btn btn-light-green" type="submit" style="margin: 0 auto; width: 400px;">Получать уведомления</button>
            </div>
        }
    </form>
</div>


@section scripts{
    <script src="~/Scripts/filepond-plugin-image-preview-master/dist/FilePondPluginFileValidateSize.js"></script>
    <script src="~/Scripts/filepond-plugin-image-preview-master/dist/FilePondPluginFileValidateType.js"></script>
    <script src="~/Scripts/filepond-plugin-image-preview-master/dist/filepond-plugin-image-preview.js"></script>
    <script src="~/Scripts/filepond-plugin-image-preview-master/dist/FilePondPluginFileEncode.js"></script>
    <script src="~/Scripts/filepond-master/dist/filepond.js"></script>


    <script>
        FilePond.registerPlugin(FilePondPluginFileValidateSize);
        FilePond.registerPlugin(FilePondPluginFileValidateType);
        FilePond.registerPlugin(FilePondPluginImagePreview);
        FilePond.registerPlugin(FilePondPluginFileEncode);
        var inputElement = document.getElementById("File1");

        // Select the file input and use create() to turn it into a pond
        FilePond.create(
            inputElement,
            {
                acceptedFileTypes: ['image/*'],
                fileValidateTypeDetectType: (source, type) => new Promise((resolve, reject) => {

                    // Do custom type detection here and return with promises

                    resolve(type);
                })
            }
        );
    </script>

    <script src="~/Scripts/imask.js"></script>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var phoneMask = IMask(document.getElementById('phone-mask'), {
                mask: '+{7}(000)000-00-00'
            }).on('accept', function () {
                document.getElementById('phone-complete').style.display = '';
                document.getElementById('phone-unmasked').innerHTML = phoneMask.unmaskedValue;
            }).on('complete', function () {
                document.getElementById('phone-complete').style.display = 'inline-block';
            });
        });
    </script>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var phoneMask = IMask(document.getElementById('phone-mask2'), {
                mask: '+{7}(000)000-00-00'
            }).on('accept', function () {
                document.getElementById('phone-complete').style.display = '';
                document.getElementById('phone-unmasked').innerHTML = phoneMask.unmaskedValue;
            }).on('complete', function () {
                document.getElementById('phone-complete').style.display = 'inline-block';
            });
        });
    </script>
}
