﻿@model string
@{
    ViewBag.Title = "Policy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" style="width: 70%; margin: 0 auto; margin-top: 30px;">
    <h2>Политика в отношении обработки персональных данных</h2>
    <p>@Model</p>
</div>

