﻿
@{
    ViewBag.Title = "SecurityPayment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .descr {
       margin-top: 50px;
        margin-bottom: 50px;

    }

    
    @@media only screen and (max-width: 800px) {
        .descr {
            margin-top: 10px;
        }
    }
</style>
<div class="container my-5 z-depth-1">


    <!--Section: Content-->
    <section class="dark-grey-text">

        <div class="row pr-lg-5">
            <div class="col-md-7 mb-5" >

                <div class="view">
                    <img src="~/Images/securityPayment.jpg" class="img-fluid" alt="smaple image" />
                </div>

            </div>
            <div class="col-md-5 d-flex align-items-center my-content">
                <div class="descr">

                    <h3 class="font-weight-bold mb-4">Безопасная оплата!</h3>

                    <p>
                        Никто не узнает данные вашей карты: оплата пройдёт через АО «АЛЬФА-БАНК».
                        К оплате принимаются карты VISA, MasterCard, МИР.
                    </p>
                    <ul class="list-unstyled list-inline " style="   margin-bottom: 0px;">
                        <li class="payType list-inline-item">
                            <img style="width: 50px; margin-right: 5px; margin-top: 2px" src="~/Images/payment/15.png" />
                            <img style="width: 50px; margin-right: 5px; margin-top: 2px" src="~/Images/payment/16.png" />
                            <img style="width: 50px; margin-right: 5px; margin-top: 2px" src="~/Images/payment/18.png" />
                        </li>
                    </ul>
                    <br />
                    <p>
                        Услуга оплаты через интернет осуществляется в соответствии с Правилами международных платежных
                        систем Visa, MasterCard и Платежной системы МИР
                        на принципах соблюдения конфиденциальности и безопасности совершения платежа,
                        для чего используются самые современные методы проверки, шифрования и передачи данных по закрытым каналам связи.
                        Ввод данных банковской карты осуществляется на защищенной платежной странице АО «АЛЬФА-БАНК».
                    </p>

                    <a class="btn btn-light-green btn-rounded mx-0" href=@Url.Action("Index", "Price")>Приобрести подписку</a>
                </div>
            </div>
        </div>

    </section>
    <!--Section: Content-->


</div>


