﻿
@{
    ViewBag.Title = "SpecialistHelperNotification";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="alert alert-success" role="alert" style="width: 90%; margin: 0 auto; margin-top: 20px;">
    <h1 class="alert-heading">Заявка успешно отправлена!</h1>
    <p>Наши администраторы постараются как можно быстрее обработать текущую заявку и свяжутся с Вами в ближайшее время. Спасибо!</p>
    <hr>
    <p><a href="@Url.Action("Index", "Home")" class="btn btn-primary btn-lg" role="button">Хорошо</a></p>
</div>

