﻿
@{
    ViewBag.Title = "Specialist";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

}
<style>
    .descr {
        margin-top: 50px;
        margin-bottom: 50px;

    }

    
    @@media only screen and (max-width: 800px) {
        .descr {
            margin-top: 10px;
        }
    }
</style>
<div class="container my-5 z-depth-1">


    <!--Section: Content-->
    <section class="dark-grey-text">

        <div class="row pr-lg-5">
            <div class="col-md-7 mb-4">

                <div class="view">
                    <img src="~/Images/specialistHelp.jpg" class="img-fluid" alt="smaple image" />
                </div>

            </div>
            <div class="col-md-5 d-flex align-items-center my-content">
                <div  class="descr">

                    <h3 class="font-weight-bold mb-4">Помощь специалиста!</h3>

                    <p>
                        Если у вас нет времени на поиск квартиры,
                        вы можете воспользоваться услугой специалиста по недвижимости,
                        который, исходя из ваших возможностей и предпочтений: стоимость, район, наличие детей, животных, и т.д, 
                        подберёт для вас максимальное количество вариантов. Самостоятельно созвонится с собственниками квартир, договорится о просмотре.
                    </p>
                    <hr/>
                    <p>
                        Данная услуга доступна при наличии подписки "Премиум".
                    </p>

                    <a class="btn btn-orange btn-rounded mx-0" href=@Url.Action("GetSpecialistHelper", "Home")>Воспользоваться услугой</a>
                </div>
            </div>
        </div>

    </section>
    <!--Section: Content-->


</div>

