﻿.ad-info {
    margin: auto;
    margin-top: 30px;
    width: 70%;
}

.ad-info .card-text {
    font-size: 20px;
}

.ad-info .admin-action {
    overflow: auto; 
    width: 100%;
    margin: auto;
}

.ad-info .admin-action .admin-action-button {
    width: 40%;
    margin: 10px;
}

.ad-carousel{
    width: 100%; 
    height: 100%;
}

.ad-carousel .carousel-inner {
    width: 100%;
    height: 100%;
}

.ad-carousel .carousel-item {
    width: 100%;
    height: 100%;
}

.ad-carousel .carousel-item img{
    width: 100%;
    height: 100%;
}

.adinfotitle img {
    width: 50px;
    height: 50px;
}

.myimg {
    height: 450px;
    padding-top: 10px;
    float: left;
    margin-bottom: 10px;
}

.pricing-card-title {
    display: inline-block;
    font-size: 55px;
}

.mainimgs .col-md-5 {
    padding-left: 40px;
}
.title-el{
    float: left;
    height: 100%;
}

.pricing-card-title{
    margin-bottom: 0px;
    font-size: 50px;
}

@media only screen and (max-width: 500px) {
    .adinfotitle .mr-auto {
        margin-bottom: 20px;
    }

    .pricing-card-title {
        display: inline-block;
        font-size: 35px;
    }

    .mainimgs .col-md-5 {
        padding-left: 0px;
    }

    .myimg{
        padding-left: 0px !important;
        width: 100%;
        height: auto;
        margin-bottom: 30px;
    }

    .title-el{
        visibility: hidden;
        width: 0;
        height: 0;
    }
    
    .phoneAndImage{
        width: 100%;
    }
    .phoneAndImage button{
        width: 100%;
    }

    .pricing-card-title{
        font-size: 40px;
    }

    .ad-description {
        padding-left: 20px;
    }

    .comfort {
        padding-left: 20px;
    }

    .vcount {
        padding-left: 20px;
    }

    .vadded {
        padding-left: 20px;
    }
}

