﻿body {
    background-color: whitesmoke;
}

.body-content {
    height: 100%;
}

.ad-list{
    margin: 0 0;
}

.ad-list .ad-table{
    margin: 20px auto;
}
.ad-list .ad-items {
    margin-top: 30px;
}

.ad-carousel {
    width: 100%;
}

.ad-carousel .carousel-inner img {
    height: 250px;
    object-fit: cover;
}

.ad-carousel .carousel-inner .carousel-caption {
    margin-bottom: 250px;
}
