﻿body {
    background-image: url('../Images/emily-ziegelmeyer-byQGffcdNZY-unsplash.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    /*color: white;*/
}

/*Add Item*/
.ad-form {
    width: 100%;
    margin: 100px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ad-form label {
    color: white;
}

.ad-form form {
    width: 80%;
}

.ad-form mb-2 {
    width: 400px;
}

.ad-form .attachments {
    margin: 20px 0;
    color: white;
}

.ad-form .attachments label {
    margin-right: 10px;
}

.ad-form button {
    margin: 20px auto;
}
