﻿html, body {
    height: 100%;
}
@font-face {
    font-family: 'Julietta-Messie-Demo';
    src: url('../Fonts/Julietta-Messie-Demo.ttf') format('truetype');
}


.body-content {
    padding: 0;
    margin: auto;
    width: 100%;
    height: 100%;
}

.nav-main .search-form input {
    width: 500px;
}

.home-video {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    z-index: -100;
    position:relative;
}

.ad-items {
    margin: 0 50px;
}

.ad-list .card {
    width: 18rem;
    display: inline-block;
    margin: 10px 10px;
}

.home-video .home-btn-ads {
    width: 200px;
    height: 100px;
    margin: 100px auto;
}

.home-video-overlay-btn {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 15%;
    right: 20%;
    width: 70%;
    margin: auto;
    text-align: center;
    display: inline-block;
}


.home-btn-nav {
    display: inline-block;
    margin: 8px 8px;
    width: 160px;
}

.home-video-overlay-btn .ads-button {
    width: 100%;
    height: 60px;
    font-size: 20px;
    text-align: center;
    line-height: 30px;
    margin: 0 7px;
}

.bouncy {
    animation: bouncy 5s infinite linear;
    position: relative;
}

@keyframes bouncy {
    0%{top:0em}
    40%{top:0em}
    43%{top:-0.9em}
    46%{top:0em}
    48%{top:-0.4em}
    50%{top:0em}
    100%{top:0em;}
}


.register-login-form {
    margin-left: 10px;
}