﻿body {
}

/* Set padding to keep content from hitting the edges */
/*.body-content {
    padding-left: 15px;
    padding-right: 15px;
    height: 100%;
}*/

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


/*Info*/
.square-info {
    margin-top: 20px;
    align-items: center;
    justify-content: center;
}

.square-info .card {
    display: inline-block;
    margin: 0 10px;
    margin-bottom: 30px;
    width: 300px;
    height: auto;
}