﻿@using Square.Common
@using Square.UI.Models
@using StackExchange.Redis
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="yandex-verification" content="6bccdfc3ee08ed7b" />

    <title>Ros-Rielt</title>
    <link rel="shortcut icon" href="~/Images/house.png" type="image/x-icon">

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/Home.css" rel="stylesheet" />
    <link href="~/Content/Layout/callBack.css" rel="stylesheet" />
    <link href="~/Content/Layout/FA.css" rel="stylesheet" />
    <link href="~/Content/Layout/font-awesome.css" rel="stylesheet" />
    <script src="~/Scripts/phoneIcon.js"></script>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin - Dashboard</title>

    <!-- Custom fonts for this template-->
    <link href="~/startbootstrap-sb-admin-gh-pages/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" />
    <!-- Page level plugin CSS-->
    <link href="~/startbootstrap-sb-admin-gh-pages/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet" />
    <!-- Custom styles for this template-->
    <link href="~/startbootstrap-sb-admin-gh-pages/css/sb-admin.css" rel="stylesheet" />
    <link href="~/Scripts/MDB/css/mdb.min.css" rel="stylesheet" />
    <script src="~/Scripts/MDB/js/jquery.min.js"></script>
    <script src="~/Scripts/MDB/js/popper.min.js"></script>
    <script src="~/Scripts/MDB/js/mdb.min.js"></script>

</head>
@{
    var newRequestsCount = 0;
}
<body id="page-top">
    <nav class="navbar navbar-expand navbar-dark bg-dark static-top">
        <a class="navbar-brand" href=@Url.Action("Index", "Home")>Главная</a>
        <a class="navbar-brand mr-1" href="@Url.Action("Index","Admin")">Админ-Панель</a>

        <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
            <i class="fas fa-bars"></i>
        </button>

    </nav>

@RenderBody();

<!-- Bootstrap core JavaScript-->
<script src="~/startbootstrap-sb-admin-gh-pages/vendor/jquery/jquery.min.js"></script>
<script src="~/startbootstrap-sb-admin-gh-pages/vendor/js/bootstrap.bundle.min.js"></script>
<script src="~/startbootstrap-sb-admin-gh-pages/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- Core plugin JavaScript-->
<script src="~/startbootstrap-sb-admin-gh-pages/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Page level plugin JavaScript-->
<script src="~/startbootstrap-sb-admin-gh-pages/vendor/chart.js/Chart.min.js"></script>
<script src="~/startbootstrap-sb-admin-gh-pages/vendor/datatables/jquery.dataTables.js"></script>
<script src="~/startbootstrap-sb-admin-gh-pages/vendor/datatables/dataTables.bootstrap4.js"></script>

<!-- Custom scripts for all pages-->
<script src="~/startbootstrap-sb-admin-gh-pages/js/sb-admin.min.js"></script>
<!-- Demo scripts for this page-->
<script src="~/startbootstrap-sb-admin-gh-pages/js/demo/datatables-demo.js"></script>
<script src="~/startbootstrap-sb-admin-gh-pages/js/demo/chart-area-demo.js"></script>
</body>
</html>
