﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="yandex-verification" content="6bccdfc3ee08ed7b" />
    <meta name="description" content="Ros-Rielt - база объявлений об аренде недвижимости в Москве от собственника. Снять квартиру в Москве.">
    <meta name="keywords" content="Ros-Rielt, недвижимость, аренда, снять, квартиры, дома, компнаты, в Москве, без посредников, от собственника">

    <title>Ros-Rielt - снять квартиру в Москве от собственника</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon">
    <link href="~/Content/Home.css" rel="stylesheet" />
    <link href="~/Content/Layout/callBack.css" rel="stylesheet" />
    <link href="~/Content/Layout/FA.css" rel="stylesheet" />
    <link href="~/Content/Layout/font-awesome.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css" rel="stylesheet">
    <link href="~/Scripts/MDB/css/mdb.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
    <link href="~/Content/Layout/layout.css" rel="stylesheet" />

    <script src="~/Scripts/phoneIcon.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js"></script>
    <script src="//code-ya.jivosite.com/widget/p38721tNaj" async></script>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script src="https://cdn.tiny.cloud/1/vuvan620j10dc3h61ex4bjscefxk18u31vb0zwpwsxneaoqd/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
        tinymce.init({
            selector: '#mytextarea',
            plugins: "code media image ",
            toolbar: "code media image",
            mobile: {
                theme: 'mobile',
                plugins: 'autosave lists autolink',
                toolbar: 'undo bold italic styleselect'
            }
        });
    </script>
    <script src="~/Scripts/images-lazy-load.js"></script>
    <script src="~/Scripts/MDB/js/jquery.min.js"></script>
    <script src="~/Scripts/MDB/js/popper.min.js"></script>
    <script src="~/Scripts/MDB/js/mdb.min.js"></script>
    <script src="~/Scripts/jquery.lazyload.js"></script>
    <script src="~/scripts/jquery.unobtrusive-ajax.min.js"></script>

    @*<link href="~/Content/HomePage/notifications.css" rel="stylesheet" />*@
</head>
<style>
    .navbar li a:hover{
        color: green !important;
    }

    .favrt i:hover{
        color: red;
    }
</style>

<body class="layout">
<nav class="mb-1 navbar  navbar-expand-lg navbar-light white" style="margin-bottom: 0 !important;">

    <a class="navbar-brand" href=@Url.Action("Index", "Home")>
        <img  width="50" height="50" class="d-inline-block align-top" src="~/Images/hhIcon.png"/>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse " id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto ">
            <li class="nav-item">
                <a class="nav-link" style="padding-left: 0px; padding-right: 12px;" href=@Url.Action("Index", "Ad")>Снять квартиру<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" style="padding-left: 0px; padding-right: 12px;" href=@Url.Action("Index", "Price")>Подписки</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" style="padding-left: 0px; padding-right: 12px;" href=@Url.Action("About", "Home")>О Нас</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" style="padding-left: 0px; padding-right: 12px;" href=@Url.Action("Comments", "Home")>Отзывы</a>
            </li>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" style="padding-left: 0px;" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Еще
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="nav-link" href=@Url.Action("News", "Home")><i class="fa fa-bell fa-1x pr-2"></i>Новости и акции</a>
                        <div class="dropdown-divider"></div>
                        <a class="nav-link" href=@Url.Action("Faq", "Home")><i class="fa fa-question fa-1x pr-2"></i>Faq</a>
                    </div>
                </li>
            </ul>


        </ul>


        @if (User.Identity.IsAuthenticated)
        {
            <div class="form-inline my-2 my-lg-0 register-login-form">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item dropdown">

                        <a class="nav-link dropdown-toggle" style="padding-left: 0px;" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-user-circle fa-1x"></i>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="nav-link"><i class="fa fa-phone-alt fa-1x pr-2"></i>@User.Identity.Name</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href=@Url.Action("Profile", "Account", new {phoneNumber = User.Identity.Name})><i class="fa fa-user fa-1x pr-2"></i>Мой Профиль</a>
                            <div class="dropdown-divider"></div>
                            @if (User.IsInRole("Admin"))
                            {
                                <a class="nav-link" href=@Url.Action("Index", "Admin")><i class="fa fa-cog fa-1x pr-2"></i>Администратор</a>
                                <div class="dropdown-divider"></div>
                            }

                            <a class="dropdown-item" href=@Url.Action("Logout", "Account")><i class="fa fa-sign-out fa-1x pr-2"></i>Выход</a>
                        </div>
                    </li>
                </ul>
            </div>
        }
        else
        {
            <div class="form-inline  my-2 my-lg-0  register-login-form" style="height: 24px;">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item dropdown">
                        <a class="text-dark pr-2" href=@Url.Action("Login", "Account")> <i class="fa fa-sign-in fa-1x pr-2"></i> Вход и регистрация</a>
                    </li>
                </ul>
            </div>
        }

        <a class="text-dark favrt" href=@Url.Action("GetFavorites", "Account")> <i class="fa fa-heart-o fa-1x pr-4"></i></a>
        <a class="btn btn-primary btn-sm" href=@Url.Action("AddRequest", "Ad")><i class="fa fa-plus fa-1x pr-2"></i> Разместить объявление</a>
    </div>
</nav>

    <div class="body-content">
        @RenderBody()
        @Html.Partial("_CallBack")

        <div class="alert info notificationR" id="notificationR" style="display: none; animation-delay: initial; ">
            <span class="closebtn">&times;</span>
            <h4 id="notification">Информация!</h4>
        </div>

        <footer class="page-footer font-small unique-color-dark pt-4 adFooter" style="margin-top: 100px; ">
            <style>
                .list-unstyled li {
                    margin: 10px auto;
                    font-size: 14px;
                }

                footer ul {
                    margin: 0 10px;
                }

                footer h5 {
                    margin: 0 10px;
                    font-size: 16px;
                }
            </style>
            <div class="container text-center text-md-left">
                <div class="row">
                    <div class="col-md-3 mx-auto">
                        <h5 class="font-weight-bold text-uppercase mt-3 mb-4 text-muted">Ros-Rielt</h5>

                        <ul class="list-unstyled">
                            <li>
                                <a href=@Url.Action("About", "Home")>О Компании</a>
                            </li>
                            <li>
                                <a href=@Url.Action("News", "Home")>Новости и акции</a>
                            </li>
                            <li>
                                <a href=@Url.Action("PaymentRules", "Home")>Правила оплаты и безопасность платежей</a>
                            </li>
                            <li>
                                <a href=@Url.Action("Policy", "Home")>Политика в отношении обработки персональных данных</a>
                            </li>
                        </ul>
                    </div>

                    <hr class="clearfix w-100 d-md-none">

                    <div class="col-md-3 mx-auto">
                        <h5 class="font-weight-bold text-uppercase mt-3 mb-4  text-muted">АРЕНДАТОРАМ</h5>

                        <ul class="list-unstyled">
                            <li>
                                <a href=@Url.Action("Index", "Ad")>Снять квартиру</a>
                            </li>
                            <li>
                                <a href=@Url.Action("SecurityPayment", "Home")>Безопасная оплата</a>
                            </li>
                            <li>
                                <a href=@Url.Action("Specialist", "Home")>Помощь специалиста</a>
                            </li>
                        </ul>
                    </div>

                    <hr class="clearfix w-100 d-md-none">

                    <div class="col-md-3 mx-auto">
                        <h5 class="font-weight-bold text-uppercase mt-3 mb-4 text-muted">ВЛАДЕЛЬЦАМ</h5>

                        <ul class="list-unstyled">
                            <li>
                                <a href=@Url.Action("AddRequest", "Ad")>Сдать квартиру</a>
                            </li>
                        </ul>
                    </div>

                    <hr class="clearfix w-100 d-md-none">
                    <div class="col-md-3 mx-auto">
                        <h5 class="font-weight-bold text-uppercase mt-3 mb-4 text-muted">ЕСЛИ У ВАС ЕСТЬ ВОПРОСЫ</h5>
                        <ul class="list-unstyled">
                            <li>
                                <h3 style="font-weight: bold; color: white;">8 (965) 884 52 39</h3>
                            </li>
                            <li style="color: white;">
                                <p><i class="fa fa-envelope fa-1x pr-2"></i>support@ros-rielt.ru</p>
                            </li>
                            <li>
                                <a href=@Url.Action("Faq", "Home")>Частые вопросы</a>
                            </li>
                            <li>
                                <a href=@Url.Action("Comments", "Home")>Отзывы</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="row">

                    <div class="col-md-6 mx-auto">

                        <h5 class="font-weight-bold text-uppercase mt-3 mb-4  text-muted">Мы в социальных сетях</h5>

                        <ul class="list-unstyled list-inline">
                            <li class="list-inline-item">
                                <a class=" btn-fb mx-1" href="https://vk.com/rosrieltmos">
                                    <i class="fab fa-vk fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                                </a>
                            </li>
                        </ul>

                    </div>

                    <div class="col-md-6 mx-auto">

                        <h5 class="font-weight-bold text-uppercase mt-3 mb-4  text-muted" style="margin-bottom: 0px !important;">Оплата банковскими картами</h5>

                        <ul class="list-unstyled list-inline" style="max-height: 45px;">
                            <li class="list-inline-item">
                                <a class=" btn-fb mx-1">
                                    <img style="width: 50px;" src="~/Images/payment/mastercard.png" />
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a class=" btn-fb mx-1">
                                    <img style="width: 50px;" src="~/Images/payment/visa.png" />
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a class=" btn-fb mx-1">
                                    <img style="width: 50px;" src="~/Images/payment/16.png" />
                                </a>
                            </li>
                        </ul>

                    </div>

                </div>

                <div class="footer-copyright text-center py-3" style="background-color: #1c2331 !important;">
                    © @DateTime.UtcNow.Year Copyright:
                    <a class="footer-CompanyUrl" href="https://ros-rielt.ru">Ros-Rielt.ru </a>
                </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script src="~/Scripts/imask.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded",
            function () {
                var phoneMask = IMask(document.getElementById('phone-mask'),
                    {
                        mask: '+{7}(000)000-00-00'
                    }).on('accept',
                        function () {
                            document.getElementById('phone-complete').style.display = '';
                            document.getElementById('phone-unmasked').innerHTML = phoneMask.unmaskedValue;
                        }).on('complete',
                            function () {
                                document.getElementById('phone-complete').style.display = 'inline-block';
                            });
            });
    </script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-155728116-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-155728116-1');
    </script>
    <script>
        $(function () {
            $('[data-toggle="popover-hover"]').popover()
        })
    </script>
    <!--Nitifications-->
    @*<script src="~/Scripts/jquery.signalR-2.4.1.min.js"></script>
        <script src="~/signalr/hubs"></script>
        <script type="text/javascript">
            $(function () {

                pauseBrowser(15000);

                var notificationhub = $.connection.notificationHub;

                notificationhub.client.displayMessage = function (message) {

                    $('#notification').html(message);
                    $('#notificationR').css('display', 'block');
                    $('#notificationR').css('opacity', '1');
                    $('#notificationR').css('transition', '0.3s');
                };

                $.connection.hub.start();

            });

            function pauseBrowser(millis) {
                var date = Date.now();
                var curDate = null;
                do {
                    curDate = Date.now();
                } while (curDate - date < millis);
            }
        </script>

        <script>
            var close = document.getElementsByClassName("closebtn");
            var i;

            for (i = 0; i < close.length; i++) {
                close[i].onclick = function () {
                    var div = this.parentElement;
                    div.style.opacity = "0";
                    setTimeout(function () { div.style.display = "none"; }, 300);
                }
            }
        </script>*@
    <!--Nitifications-->
</body>
</html>
