﻿<div class="modal fade" id="LogoutConfirmation" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <img class="icon" style="width: 60px; height: 60px;" src="~/Images/question.png" />
                <h4 style="color: black; margin-left: 20px;" class="modal-title" id="exampleModalLabel">Вы действительно хотите выйти?</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-grey" data-dismiss="modal">Нет</button>
                <a class="btn btn-info signUp" href=@Url.Action("Logout", "Account")> <i class="fa fa-sign-out fa-1x pr-2"></i>Выход</a>
            </div>
        </div>
    </div>
</div>
