﻿<!-- Central Modal Medium Info -->
<div class="modal fade" id="centralModalInfo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-notify modal-info" role="document">
        <!--Content-->
        <div class="modal-content">
            <!--Header-->
            <div class="modal-header">
                <p class="heading lead"><i class="fa fa-phone-alt fa-1x pr-2 "></i>Связаться с владельцем</p>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="white-text">&times;</span>
                </button>
            </div>

            <!--Body-->
            <div class="modal-body">
                <div class="text-center">
                    <i class="fas fa-phone-alt fa-4x mb-3 animated rotateIn"></i>
                    <p>
                        Для того, чтобы связаться с владельцем Вам необходимо <span style="font-weight: bold"> Зарегистрироваться</span> на сайте или выполнить <span style="font-weight: bold"> Вход </span>,
                        если у Вас уже есть аккаунт.
                    </p>
                </div>
            </div>

            <!--Footer-->
            <div class="modal-footer justify-content-center">
                <a type="button"  href="@Url.Action("SignUp", "Account")" class="btn btn-primary">Регистрация</a>
                <a type="button" href="@Url.Action("Login", "Account")" class="btn btn-success waves-effect"> <i class="fa fa-sign-in-alt fa-1x pr-2"></i> Вход</a>
            </div>
        </div>
        <!--/.Content-->
    </div>
</div>