﻿

<!-- Frame Modal Bottom -->
<div class="modal fade top" id="addToFavoriteDeniedNotification" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">

    <!-- Add class .modal-frame and then add class .modal-bottom (or other classes from list above) to set a position to the modal -->
    <div class="modal-dialog modal-frame modal-top" role="document">


        <div class="modal-content">
            <div class="modal-body">
                <div class="row d-flex justify-content-center align-items-center" style="font-size: 15px;">
                    <p class="pt-3 pr-2">
                        Для того, чтобы добавить объявление в "Избранное",
                    </p>
                    <p class="pt-3 pr-2">
                        Вам необходимо<span style="font-weight: bold"> приобрести доступ по подписке</span>
                    </p>

                    <a type="button" href="@Url.Action("Index", "Price")" class="btn  btn-sm  btn-success">Приобрести доступ<i class="far fa-gem ml-1 text-white"></i></a>
                    <a type="button" class="btn btn-sm btn-info waves-effect" data-dismiss="modal">Нет, Спасибо</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Frame Modal Bottom -->