﻿<div class="modal fade" id="paymentNeededNotification" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content"> 
            <div class="modal-header">
                  <h2 style=" font-weight: bold; margin-top: 10px; margin-left: 20px;">Доступ ограничен!</h2>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
              </div>
            <div class="modal-body p-0">

                <!-- Grid row -->
                <div class="row">
                   <div class="col-md-6">
                        <div class="col-bg-pn" style="width: 100%; height: 300px;"></div>
                    </div>
                  <div class="col-md-6 py-3">
                      <p style="font-size: 18px; margin-right: 20px;">
                          К сожалению у Вас истек
                          <br />
                          "Бесплатный доступ".
                          <br />
                          Для того, чтобы посмотреть подробную информацию или связаться с владельцем <br />
                          Вам необходимо <br /><span style="font-weight: bold"> Приобрести подписку.  <br />Это займет всего 1 минуту.</span>
                      </p>
                        <hr />
                        <div class="formdtn">
                            <a type="button"  href="@Url.Action("Index", "Price")" class="btn btn-sm btn-primary" style="margin: 0 !important;">Приобрести доступ</a>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>

<style>

@@media only screen and (max-width: 800px) {
  .col-md-6 p{
    margin-left: 20px; 
    
  }
  
  .col-md-6 .formdtn{
   margin-left: 20px; 
  }
}
    .col-bg-pn {
        background-position: center center;
        background-image: url('../../Images/paymentneeded.jpg');
        background-color: #fff;
        background-size: cover;
        background-repeat: no-repeat;
        display: inline-block;
        object-fit: cover;
    }
</style>