﻿@model Square.UI.Models.AdEntityModels.AdModel

<div class="modal fade" id="phoneObserve" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
            
                <h3 style=" font-weight: bold; margin-top: 10px; margin-left: 20px;"> <i class="fa fa-user-check fa-1x pr-2 "></i>Связаться с владельцем</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body p-0">

                <!-- Grid row -->
                <div class="row">
                    <div class="col-md-6">
                        <h2 class="py-3 pl-5" style=" font-weight: bold; padding-bottom: 0 !important;">@Model.Phone.PhoneNumber</h2>
                        <h4 class="py-2 pl-5">@Model.Fio</h4>
                        <div class="col-bg" style="width: 100%; height: 300px;"></div>
                    </div>
                    <div class="col-md-6 py-3 pl-5">

                        <h3 class="font-weight-normal mb-3">@Model.Title</h3>

                        <ul class="list-unstyled font-small mt-5">
                            <li>
                                <p class="text-uppercase mb-2"><strong>Собственник</strong></p>
                                <p class="text-muted mb-4">@Model.Fio</p>
                            </li>
                            <li>
                                <p class="text-uppercase mb-2"><strong>Стоимость в месяц</strong></p>
                                <p class="text-muted mb-4">@Model.Price ₽</p>
                            </li>
                            <li>
                                <p class="text-uppercase mb-2"><strong>Кол-во комнат</strong></p>
                                <p class="text-muted mb-4">@Model.RoomsCount</p>
                            </li>
                        </ul>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>

<style>
    .col-bg {
        background-position: center center;
        background-image: url('../../Images/talk.jpg');
        background-color: #fff;
        background-size: cover;
        background-repeat: no-repeat;
        display: inline-block;
        object-fit: cover;
    }
</style>