﻿
@{
    ViewBag.Title = "AdCommerce";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model  Square.UI.Models.DataTableModel<Square.UI.Models.AdEntityModels.AdModel>
@using Square.UI.Models

@{
    ViewBag.Title = "Index";

    @Styles.Render("~/Content/AdList.css")

    @*@Model.Items= new List<Square.UI.Models.AdEntityModels.AdModel>();*@
}

<style>
    .jumbotron-bgd {
        background-image: url('../../Images/mountain-top-983890_1920.jpg');
        background-position: center;
        background-size: cover;
        object-fit: cover;
        color: white;
        border-radius: 0 0;
    }

    .tag {
        display: inline-block;
        width: auto;
        height: 38px;
        background-color: #979797;
        -webkit-border-radius: 3px 4px 4px 3px;
        -moz-border-radius: 3px 4px 4px 3px;
        border-radius: 3px 4px 4px 3px;
        border-left: 1px solid #979797;
        /* This makes room for the triangle */
        margin-left: 19px;
        position: relative;
        color: white;
        font-weight: 300;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 22px;
        line-height: 38px;
        padding: 0 10px 0 10px;
        box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Параметры тени */
    }

        /* Makes the triangle */
        .tag:before {
            content: "";
            position: absolute;
            display: block;
            left: -19px;
            width: 0;
            height: 0;
            border-top: 19px solid transparent;
            border-bottom: 19px solid transparent;
            border-right: 19px solid #979797;
        }

        /* Makes the circle */
        .tag:after {
            content: "";
            background-color: white;
            border-radius: 50%;
            width: 4px;
            height: 4px;
            display: block;
            position: absolute;
            left: -9px;
            top: 17px;
        }

    img {
        max-width: 100%;
        max-height: 100%;
        height: 100%;
        display: inline-block;
        vertical-align: middle;
        object-fit: cover;
    }
</style>


<style>

    .card-1 {
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    }

    .card-1 {
        cursor: pointer;
    }

        .card-1:hover {
            box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        }
</style>


<style>
    .card h4 {
        cursor: pointer;
    }

    .card h1 {
        cursor: pointer;
    }

    .card .list-unstyled {
        cursor: pointer;
    }
</style>


<main role="main">
    <section class="jumbotron text-center jumbotron-bgd">
        <div class="container">
            <h1 class="jumbotron-heading">Купить квартиру</h1>
            <p class="lead" style="color: white;">Мы уверены, что вы найдете то, что ищите.</p>
            <p>
                <a href=@Url.Action("AddRequest", "Ad") class="btn btn-success my-2">Добавить объявление</a>
                <a href=@Url.Action("Index", "Price") class="btn btn-primary my-2">Приобрести подписку</a>
            </p>
        </div>
    </section>
    <div class="container">
    </div>
</main>