﻿@model Square.UI.Models.AdEntityModels.AdModel

@{
    ViewBag.Title = "Add";


    int fileId = 1;

}

<link href="~/Scripts/filepond-master/dist/filepond.css" rel="stylesheet" />
<link href="~/Scripts/filepond-plugin-image-preview-master/dist/filepond-plugin-image-preview.css" rel="stylesheet" />


<style>
    .imagePreview {
        width: 100%;
        height: 180px;
        background-position: center center;
        background-image: url('../../Images/no-image-e3699ae23f866f6cbdf8ba2443ee5c4e.jpg');
        background-color: #fff;
        background-size: cover;
        background-repeat: no-repeat;
        display: inline-block;
        box-shadow: 0px -3px 6px 2px rgba(0,0,0,0.2);
        object-fit: cover;
    }

    .imgUp {
        margin-bottom: 15px;
    }

    .del {
        position: absolute;
        top: 0px;
        right: 15px;
        width: 40px;
        height: 40px;
        text-align: center;
        line-height: 30px;
        cursor: pointer;
    }
</style>

<style>
    .form-row .col-md-5 {
        margin-top: 25px;
    }

    .form-row .col-md-7 {
        margin-top: 25px;
    }
</style>


<style>

    /**
    * FilePond Custom Styles
    */
    .filepond--drop-label {
        color: #4c4e53;
    }

    .filepond--label-action {
        text-decoration-color: #babdc0;
    }

    .filepond--panel-root {
        border-radius: 2em;
        background-color: #edf0f4;
        height: 1em;
    }

    .filepond--item-panel {
        background-color: #595e68;
    }

    .filepond--drip-blob {
        background-color: #7f8a9a;
    }

    .testImage label {
        color: black;
    }
</style>

<style>
    .comfort {
        margin-left: 20px;
    }

        .comfort div {
            margin-right: 40px;
        }

    ::-webkit-input-placeholder {
        font-size: 15px;
    }

    .jumbotron {
        height: 250px;
    }

    .jumbotron {
        position: relative;
        overflow: hidden;
        background-color: black;
    }

        .jumbotron video {
            position: absolute;
            z-index: 1;
            top: 0;
            width: 100%;
            height: 100%;
            /*  object-fit is not supported on IE  */
            object-fit: cover;
            opacity: 0.5;
        }

        .jumbotron .container {
            z-index: 2;
            position: relative;
        }
</style>


<div class="jumbotron jumbotron-fluid">
    <video class="video-fluid" playsinline autoplay loop muted>
        <source src="https://ros-rielt.ru/video/typing.mp4" type="video/mp4" />
    </video>
    <div class="container text-white">
        <h1 class="display-4" style="font-size: 45px;">Разместить объявление</h1>
        <p class="lead">
            После публикации, ваше объявление будет доступно
            на Ros-Rielt.ru
        </p>
    </div>
</div>
<div class="container ad-form" style="margin-top: 10px;">


    @if (!User.Identity.IsAuthenticated)
    {
        <div class="form-group row">
            <label for="colFormLabelLg" class="col-md-3 col-form-label col-form-label-lg" style="font-size: 22px;">1. Вход или регистрация</label>
            <div class="col-md-9" style="padding-top: 9px;">
                <a type="button" href="@Url.Action("Login", "Account")" class="btn-sm btn-primary"> <i class="fa fa-sign-in-alt fa-1x pr-2"></i>Вход</a>

                <a type="button" href="@Url.Action("SignUp", "Account")" class="btn-sm btn-primary"> Регистрация</a>

            </div>

        </div>


        <form action="" method="post" enctype="multipart/form-data" >

            @Html.AntiForgeryToken()
         

            <div class="form-group row">
                <label for="colFormLabelLg" class="col-md-3 col-form-label col-form-label-lg" style="font-size: 22px;">2. Название объявления</label>
                <div  class="col-md-9">
                    <input disabled class="form-control form-control-lg" value="@Model.Title" style="width: 100%; margin: 0 0 !important;" type="text" size="200" id="Title" name="Title" placeholder="Введите название объявления...">
                    @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger", @style = "font-size: 12px;" })
                </div>
            </div>
            <div class="form-group row">
                <label for="colFormLabelLg" class="col-md-3 col-form-label col-form-label-lg" style="font-size: 22px;">3. Укажите детали</label>
                <div class="col-md-9">
                    <textarea disabled id="Description" name="Description" size="3000" class="form-control" style="resize: none; height: 250px;" placeholder="Опишите подробно вашу квартиру..." value="@Model.Description">@Model.Description</textarea>
                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger", @style = "font-size: 12px;" })
                </div>
            </div>


            <div class="form-group row">
                <label for="colFormLabelLg" class="col-md-3 col-form-label col-form-label-lg" style="font-size: 22px;">4. Укажите город</label>
                <div class="col-md-9">
                    <select disabled id="City" name="LocationInfo.CityID" class="form-control form-control-lg" style="width: 100%;">
                        @foreach (var city in Model.Cities)
                        {
                            if (city.CityID == Model.LocationInfo.CityID)
                            {
                                <option selected id="CityID" name="CityID" value="@city.CityID">@city.Name</option>
                            }
                            else
                            {
                                <option id="CityID" name="CityID" value="@city.CityID">@city.Name</option>
                            }
                        }
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <label for="colFormLabelLg" class="col-md-3 col-form-label col-form-label-lg" style="font-size: 22px;">5. Укажите метро</label>
                <div class="col-md-9">
                    <select disabled id="District" name="LocationInfo.DistrictID" class="form-control form-control-lg" style="width: 100%;">
                        @foreach (var district in Model.Cities.First().Districts)
                        {
                            if (district.DistrictID == Model.LocationInfo.DistrictID)
                            {
                                <option selected id="DistrictID" name="DistrictID" value="@district.DistrictID">@district.Name</option>
                            }
                            else
                            {
                                <option id="DistrictID" name="DistrictID" value="@district.DistrictID">@district.Name</option>
                            }
                        }
                    </select>

                </div>
            </div>

            <div class="form-group row">
                <label for="colFormLabelLg" class="col-md-3 col-form-label col-form-label-lg" style="font-size: 22px;">6. Стоимость в месяц</label>

                <div class="input-group-lg col-md-9 mb-3">
                    <input disabled name="Price" type="number" size="11" value="@Model.Price" class="form-control currency" />

                    @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger", @style = "font-size: 12px;" })
                </div>

            </div>

            <div class="form-group row">
                <label for="colFormLabelLg" class="col-md-3 col-form-label col-form-label-lg" style="font-size: 22px;">7. Кол-во комнат</label>


                <div class="input-group-lg col-md-9 " style="padding-top: 9px;">
                    <div class=" col-md-9" style="padding-top: 9px;">
                        <div class="custom-control custom-checkbox custom-control-inline">
                            <input type="checkbox" name="RoomsCountModel.One" value="true"  class="custom-control-input sev_check" id="defaultInline1" disabled>
                            <label class="custom-control-label" for="defaultInline1">1</label>
                            <input type="hidden" value="false" name="RoomsCountModel.One" />
                        </div>

                        <div class="custom-control custom-checkbox custom-control-inline">
                            <input type="checkbox" name="RoomsCountModel.Two" class="custom-control-input sev_check" id="defaultInline2" disabled>
                            <label class="custom-control-label" for="defaultInline2">2</label>
                            <input type="hidden" value="false" name="RoomsCountModel.Two" />
                        </div>

                        <div class="custom-control custom-checkbox custom-control-inline">
                            <input type="checkbox" name="RoomsCountModel.Tree" class="custom-control-input sev_check" id="defaultInline3" disabled>
                            <label class="custom-control-label" for="defaultInline3">3</label>
                            <input type="hidden" value="false" name="RoomsCountModel.Tree" />
                        </div>

                        <div class="custom-control custom-checkbox custom-control-inline">
                            <input type="checkbox" name="RoomsCountModel.FourAndMore" class="custom-control-input sev_check" id="defaultInline4" disabled>
                            <label class="custom-control-label" for="defaultInline4">4+</label>
                            <input type="hidden" value="false" name="RoomsCountModel.FourAndMore" />
                        </div>
                    </div>
                </div>
            </div>


            <div class="form-group row">
                <label for="colFormLabelLg" class="col-md-3 col-form-label col-form-label-lg" style="font-size: 22px;">8. Контактный телефон</label>
                <div class="col-md-9">
                    <input disabled id="phone-mask" name="Phone.PhoneNumber" type="text" class="form-control form-control-lg" value="@Model.Phone.PhoneNumber">
                    @Html.ValidationMessageFor(model => model.Phone.PhoneNumber, "", new { @class = "text-danger", @style = "font-size: 12px;" })
                </div>
            </div>

            <div class="form-group row">
                <label for="colFormLabelLg" class="col-md-3 col-form-label col-form-label-lg" style="font-size: 22px;">9. Контактное лицо</label>
                <div class="col-md-9">
                    <input disabled id="Fio" name="Fio" type="text" size="300" class="form-control form-control-lg" placeholder="Иванов Иван Иванович" value="@Model.Fio">
                    @Html.ValidationMessageFor(model => model.Fio, "", new { @class = "text-danger", @style = "font-size: 12px;" })
                </div>
            </div>

            <div class="form-group row">
                <label for="colFormLabelLg" class="col-md-3 col-form-label col-form-label-lg" style="font-size: 22px;">10. Комфорт</label>
                <div class="col-md-9" style="padding-top: 9px;">
                    <div class="form-row comfort">
                        <div class="custom-control custom-checkbox col-md-2">
                            <input id="customCheck1" type="checkbox" value="true" class="custom-control-input" name="ComfortModel.AirConditioning" disabled=""/>
                            <input type="hidden" value="false" name="ComfortModel.AirConditioning" />
                            <label class="custom-control-label" for="customCheck1">Кондиционер</label>
                        </div>
                        <div class="custom-control custom-checkbox col-md-2">
                            <input name="ComfortModel.Internet" value="true" type="checkbox" class="custom-control-input" id="customCheck2" disabled>
                            <input type="hidden" value="false" name="ComfortModel.Internet" />
                            <label class="custom-control-label" for="customCheck2">Интернет</label>
                        </div>

                        <div class="custom-control custom-checkbox col-md-2">
                            <input name="ComfortModel.Bath" type="checkbox" value="true" class="custom-control-input" id="customCheck3" disabled>
                            <input type="hidden" value="false" name="ComfortModel.Bath" />
                            <label class="custom-control-label" for="customCheck3">Ванна</label>
                        </div>
                        <div class="custom-control custom-checkbox col-md-2">
                            <input name="ComfortModel.Shower" type="checkbox" value="true" class="custom-control-input" id="customCheck4" disabled>
                            <input type="hidden" value="false" name="ComfortModel.Shower" />
                            <label class="custom-control-label" for="customCheck4">Душ</label>
                        </div>
                    </div>

                    <div class="form-row comfort" style="margin-top: 30px;">
                        <div class="custom-control custom-checkbox col-md-2">
                            <input name="ComfortModel.KitchenFurniture" value="true" type="checkbox" class="custom-control-input" id="customCheck5" disabled>
                            <input type="hidden" value="false" name="ComfortModel.KitchenFurniture" />
                            <label class="custom-control-label" for="customCheck5">Кухонная мебель</label>
                        </div>
                        <div class="custom-control custom-checkbox col-md-2">
                            <input name="ComfortModel.RoomsFurniture" value="true" type="checkbox" class="custom-control-input" id="customCheck6" disabled>
                            <input type="hidden" value="false" name="ComfortModel.RoomsFurniture" />
                            <label class="custom-control-label" for="customCheck6">Мебель для комнат</label>
                        </div>

                        <div class="custom-control custom-checkbox col-md-2">
                            <input name="ComfortModel.Fridge" value="true" type="checkbox" class="custom-control-input" id="customCheck7" disabled>
                            <input type="hidden" value="false" name="ComfortModel.Fridge" />
                            <label class="custom-control-label" for="customCheck7">Холодильник</label>
                        </div>
                        <div class="custom-control custom-checkbox col-md-2">
                            <input name="ComfortModel.Washer" value="true" type="checkbox" class="custom-control-input" id="customCheck8" disabled>
                            <input type="hidden" value="false" name="ComfortModel.Washer" />
                            <label class="custom-control-label" for="customCheck8">Стиральная машина</label>
                        </div>

                    </div>
                </div>
            </div>
            <div class="form-row" style="margin-top: 70px;">
                <div class="col-md-12">
                    <input name="Files" id="File1" type="file" style="color: black;"
                           class="filepond testImage"
                           multiple
                           data-max-file-size="5MB"
                           data-max-files="6"
                           disabled>
                </div>
            </div>
            <div class="form-row" style="margin-top: 70px;">
                <button disabled class="btn btn-light-green" type="submit" style="margin: 0 auto; width: 400px;">Отправить на модерацию</button>
            </div>
        </form>

    }
    else
    {
<form action="/Ad/AddRequest" method="post" enctype="multipart/form-data" style="margin-top: 50px;">

    @Html.AntiForgeryToken()


    @if (Model.Errors.Count() > 0)
    { <div class="form-group row">
          @foreach (var error in Model.Errors)
          {
          if (error == Square.UI.Models.AccountEntityModel.ErrorTypeEnum.AdRequestExisted)
          {
          <div class="alert alert-warning" role="alert">
              Ваша заявка уже была добавлена раннее. После проверки модераторов, ваше объявление будет доступно на Ros-Rielt.ru
          </div>
          }

              if (error == Square.UI.Models.AccountEntityModel.ErrorTypeEnum.RoomsCountNull)
              {
                  <div class="alert alert-warning" role="alert">
                    Вы не указали кол-во комнат!
                  </div>
              }
          }
      </div>
    }
    <div class="form-group row">
        <label for="colFormLabelLg" class="col-md-3 col-form-label col-form-label-lg" style="font-size: 22px;">1. Название объявления</label>
        <div class="col-md-9">
            <input class="form-control form-control-lg" value="@Model.Title" style="width: 100%; margin: 0 0 !important;" type="text" size="200" id="Title" name="Title" placeholder="Введите название объявления...">
            @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger", @style = "font-size: 12px;" })
        </div>
    </div>
    <div class="form-group row">
        <label for="colFormLabelLg" class="col-md-3 col-form-label col-form-label-lg" style="font-size: 22px;">2. Укажите детали</label>
        <div class="col-md-9">
            <textarea id="Description" name="Description" size="3000" class="form-control" style="resize: none; height: 250px;" placeholder="Опишите подробно вашу квартиру..." value="@Model.Description">@Model.Description</textarea>
            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger", @style = "font-size: 12px;" })
        </div>
    </div>


    <div class="form-group row">
        <label for="colFormLabelLg" class="col-md-3 col-form-label col-form-label-lg" style="font-size: 22px;">3. Укажите город</label>
        <div class="col-md-9">
            <select id="City" name="LocationInfo.CityID" class="form-control form-control-lg" style="width: 100%;">
                @foreach (var city in Model.Cities)
                {
                    if (city.CityID == Model.LocationInfo.CityID)
                    {
                        <option selected id="CityID" name="CityID" value="@city.CityID">@city.Name</option>
                    }
                    else
                    {
                        <option id="CityID" name="CityID" value="@city.CityID">@city.Name</option>
                    }
                }
            </select>
        </div>
    </div>

    <div class="form-group row">
        <label for="colFormLabelLg" class="col-md-3 col-form-label col-form-label-lg" style="font-size: 22px;">4. Укажите метро</label>
        <div class="col-md-9">
            <select id="District" name="LocationInfo.DistrictID" class="form-control form-control-lg" style="width: 100%;">
                @foreach (var district in Model.Cities.First().Districts)
                {
                    if (district.DistrictID == Model.LocationInfo.DistrictID)
                    {
                        <option selected id="DistrictID" name="DistrictID" value="@district.DistrictID">@district.Name</option>
                    }
                    else
                    {
                        <option id="DistrictID" name="DistrictID" value="@district.DistrictID">@district.Name</option>
                    }
                }
            </select>

        </div>
    </div>

    <div class="form-group row">
        <label for="colFormLabelLg" class="col-md-3 col-form-label col-form-label-lg" style="font-size: 22px;">5. Стоимость в месяц</label>

        <div class="input-group-lg col-md-9 mb-3">
            <input name="Price" type="number" size="11" value="@Model.Price" class="form-control currency" />

            @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger", @style = "font-size: 12px;" })
        </div>

    </div>

    <div class="form-group row">
        <label for="colFormLabelLg" class="col-md-3 col-form-label col-form-label-lg" style="font-size: 22px;">6. Кол-во комнат</label>

        <div class="input-group-lg col-md-9 " style="padding-top: 9px;">
            <div class=" col-md-9" style="padding-top: 9px;">
                <div class="custom-control custom-checkbox custom-control-inline">

                    @if (Model.RoomsCountModel != null && Model.RoomsCountModel.One)
                    {
                        <input type="checkbox" name="RoomsCountModel.One" value="true" class="custom-control-input sev_check" id="defaultInline1" checked="">
                    }
                    else
                    {

                        <input type="checkbox" name="RoomsCountModel.One" value="true" class="custom-control-input sev_check" id="defaultInline1">
                    }
                    <label class="custom-control-label" for="defaultInline1">1</label>
                    <input type="hidden" value="false" name="RoomsCountModel.One" />
                </div>

                <div class="custom-control custom-checkbox custom-control-inline">

                    @if (Model.RoomsCountModel != null && Model.RoomsCountModel.Two)
                    {

                        <input type="checkbox" name="RoomsCountModel.Two" value="true" class="custom-control-input sev_check" id="defaultInline2" checked>
                    }
                    else
                    {

                        <input type="checkbox" name="RoomsCountModel.Two" value="true" class="custom-control-input sev_check" id="defaultInline2">
                    }
                    <label class="custom-control-label" for="defaultInline2">2</label>
                    <input type="hidden" value="false" name="RoomsCountModel.Two" />
                </div>

                <div class="custom-control custom-checkbox custom-control-inline">
                    @if (Model.RoomsCountModel != null && Model.RoomsCountModel.Tree)
                    {

                        <input type="checkbox" name="RoomsCountModel.Tree" value="true" class="custom-control-input sev_check" id="defaultInline3" checked>
                    }
                    else
                    {
                        <input type="checkbox" name="RoomsCountModel.Tree" value="true" class="custom-control-input sev_check" id="defaultInline3">

                    }

                    <label class="custom-control-label" for="defaultInline3">3</label>
                    <input type="hidden" value="false" name="RoomsCountModel.Tree" />
                </div>

                <div class="custom-control custom-checkbox custom-control-inline">
                    @if (Model.RoomsCountModel != null && Model.RoomsCountModel.FourAndMore)
                    {

                        <input type="checkbox" name="RoomsCountModel.FourAndMore" value="true" class="custom-control-input sev_check" id="defaultInline4" checked>
                    }
                    else
                    {

                        <input type="checkbox" name="RoomsCountModel.FourAndMore" value="true" class="custom-control-input sev_check" id="defaultInline4">
                    }


                    <label class="custom-control-label" for="defaultInline4">4+</label>
                    <input type="hidden" value="false" name="RoomsCountModel.FourAndMore" />
                </div>
            </div>
        </div>
    </div>

    <div class="form-group row">
        <label for="colFormLabelLg" class="col-md-3 col-form-label col-form-label-lg" style="font-size: 22px;">7. Контактный телефон</label>
        <div class="col-md-9">
            <input id="phone-mask" name="Phone.PhoneNumber" type="text" class="form-control form-control-lg" value="@Model.Phone.PhoneNumber">
            @Html.ValidationMessageFor(model => model.Phone.PhoneNumber, "", new { @class = "text-danger", @style = "font-size: 12px;" })
        </div>
    </div>

    <div class="form-group row">
        <label for="colFormLabelLg" class="col-md-3 col-form-label col-form-label-lg" style="font-size: 22px;">8. Контактное лицо</label>
        <div class="col-md-9">
            <input id="Fio" name="Fio" type="text" size="300" class="form-control form-control-lg" placeholder="Иванов Иван Иванович" value="@Model.Fio">
            @Html.ValidationMessageFor(model => model.Fio, "", new { @class = "text-danger", @style = "font-size: 12px;" })
        </div>
    </div>

    <div class="form-group row">
        <label for="colFormLabelLg" class="col-md-3 col-form-label col-form-label-lg" style="font-size: 22px;">9. Комфорт</label>
        <div class="col-md-9" style="padding-top: 9px;">
            <div class="form-row comfort">
                <div class="custom-control custom-checkbox col-md-2">
                    @if (Model.ComfortModel != null && Model.ComfortModel.AirConditioning)
                    {

                        <input id="customCheck1" type="checkbox" value="true" class="custom-control-input" name="ComfortModel.AirConditioning" checked="" />
                    }
                    else
                    {
                        <input id="customCheck1" type="checkbox" value="true" class="custom-control-input" name="ComfortModel.AirConditioning" />
                    }
                    <input type="hidden" value="false" name="ComfortModel.AirConditioning" />
                    <label class="custom-control-label" for="customCheck1">Кондиционер</label>
                </div>
                <div class="custom-control custom-checkbox col-md-2">

                    @if (Model.ComfortModel != null && Model.ComfortModel.Internet)
                    {

                        <input name="ComfortModel.Internet" value="true" type="checkbox" class="custom-control-input" id="customCheck2" checked="">
                    }
                    else
                    {
                        <input name="ComfortModel.Internet" value="true" type="checkbox" class="custom-control-input" id="customCheck2">
                    }
                    <input type="hidden" value="false" name="ComfortModel.Internet" />
                    <label class="custom-control-label" for="customCheck2">Интернет</label>
                </div>

                <div class="custom-control custom-checkbox col-md-2">
                    @if (Model.ComfortModel != null && Model.ComfortModel.Bath)
                    {

                        <input name="ComfortModel.Bath" type="checkbox" value="true" class="custom-control-input" id="customCheck3" checked="">
                    }
                    else
                    {
                        <input name="ComfortModel.Bath" type="checkbox" value="true" class="custom-control-input" id="customCheck3">
                    }
                    <input type="hidden" value="false" name="ComfortModel.Bath" />
                    <label class="custom-control-label" for="customCheck3">Ванна</label>
                </div>
                <div class="custom-control custom-checkbox col-md-2">
                    @if (Model.ComfortModel != null && Model.ComfortModel.Shower)
                    {

                        <input name="ComfortModel.Shower" type="checkbox" value="true" class="custom-control-input" id="customCheck4" checked="">
                    }
                    else
                    {
                        <input name="ComfortModel.Shower" type="checkbox" value="true" class="custom-control-input" id="customCheck4">
                    }
                    <input type="hidden" value="false" name="ComfortModel.Shower" />
                    <label class="custom-control-label" for="customCheck4">Душ</label>
                </div>
            </div>

            <div class="form-row comfort" style="margin-top: 30px;">
                <div class="custom-control custom-checkbox col-md-2">
                    @if (Model.ComfortModel != null && Model.ComfortModel.KitchenFurniture)
                    {

                        <input name="ComfortModel.KitchenFurniture" value="true" type="checkbox" class="custom-control-input" id="customCheck5" checked="">
                    }
                    else
                    {
                        <input name="ComfortModel.KitchenFurniture" value="true" type="checkbox" class="custom-control-input" id="customCheck5">
                    }
                    <input type="hidden" value="false" name="ComfortModel.KitchenFurniture" />
                    <label class="custom-control-label" for="customCheck5">Кухонная мебель</label>
                </div>
                <div class="custom-control custom-checkbox col-md-2">
                    @if (Model.ComfortModel != null && Model.ComfortModel.RoomsFurniture)
                    {

                        <input name="ComfortModel.RoomsFurniture" value="true" type="checkbox" class="custom-control-input" id="customCheck6" checked="">
                    }
                    else
                    {
                        <input name="ComfortModel.RoomsFurniture" value="true" type="checkbox" class="custom-control-input" id="customCheck6">
                    }
                    <input type="hidden" value="false" name="ComfortModel.RoomsFurniture" />
                    <label class="custom-control-label" for="customCheck6">Мебель для комнат</label>
                </div>

                <div class="custom-control custom-checkbox col-md-2">
                    @if (Model.ComfortModel != null && Model.ComfortModel.Fridge)
                    {

                        <input name="ComfortModel.Fridge" value="true" type="checkbox" class="custom-control-input" id="customCheck7" checked="">
                    }
                    else
                    {
                        <input name="ComfortModel.Fridge" value="true" type="checkbox" class="custom-control-input" id="customCheck7">
                    }
                    <input type="hidden" value="false" name="ComfortModel.Fridge" />
                    <label class="custom-control-label" for="customCheck7">Холодильник</label>
                </div>
                <div class="custom-control custom-checkbox col-md-2">
                    @if (Model.ComfortModel != null && Model.ComfortModel.Washer)
                    {

                        <input name="ComfortModel.Washer" value="true" type="checkbox" class="custom-control-input" id="customCheck8" checked="">
                    }
                    else
                    {
                        <input name="ComfortModel.Washer" value="true" type="checkbox" class="custom-control-input" id="customCheck8">
                    }
                    <input type="hidden" value="false" name="ComfortModel.Washer" />
                    <label class="custom-control-label" for="customCheck8">Стиральная машина</label>
                </div>

            </div>
        </div>
    </div>
    <div class="form-row" style="margin-top: 70px;">
        <div class="col-md-12">
            <input name="Files" id="File1" type="file" style="color: black;"
                   class="filepond testImage"
                   multiple
                   data-max-file-size="5MB"
                   data-max-files="6">
        </div>
    </div>
    <div class="form-row" style="margin-top: 70px;">
        <button class="btn btn-light-green" type="submit" style="margin: 0 auto; width: 400px;">Отправить на модерацию</button>
    </div>
</form>
    }
</div>


@section scripts{
    <script src="~/Scripts/filepond-plugin-image-preview-master/dist/FilePondPluginFileValidateSize.js"></script>
    <script src="~/Scripts/filepond-plugin-image-preview-master/dist/FilePondPluginFileValidateType.js"></script>
    <script src="~/Scripts/filepond-plugin-image-preview-master/dist/filepond-plugin-image-preview.js"></script>
    <script src="~/Scripts/filepond-plugin-image-preview-master/dist/FilePondPluginFileEncode.js"></script>
    <script src="~/Scripts/filepond-master/dist/filepond.js"></script>


    <script>
        FilePond.registerPlugin(FilePondPluginFileValidateSize);
        FilePond.registerPlugin(FilePondPluginFileValidateType);
        FilePond.registerPlugin(FilePondPluginImagePreview);
        FilePond.registerPlugin(FilePondPluginFileEncode);
        var inputElement = document.getElementById("File1");

        // Select the file input and use create() to turn it into a pond
        FilePond.create(
            inputElement,
            {
                acceptedFileTypes: ['image/*'],
                fileValidateTypeDetectType: (source, type) => new Promise((resolve, reject) => {

                    // Do custom type detection here and return with promises

                    resolve(type);
                })
            }
        );
    </script>

    <script src="~/Scripts/imask.js"></script>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var phoneMask = IMask(document.getElementById('phone-mask'), {
                mask: '+{7}(000)000-00-00'
            }).on('accept', function () {
                document.getElementById('phone-complete').style.display = '';
                document.getElementById('phone-unmasked').innerHTML = phoneMask.unmaskedValue;
            }).on('complete', function () {
                document.getElementById('phone-complete').style.display = 'inline-block';
            });
        });
    </script>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var phoneMask = IMask(document.getElementById('phone-mask2'), {
                mask: '+{7}(000)000-00-00'
            }).on('accept', function () {
                document.getElementById('phone-complete').style.display = '';
                document.getElementById('phone-unmasked').innerHTML = phoneMask.unmaskedValue;
            }).on('complete', function () {
                document.getElementById('phone-complete').style.display = 'inline-block';
            });
        });
    </script>
    
    <script>
        $('.sev_check').click(function() {
            $('.sev_check').not(this).prop('checked', false);
        });
    </script>
}
