﻿@model int


<style>
    .jumbotron {
        height: 250px;
    }

    .jumbotron {
        position: relative;
        overflow: hidden;
        background-color: black;
    }

    .jumbotron video {
        position: absolute;
        z-index: 1;
        top: 0;
        width: 100%;
        height: 100%;
        /*  object-fit is not supported on IE  */
        object-fit: cover;
        opacity: 0.5;
    }

    .jumbotron .container {
        z-index: 2;
        position: relative;
    }


</style>


<style>
    .custom-control-label::before, 
    .custom-control-label::after {
        width: 2rem;
        height: 2rem;
    }
    .custom-control-label {
        padding-left: 30px;
        font-size: 25px;
    }

    @@media only screen and (max-width: 800px) {
        .custom-control-label::before, 
        .custom-control-label::after {
            width: 1rem;
            height:  1rem;
        }
        .custom-control-label {
            padding-left: 5px;
            font-size: 16px;
        }

    }
</style>




<div class="jumbotron jumbotron-fluid">
    <video class="video-fluid" autoplay loop muted playsinline>
        <source src="https://ros-rielt.ru/video/adreqvideo.mp4" type="video/mp4" />
    </video>
    <div class="container text-white">

        <h2 class="display-4" style="font-size: 35px;">Пожаловаться на объявление</h2>
        
        <p class="lead">
          Укажите жалобу, мы проверим данное объявление
        </p>
    </div>
</div>
<div class="container" style="margin-top: 30px;  margin-bottom: 400px; ">
    
    <form action="/Ad/AdReportPost" method="post" enctype="multipart/form-data" style="margin-top: 50px;">
        
        <div class="custom-control form-control-lg custom-checkbox"  style="margin-top: 20px;">
            <input  name="AdFromRealtor" value="true"  type="checkbox" class="custom-control-input" id="customCheck3">
            <input type="hidden" value="false" name="AdFromRealtor" />
            <label class="custom-control-label" for="customCheck3">Объявление от риелтора</label>
        </div>
        
        <div class="custom-control form-control-lg custom-checkbox" style="margin-top:20px;">
            <input  name="AdLeased" type="checkbox"  value="true"  class="custom-control-input" id="customCheck2">
            <input type="hidden" value="false" name="AdLeased" />
            <label class="custom-control-label"  for="customCheck2">Квартира уже сдана</label>
        </div>

        <div class="custom-control form-control-lg custom-checkbox" style="margin-top: 20px;">
            <input type="checkbox"  name="AdIncorrectData"  value="true"  class="custom-control-input" id="customCheck1">
            <input type="hidden" value="false" name="AdIncorrectData" />
            <label class="custom-control-label" for="customCheck1">Объявление содержит неверные данные</label>
        </div>

        <div class="custom-control form-control-lg custom-checkbox" style="margin-top:20px;">
            <input  name="IncorrectPhoneNumber"  value="true"  type="checkbox" class="custom-control-input" id="customCheck4">
            <input type="hidden" value="false" name="IncorrectPhoneNumber" />
            <label class="custom-control-label" for="customCheck4">Неверный номер телефона собственника</label>
        </div>
        
        <input hidden="" name="AdId" value="@Model"/>
      
        <div class="form-row" style="margin-top: 70px;">
            <button class="btn btn-light-green" type="submit" style="margin: 0 auto; width: 400px;">Отправить жалобу</button>
        </div>
        
    </form>
</div>

