﻿@model  Square.UI.Models.DataTableModel<Square.UI.Models.AdEntityModels.AdModel>
@using Square.UI.Models

@{
    ViewBag.Title = "Index";

    @Styles.Render("~/Content/AdList.css")
}

<style>
    .jumbotron-bgd {
        background-image: url('../../Images/archive-4.jpg');
        background-position: center;
        background-size: cover;
        object-fit: cover;
        color: white;
    }

    .tag {
        display: inline-block;
        width: auto;
        height: 38px;
        background-color: #979797;
        -webkit-border-radius: 3px 4px 4px 3px;
        -moz-border-radius: 3px 4px 4px 3px;
        border-radius: 3px 4px 4px 3px;
        border-left: 1px solid #979797;
        /* This makes room for the triangle */
        margin-left: 19px;
        position: relative;
        color: white;
        font-weight: 300;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 22px;
        line-height: 38px;
        padding: 0 10px 0 10px;
        box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Параметры тени */
    }

        /* Makes the triangle */
        .tag:before {
            content: "";
            position: absolute;
            display: block;
            left: -19px;
            width: 0;
            height: 0;
            border-top: 19px solid transparent;
            border-bottom: 19px solid transparent;
            border-right: 19px solid #979797;
        }

        /* Makes the circle */
        .tag:after {
            content: "";
            background-color: white;
            border-radius: 50%;
            width: 4px;
            height: 4px;
            display: block;
            position: absolute;
            left: -9px;
            top: 17px;
        }
</style>

<main role="main">

    <section class="jumbotron text-center jumbotron-bgd">
        <div class="container">
            <h1 class="jumbotron-heading">Архив</h1>
            <p class="lead" style="color: white;">Восстанови забытое старое в один клик!</p>
        </div>
    </section>
    <div class="container">
        <form action="/Ad/Index" method="post" class="needs-validation" style="width: 80%; margin: 0 auto; margin-bottom: 10px;" novalidate>
            <div class="form-row">
                <div class="col-md-4 mb-3">
                    <label for="City">Город</label>
                    <select id="City" name="Filter.CityID" class="form-control">
                        @foreach (var city in Model.Filter.Cities)
                        {
                            if (city.CityID == Model.Filter.CityID)
                            {
                                <option selected id="CityID" name="CityID" value="@city.CityID">@city.Name</option>
                            }
                            else
                            {
                                <option id="CityID" name="CityID" value="@city.CityID">@city.Name</option>
                            }
                        }
                    </select>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="District">Район</label>
                    <select id="District" name="Filter.DistrictID" class="form-control">
                        <option id="DistrictID" name="Filter.DistrictID" value="0">Все</option>
                        @foreach (var district in Model.Filter.Cities.First().Districts)
                        {
                            if (district.DistrictID == Model.Filter.DistrictID)
                            {
                                <option selected id="DistrictID" name="DistrictID" value="@district.DistrictID">@district.Name</option>
                            }
                            else
                            {
                                <option id="DistrictID" name="DistrictID" value="@district.DistrictID">@district.Name</option>
                            }
                        }
                    </select>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="validationTooltip05">Количество комнат</label>
                    <input type="number" name="Filter.RoomsCount" value="@Model.Filter.RoomsCount" min="0" step="1" data-number-to-fixed="2" data-number-stepfactor="100" class="form-control currency" id="c2" />
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-4 mb-3">
                    <label for="validationTooltipUsername">Цена от:</label>
                    <input type="number" name="Filter.PriceFrom" value="@Model.Filter.PriceFrom" min="0" step="100" data-number-to-fixed="2" data-number-stepfactor="100" class="form-control currency" id="c2" />
                </div>
                <div class="col-md-4 mb-3">
                    <label for="validationTooltip05">Цена до:</label>
                    <input type="number" name="Filter.PriceTo" value="@Model.Filter.PriceTo" min="0" step="100" data-number-to-fixed="2" data-number-stepfactor="100" class="form-control currency" id="c2" />
                </div>
                <div class="col-md-4 mb-3">
                    <label for="validationTooltip05">Поиск</label>
                    <input class="form-control mr-sm-2" value="@Model.Filter.Search" Filter.Search" type="search" placeholder="Введите адрес или название" aria-label="Search">
                </div>
            </div>

            <button class="btn btn-primary" type="submit">Найти</button>
        </form>
    </div>
    <div class="album py-5 bg-light">
        <div class="container">

            <div class="row">
                @foreach (var ad in Model.Items.ToList())
                {
                    var adMainImage = ad.MainImage;

                    <div class="col-md-4">
                        <div class="card mb-4 box-shadow">

                            @if (adMainImage != null)
                            {
                                <img class="card-img-top" style="width:100%; height: 230px;" src="~/AdImagesStore/@adMainImage.name" alt="Card image cap mx-auto d-block" />
                            }
                            else
                            {
                                <img class="card-img-top" style="width:100%; height: 230px;" src="https://bipbap.ru/wp-content/uploads/2017/07/30505.jpg" alt="Card image cap mx-auto d-block">
                            }
                        <div class="card-body">
                            @{
                                var maxTitleLength = 50;
                                var title = string.Empty;
                                if (ad.Title.Length > maxTitleLength)
                                {
                                    title = $"{ad.Title.Substring(0, maxTitleLength)}...";
                                }
                                else
                                {
                                    title = ad.Title;
                                }
                            }
                            <h5 class="card-title">@title</h5>
                            <hr />
                            <h1 class="card-title pricing-card-title" style="display: inline-block;">@ad.Price ₽</h1>
                            <img class="icon" style="width: 50px; height: 50px;" src="~/Images/tag.png" />
                            @*<button type="button" class="btn btn-success" style="width: 125px; height: 45px; font-size:20px; margin-bottom: 10px;">@ad.Price ₽</button>*@
                            <p class="card-text">Город: @ad.LocationInfo.CityName</p>
                            <p class="card-text">Район: @ad.LocationInfo.DistrictName</p>
                            <p class="card-text">Количество комнат: @ad.RoomsCount</p>
                            @if ((User.IsInRole("Subscriber") || (User.IsInRole("Admin"))) && ad.Phone != null)
                            {
                                <p class="card-text">Телефон: @ad.Phone.PhoneNumber</p>
                            }
                            @if (User.IsInRole("Admin") || User.IsInRole("Subscriber"))
                            {
                                <a href="@Url.Action("GetAdRequestInfoByIdAsync", "Ad", new {adId = ad.AdID})" id="@ad.AdID" class="btn btn-outline-success">Посмотреть</a>
                                <a href="@Url.Action("MoveAdFromArchiveToAds", "Ad", new {adId = ad.AdID})" id="@ad.AdID" class="btn btn-outline-info">Восстановить</a>
                            }
                            else
                            {
                                <button type="button" class="btn btn-info admin-action-button" data-toggle="modal" data-target="#AccessNotification">
                                    Посмотреть
                                </button>
                            }
                        </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</main>

<div class="btn-group pagination justify-content-center">
    @Html.PageLinks(Model.PageInfo, x => Url.Action("Archive", new { page = x }))
</div>

@Html.Partial("_AccessNotification")