﻿@using Square.Common.Extension
@using Square.UI.Models
@model Square.UI.Models.AdEntityModels.AdModel

@{
    ViewBag.Title = "Info";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @Styles.Render("~/Content/AdInfo.css")

    var imageAttachments = Model.ImageAttachments == null
        ? new List<Square.UI.Models.AdEntityModels.ImageAttachmentModel>()
        : Model.ImageAttachments.ToList();

    int slideNumber = 0;
}
<style>

    .tag {
        display: inline-block;
        width: auto;
        height: 38px;
        background-color: #979797;
        -webkit-border-radius: 3px 4px 4px 3px;
        -moz-border-radius: 3px 4px 4px 3px;
        border-radius: 3px 4px 4px 3px;
        border-left: 1px solid #979797;
        /* This makes room for the triangle */
        margin-left: 19px;
        position: relative;
        color: white;
        font-weight: 300;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 22px;
        line-height: 38px;
        padding: 0 10px 0 10px;
        box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Параметры тени */
    }

        /* Makes the triangle */
        .tag:before {
            content: "";
            position: absolute;
            display: block;
            left: -19px;
            width: 0;
            height: 0;
            border-top: 19px solid transparent;
            border-bottom: 19px solid transparent;
            border-right: 19px solid #979797;
        }

        /* Makes the circle */
        .tag:after {
            content: "";
            background-color: white;
            border-radius: 50%;
            width: 4px;
            height: 4px;
            display: block;
            position: absolute;
            left: -9px;
            top: 17px;
        }
</style>

<style>
    .comfort img {
        width: 50px;
        height: 50px;
        margin-right: 10px;
        margin-bottom: 10px;
    }

    img {
        max-width: 100%;
        max-height: 100%;
        height: 100%;
        display: inline-block;
        vertical-align: middle;
        object-fit: cover;
    }
</style>

<style>

    /*.card-1 {
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    }

        .card-1:hover {
            box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        }*/

    .card-2 {
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    }

    .card-3 {
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    }

    .card-4 {
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }

    .card-5 {
        box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    }
</style>

<style>
    .mynav-title > .navbar-collapse.collapse {
        display: block !important;
    }

    .mynav-title .navbar-nav > li, .mynav-title .navbar-nav {
        float: left !important;
    }

    .mynav-title > .navbar-nav.navbar-right:last-child {
        margin-right: -15px !important;
    }

    .mynav-title > .navbar-right {
        float: right !important;
    }
</style>


<style>


    /* [2] Transition property for smooth transformation of images */
    .img-hover-zoom {
        transition: transform .2s ease;
        cursor: pointer;
    }

        /* [3] Finally, transforming the image when container gets hovered */
        .img-hover-zoom:hover {
            transform: scale(1.4);
        }
</style>


<style>

    .card-1 {
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    }

    .card-1 {
        cursor: pointer;
    }

    /*.card-1:hover {
            box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        }*/
</style>


<style>
    .card h4 {
        cursor: pointer;
    }

    .card h1 {
        cursor: pointer;
    }

    .card .list-unstyled {
        cursor: pointer;
    }
</style>
<style>
    /* Set the size of the div element that contains the map */
    #map_canvas {
        height: 400px; /* The height is 400 pixels */
        width: 100%; /* The width is the width of the web page */
    }
</style>



<style>
    .cardLink {
        color: black;
    }

        .cardLink:hover {
            color: black;
            text-decoration: none;
        }
</style>

<style>
    .clip {
        white-space: nowrap; /* Запрещаем перенос строк */
        overflow: hidden; /* Обрезаем все, что не помещается в область */
        padding: 5px; /* Поля вокруг текста */
        text-overflow: ellipsis; /* Добавляем многоточие */
    }
</style>

<style>
    .card-title-ad::after {
        position: absolute;
        width: 25%;
        height: 100%;
        bottom: 0;
        right: 0;
        content: "";
        text-align: right;
        background: rgba(0,0,0,0) linear-gradient(to right,rgba(255,255,255,0),#fff 85%) repeat scroll 0 0;
    }
</style>


<link href="~/Scripts/SmartPhoto-master/css/smartphoto.min.css" rel="stylesheet" />
<div class="container ad-info" id="carousel-contain" style="margin-bottom: 20px; width: 100%; padding: 0 0;" onload="initialize()">
    <nav class="navbar-light white card card-1 navbar navbar-expand-lg mynav-title  sticky" style="margin-bottom: 30px; border-radius: 5px; min-height: 50px; cursor: pointer;">

        <div class="collapse navbar-collapse adinfotitle row" style="width: 100%; cursor: pointer;" id="navbarSupportedContent">

            <div class="col-md-6 title-el">
                @if ((User.IsInRole("Subscriber") || User.IsInRole("Admin") || (User.IsInRole("User"))))
                {
                <h3 style="margin-top: 10px;">
                    <img src="~/Images/metro.png" style="width: 50px; height: 50px; margin-left: 5px;" /> @Model.LocationInfo.DistrictName
                </h3>
                }
                else
                {
                    <h2 style="margin-top: 10px;">Адрес скрыт</h2>
                }
            </div>

            <div style="float: right; height: 100%;" class="phoneAndImage">
                @if ((User.IsInRole("Subscriber") || User.IsInRole("Admin") || (User.IsInRole("User"))))
                {

                    <button type="button" class="btn blue-gradient btn-lg" data-toggle="modal" data-target="#phoneObserve">
                        <i class="fa fa-phone-alt fa-1x pr-2 "></i>@Model.Phone.PhoneNumber
                    </button>
                }
                else if (!User.Identity.IsAuthenticated)
                {
                    <button type="button" class="btn btn-blue btn-lg" data-toggle="modal" data-target="#deniedNotification">
                        <i class="fa fa-phone-alt fa-1x pr-2 "></i> Связаться с владельцем
                    </button>
                }
                else
                {
                    <button type="button" class="btn btn-blue btn-lg" data-toggle="modal" data-target="#paymentNeededNotification">
                        <i class="fa fa-phone-alt fa-1x pr-2 "></i> Связаться с владельцем
                    </button>
                }

            </div>
        </div>
    </nav>
    <div class="row no-gutters mainimgs" style="width: 100%; margin-top: 30px;">

        <div class="col-md-7 myimg">
            <div class="fotorama col-md-12 border" data-allowfullscreen="true" data-autoplay="true" data-nav="thumbs" data-width="900" data-ratio="700/467" data-max-width="100%">

                @if (imageAttachments.Count > 0)
                {
                    if (Model.IsAvito)
                    {
                        for (int i = 0; i < imageAttachments.Count; i++)
                        {
                            <a href="@imageAttachments[i].newName" class="js-img-viwer" data-caption="" data-id="">
                                <img data-enlargable class="d-block w-100 js-smartPhoto" style="height: 100%; cursor: zoom-in" src="https://ros-rielt.ru/@imageAttachments[i].newName" alt="slide1">
                            </a>
                        }
                    }
                    else
                    {

                        for (int i = 0; i < imageAttachments.Count; i++)
                        {
                            <a href="https://ros-rielt.ru/@imageAttachments[i].newName" class="js-img-viwer" data-caption="" data-id="">
                                <img data-enlargable class="d-block w-100 js-smartPhoto" style="height: 100%; cursor: zoom-in" src="https://ros-rielt.ru/@imageAttachments[i].newName" alt="slide1">
                            </a>
                        }
                    }
                }
                else
                {
                    <img data-enlargable class="d-block w-100" style="height: 100%; cursor: zoom-in" src="~/Images/no-image.png" alt="slide1">
                }
            </div>
        </div>
        <div class="col-md-5">
            <div class="card-body" style="padding-top: 0; cursor: default;">
                <h5 class="card-title pricing-card-title display-4"> @Model.FormattedPrice ₽</h5>
                <hr />
                <p class="card-text" style="font-size: 18px;"><span class="text-muted">Город:</span> @Model.LocationInfo.CityName</p>
                <p class="card-text" style="font-size: 18px;"><span class="text-muted">Метро:</span> @Model.LocationInfo.DistrictName</p>
                @if (User.IsInRole("Subscriber") || User.IsInRole("Admin") || (User.IsInRole("User")))
                {
                    <p class="card-text" style="font-size: 18px;"><span class="text-muted">Адрес:</span> @Model.Title</p>
                }
                else
                {
                    <p class="card-text" style="font-size: 18px;"><span class="text-muted">Адрес:</span>   <span class="badge badge-primary">Доступен после регистрации</span> </p>
                }


                <p class="card-text" style="font-size: 18px;"><span class="text-muted">Количество комнат:</span> @Model.RoomsCount</p>
                @if (Model.Phone != null)
                {
                    if (User.IsInRole("Subscriber") || User.IsInRole("Admin") || (User.IsInRole("User")))
                    {
                        <p class="card-text" style="font-size: 18px;"><span class="text-muted">Номер телефона:</span> @Model.Phone.PhoneNumber</p>
                    }
                    else
                    {
                        <p class="card-text" style="font-size: 18px;"><span class="text-muted">Номер телефона:</span>   <span class="badge badge-primary">Доступен после регистрации</span> </p>
                    }
                }
                else
                {
                    <p class="card-text"><span class="text-muted">Номер телефона:</span></p>
                }
                <p class="card-text" style="font-size: 18px;"><span class="text-muted">ФИО:</span> @Model.Fio</p>
                <hr />


                @if (Model.UpdatedDate.HasValue)
                {
                    var updatedDate = Model.UpdatedDate.Value.AddHours(4);

                    var text = string.Empty;

                    if (updatedDate.Date == DateTime.UtcNow.AddHours(4).Date)
                    {
                        <div class="alert alert-success" role="alert" style="margin-bottom: 0px;">
                            <i class="far fa-check-circle"></i>  Объявление проверенно модераторами совсем недавно. Высокая вероятность, что квартиру еще не сдали.
                        </div>

                    }
                    else if (updatedDate.Date == DateTime.UtcNow.AddDays(-3).AddHours(4).Date)
                    {
                        <div class="alert alert-success" role="alert" style="margin-bottom: 0px;">
                            <i class="far fa-check-circle"></i>  Объявление проверенно модераторами совсем недавно. Высокая вероятность, что квартиру еще не сдали.
                        </div>

                    }
                    else if (DateTime.UtcNow.AddDays(-15).AddHours(4) <= updatedDate)
                    {
                        <div class="alert alert-success" role="alert" style="margin-bottom: 0px;">
                            <i class="far fa-check-circle"></i>  Объявление проверенно модераторами недавно. Возможно Вы еще успеете снять квартиру.
                        </div>
                    }
                    else
                    {
                        <div class="alert alert-info" role="alert" style="margin-bottom: 0px;">
                            <i class="far fa-check-circle"></i>  Объявление проверенно модераторами. Возможно Вы еще успеете снять квартиру.
                        </div>
                    }
                }
                else
                {
                    <div class="alert alert-info" role="alert" style="margin-bottom: 0px;">
                        <i class="far fa-check-circle"></i>  Объявление проверенно модераторами. Возможно Вы еще успеете снять квартиру.
                    </div>
                }

                <a type="button" href="@Url.Action("AdReport", "Ad", new{adId = Model.AdID})" class="btn-sm btn-danger text-center" style="margin-top: 10px; width: 100%;"> Пожаловаться на объявление </a>



            </div>

            <style>
                .album .fa-heart-o {
                    color: #ffffff;
                    cursor: pointer;
                    filter: blur(0.4px);
                    position: absolute;
                    z-index: 5;
                    top: 20px;
                    right: 10px;
                }

                .album .fa-heart {
                    color: #ff4444;
                    filter: blur(0.1px);
                    cursor: pointer;
                    position: absolute;
                    z-index: 5;
                    top: 20px;
                    right: 10px;
                }

                .album .fa-heart-o:hover {
                    color: red;
                    transition: 0.5s;
                }
            </style>
            <script>
                function myFunction(x) {
                    if (x.classList.contains("fa-heart")) {
                        x.classList.remove("fa-heart");
                        x.classList.add("fa-heart-o");
                    }
                    else {
                        x.classList.remove("fa-heart-o");
                        x.classList.add("fa-heart");
                    }
                }
            </script>
        </div>
        <div class="col-md-7">
            <br />

            <p class="card-text ad-description" style="font-size: 19px; ">@Model.Description</p>

            <hr />
            <div class="comfort">
                @if (Model.ComfortModel != null)
                {
                    if (Model.ComfortModel.AirConditioning)
                    {
                        <img class="img-hover-zoom" title="Кондиционер" src="~/Images/comfort/air-conditioner33.png" />

                    }
                    if (Model.ComfortModel.Bath)
                    {
                        <img class="img-hover-zoom" title="Ванна" src="~/Images/comfort/bathtub333.png" />

                    }
                    if (Model.ComfortModel.Shower)
                    {

                        <img class="img-hover-zoom" title="Душ" src="~/Images/comfort/shower333.png" />

                    }
                    if (Model.ComfortModel.Internet)
                    {
                        <img class="img-hover-zoom" title="Интернет" src="~/Images/comfort/wifi333.png" />

                    }
                    if (Model.ComfortModel.KitchenFurniture)
                    {
                        <img class="img-hover-zoom" title="Кухня" src="~/Images/comfort/kitchen333.png" />

                    }
                    if (Model.ComfortModel.Washer)
                    {
                        <img class="img-hover-zoom" title="Стиральная машина" src="~/Images/comfort/washing-machine333.png" />

                    }
                    if (Model.ComfortModel.RoomsFurniture)
                    {
                        <img class="img-hover-zoom" title="Мебель в комнатах" src="~/Images/comfort/living-room333.png" />

                    }
                    if (Model.ComfortModel.Fridge)
                    {
                        <img class="img-hover-zoom" title="Холодильник" src="~/Images/comfort/fridge333.png" />

                    }
                }
            </div>

            @if (!string.IsNullOrWhiteSpace(Model.AdditionalInfo))
            {
                <hr />
                <p class="card-text" style="font-size: 17px;"><span class="text-muted">Примечание:</span> @Model.AdditionalInfo</p>
            }
            <hr />
            @if (Model.UpdatedDate.HasValue)
            {
                Model.UpdatedDate = Model.UpdatedDate.Value.AddHours(4);

                var text = string.Empty;

                if (Model.UpdatedDate.Value.Date == DateTime.UtcNow.AddHours(4).Date)
                {
                    text = "Сегодня в " + Model.UpdatedDate.Value.ToString("HH:mm");
                }
                else if (Model.UpdatedDate.Value.Date == DateTime.UtcNow.AddDays(-1).AddHours(4).Date)
                {
                    text = "Вчера в " + Model.UpdatedDate.Value.ToString("HH:mm");
                }
                else
                {
                    text = Model.UpdatedDate.Value.ToString("dd-MM-yyyy HH:mm");
                }

                <p class="card-text vadded" style="font-size: 19px;"><small class="text-muted"><i class="far fa-clock pr-1"></i>  @text</small></p>
            }
            else
            {
                <p class="card-text vadded"><small class="text-muted">Объявление добавлено:</small></p>
            }


        </div>
    </div>
</div>


<br />
<br />
<div id="map_canvas">
</div>


@if (Model.SimilarAds == null || Model.SimilarAds.Count() == 0)
{
    <style>
        footer {
            margin-top: 0px !important;
        }
    </style>
}
else if (User.IsInRole("Guest") || !User.Identity.IsAuthenticated)
{
    <style>
        footer {
            margin-top: 0px !important;
        }
    </style>
}
else
{

    <br />
    <br />
    <br />
    <div class="container">
        <h2 class="text-center" style="font-weight: bold;">Похожие объявления</h2>

        <div class="row">
            <div class="container my-4">
                <div class="row">
                    @foreach (var item in Model.SimilarAds.Take(3))
                    {
                        <div class="col-md-4" style=" max-height: 350px; margin-bottom: 20px;">
                            <div class="card mb-2" style="width: 350px; ">

                                @{ var imageAttachmentsSim = item.ImageAttachments.FirstOrDefault();}
                                @if (imageAttachmentsSim != null)
                                {<a class="cardLink" href="@Url.Action("GetAdInfoByIdAsync", "Ad", new {adId = item.AdID})" style="color: black; height: auto;">

                                        @if (item.IsAvito)
                                        {
                                            <img class="card-img-top" style="height: 230px" src="@imageAttachmentsSim.name" />

                                        }
                                        else
                                        {
                                            <img class="card-img-top" style="height: 230px" src="https://ros-rielt.ru/@imageAttachmentsSim.newName" />

                                        }
                                    </a>

                                }
                                else
                                {<a class="cardLink" href="@Url.Action("GetAdInfoByIdAsync", "Ad", new {adId = item.AdID})" style="color: black; height: auto;">

                                        <img class="card-img-top" style="width: 100%; height: 250px;" src="~/Images/no-image.png" alt="Card image cap mx-auto d-block">
                                    </a>
                                }

                                <a class="cardLink" href="@Url.Action("GetAdInfoByIdAsync", "Ad", new {adId = item.AdID})" style="color: black;">
                                    <div class="card-body" style="padding-bottom: 0px;">
                                        @{
                                            var maxTitleLength = 20;
                                            var title = string.Empty;
                                            if (item.Title.Length > maxTitleLength)
                                            {
                                                var subTitle = item.Title.Substring(0, maxTitleLength);
                                                title = subTitle + "...";
                                            }
                                            else
                                            {
                                                title = item.Title;
                                            }
                                        }
                                        <!-- Button -->

                                        <div class="row">
                                            <h3 class="col-md-9" style="font-weight: bold; font-size: 24px;">@item.FormattedPrice ₽</h3>

                                            <p class="card-title-ad clip col-md-12" style="font-size: 15px;">
                                                <img src="~/Images/metro.png" style="width: 35px; height: 35px; margin-bottom: 5px; margin-left: 5px;" /> @Model.LocationInfo.DistrictName | @item.RoomsCountString | @item.Title
                                            </p>
                                        </div>
                                    </div>
                                </a>

                            </div>
                        </div>
                       
                    }
                </div>
            </div>
        </div>
    </div>
}

@Html.Partial("_AccessNotification")
@Html.Partial("_PhoneObserve", Model)
@Html.Partial("_PaymentNeededNotification")
@Html.Partial("_AccessInfoDeniedNotification")
@section scripts{
    <script src="~/Scripts/SmartPhoto-master/js/smartphoto.js"></script>

    <script>
        function maxLengthCheck(object) {
            if (object.value.length > object.maxLength)
                object.value = object.value.slice(0, object.maxLength)
        }
    </script>


    <script>
        document.addEventListener('DOMContentLoaded',
            function () {
                var photo = new SmartPhoto(".js-img-viwer");
                photo.on('change',
                    function () {
                        console.log('change');
                    });
                photo.on('close',
                    function () {
                        console.log('close');
                    });
                photo.on('swipestart',
                    function () {
                        console.log('swipestart');
                    });
                photo.on('swipeend',
                    function () {
                        console.log('swipeend');
                    });
                photo.on('loadall',
                    function () {
                        console.log('loadall');
                    });
                photo.on('zoomin',
                    function () {
                        console.log('zoomin');
                    });
                photo.on('zoomout',
                    function () {
                        console.log('zoomout');
                    });
                photo.on('open',
                    function () {
                        console.log('open');
                    });
                new SmartPhoto(".js-smartPhoto-fit",
                    {
                        resizeStyle: 'fit'
                    });
            });
    </script>

    <script type="text/javascript" src="https://maps.google.com/maps/api/js?key=AIzaSyCZS2VwCb41YSGh7hHc11wBtw3WTz0eKBE&sensor=false"></script>
    <script type="text/javascript">
        var geocoder;
        var map;


        var address = "@Model.LocationInfo.CityName , @Model.LocationInfo.DistrictName, @Model.Title";

        (function initialize() {
            geocoder = new google.maps.Geocoder();
            var latlng = new google.maps.LatLng(-34.397, 150.644);
            var myOptions = {
                zoom: 18,
                center: latlng,
                mapTypeControl: true,
                mapTypeControlOptions: { style: google.maps.MapTypeControlStyle.DROPDOWN_MENU },
                navigationControl: true,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
            if (geocoder) {
                geocoder.geocode({ 'address': address },
                    function(results, status) {
                        if (status == google.maps.GeocoderStatus.OK) {
                            if (status != google.maps.GeocoderStatus.ZERO_RESULTS) {
                                map.setCenter(results[0].geometry.location);

                                var infowindow = new google.maps.InfoWindow(
                                    {
                                        content: '<b>' + address + '</b>',
                                        size: new google.maps.Size(150, 50)
                                    });

                                var marker = new google.maps.Marker({
                                    position: results[0].geometry.location,
                                    map: map,
                                    title: address
                                });
                                google.maps.event.addListener(marker,
                                    'click',
                                    function() {
                                        infowindow.open(map, marker);
                                    });

                            } else {
                                alert("No results found");
                            }
                        } else {
                            alert("Geocode was not successful for the following reason: " + status);
                        }
                    });
            }
        })()
    </script>

    <script>

        $(".card").hover(
            function () {
                $(this).addClass('shadow-lg').css('cursor', 'pointer');
            }, function () {
                $(this).removeClass('shadow-lg');
            });

        $(document).ready(function () {

            // place this within dom ready function
            function showpanel() {
                $(".adList").show();
            }

            // use setTimeout() to execute
            setTimeout(showpanel, 1400)
        });
    </script>
}