﻿@model IEnumerable<Square.UI.Models.AccountEntityModel.FavoriteModel>
@{
    ViewBag.Title = "GetFavorites";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .jumbotron {
        height: 250px;
    }

    .jumbotron {
        position: relative;
        overflow: hidden;
        background-color: black;
    }

    .jumbotron video {
        position: absolute;
        z-index: 1;
        top: 0;
        width: 100%;
        height: 100%;
        /*  object-fit is not supported on IE  */
        object-fit: cover;
        opacity: 0.5;
    }

    .jumbotron .container {
        z-index: 2;
        position: relative;
    }
</style>

<div class="jumbotron jumbotron-fluid">
    <video class="video-fluid" autoplay loop muted playsinline>
        <source src="https://ros-rielt.ru/video/adreqvideo.mp4" type="video/mp4" />
    </video>
    <div class="container text-white">

        <h2 class="display-4" style="font-size: 45px;">Избранное</h2>
     
        <p class="lead">
            Добавьте понравившиеся объявления в избранное,
            чтобы просмотреть их позже
        </p>
    </div>
</div>
<div class="container" style="margin-top: 30px;  margin-bottom: 400px; ">
    <br />

    @if (!User.Identity.IsAuthenticated)
    {
        <div class="container">
            <div style="width: 65%; margin: 0 auto;">
                <h2 class="display-4" style="font-size: 20px;">
                    Список избранного пуст
                </h2>

                <p class="lead" style="font-size: 15px;">
                    Добавьте понравившиеся объявления в избранное,
                    чтобы просмотреть их позже
                </p>

                <a type="button" href="@Url.Action("Login", "Account")" class="btn-sm btn-primary" style="margin: 0 !important;"> <i class="fa fa-sign-in-alt fa-1x pr-2"></i>Войти</a>
            </div>
            <img src="~/Images/emptyFavorites.png" style="width: 100%; height: auto;"/>

        </div>
    }
    else if (Model.Count() == 0)
    {
       
        <div class="container">
            <div style="width: 65%; margin: 0 auto;">
                <h2 class="display-4" style="font-size: 20px;">
                    Список избранного пуст
                </h2>

                <p class="lead" style="font-size: 15px;">
                    Добавьте понравившиеся объявления в избранное,
                    чтобы просмотреть их позже
                </p>

                </div>
            <img src="~/Images/emptyFavorites.png" style="width: 100%; height: auto;"/>

        </div>
    }
    else
    {

        <div class="row table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Улица</th>
                    <th scope="col">Кол-во комнат</th>
                    <th scope="col">Цена</th>
                    <th scope="col">Действие</th>
                </tr>
                </thead>
                <tbody>
                @{ var count = 1; }
                @foreach (var item in Model.Where(i => i.Ad != null))
                {


                    <tr>
                        <th scope="row">@count</th>
                        <td>@item.Ad.Title</td>
                        <td>@item.Ad.RoomsCount</td>
                        <td>@item.Ad.Price </td>

                        <td>
                            <form id="myform" action="/Account/RemoveFromFavoriteWithReload" method="post">
                                <a type="button" href="@Url.Action("GetAdInfoByIdAsync", "Ad", new {adId = item.Ad.AdID })" class="btn-sm btn-light-green " style="color: white;">Посмотреть</a>

                                <input hidden="" name="adID" value="@item.Ad.AdID" />
                                <a type="button" href="@Url.Action("RemoveFromFavoriteWithReload2", "Account", new {adId = item.Ad.AdID })"  class="btn-sm btn-danger " style="color: white;">Удалить</a>
                            </form>
                        </td>
                    </tr>
                    count++;
                }
                </tbody>
            </table>
        </div>
    }
</div>
