﻿
@{
    ViewBag.Title = "Greeting";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container my-5 z-depth-1">


    <!--Section: Content-->
    <section class="dark-grey-text">

        <div class="row pr-lg-5">
            <div class="col-md-7 mb-4">

                <div class="view">
                    <img src="~/Images/greeting.jpg"  class="img-fluid" alt="smaple image"/>
                </div>

            </div>
            <div class="col-md-5 d-flex align-items-center">
                <div>

                    <h3 class="font-weight-bold mb-4">Вау, поздравляем!</h3>

                    <p>Мы очень рады, что вы стали частью Ros-Rielt. Искренне желаем Вам найти то, что Вы ищите и хотим предоставить лучший сервис, чтобы Вам было максимально комфортно!
                    А так же успейте приобрести подписку по скидке 35% в течении 24ч. Предложение ограниченно!
                    </p>

                    <a class="btn btn-orange btn-rounded mx-0" href=@Url.Action("Index", "Ad")> Снять квартиру</a>
                </div>
            </div>
        </div>

    </section>
    <!--Section: Content-->


</div>

