﻿@model Square.UI.Models.AccountEntityModel.LoginModel
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @Styles.Render("~/Content/Account.css")
}

<style>

    input:-webkit-autofill {
        -webkit-box-shadow: inset 0 0 0 50px #fff !important; /* Цвет фона */
    }
</style>
<fo class="container">
    <div class="row justify-content-center" style="width: 100%; margin: 0 auto; margin-top: 70px;">
        <div style="width: 600px; margin: 0 auto;">
            <div class="card">
                <header class="card-header">
                    <a href=@Url.Action("SignUp", "Account") class="float-right btn btn-primary mt-1">Регистрация</a>
                    <h4 class="card-title mt-2">Вход</h4>
                </header>
                <article class="card-body">
                    @if (Model.Errors.Count() > 0)
                    {
                        foreach (var error in Model.Errors)
                        {
                            if (error == Square.UI.Models.AccountEntityModel.ErrorTypeEnum.LoginNotFound)
                            {
                                <div class="alert alert-warning" role="alert">
                                    Введен неверный логин или пароль!
                                </div>
                            }
                        }
                    }

                    <form action="/Account/Login" method="post">
                        <div class="form-group">
                            <img class="icon" style="width: 100px; height: 100px;" src="~/Images/loginAvatar.png" />
                        </div>
                        <div class="form-row">
                            <div class="col-md-6 md-form ">
                                <input id="phone-mask" name="PhoneNumberLogin" placeholder="Номер телефона" type="text" class="form-control"  value="@Model.PhoneNumberLogin">
                                @Html.ValidationMessageFor(model => model.PhoneNumberLogin, "", new { @class = "text-danger", @style = "font-size: 12px;" })
                            </div>
                            <div class="col-md-6  md-form ">
                                <input name="Password" type="password" placeholder="Пароль" data-success="right" data-error="wrong" class="form-control" value="@Model.Password">
                                @Html.ValidationMessageFor(model => model.Password, "", new {@class = "text-danger", @style = "font-size: 12px;"})
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block">  <i class="fa fa-sign-in-alt fa-1x pr-2"></i> Войти </button>
                        </div>
                    </form>
                </article>
                <div class="border-top card-body text-center">Еще не создали аккаунт? <a href=@Url.Action("SignUp", "Account")>Регистрация</a></div>
            </div>
        </div>
    </div>
</fo>
@section scripts{
    <script src="~/Scripts/imask.js"></script>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var phoneMask = IMask(document.getElementById('phone-mask'), {
                mask: '+{7}(000)000-00-00'
            }).on('accept', function () {
                document.getElementById('phone-complete').style.display = '';
                document.getElementById('phone-unmasked').innerHTML = phoneMask.unmaskedValue;
            }).on('complete', function () {
                document.getElementById('phone-complete').style.display = 'inline-block';
            });
        });
    </script>
}