﻿
@{
    ViewBag.Title = "NotFound";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/Error.css" rel="stylesheet" />
<div class="site">
    <div class="sketch">
        <div class="bee-sketch red"></div>
        <div class="bee-sketch blue"></div>
    </div>

    <h1>404:
        <small>Ooops... Что то тут пусто и нечего нет!?</small></h1>
</div>