﻿@model Square.UI.Models.AccountEntityModel.UserModel
@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Scripts/filepond-master/dist/filepond.css" rel="stylesheet" />
<link href="~/Scripts/filepond-plugin-image-preview-master/dist/filepond-plugin-image-preview.css" rel="stylesheet" />

<link href="path/to/bootstrap-editable/css/bootstrap-editable.css" rel="stylesheet">
<script src="path/to/bootstrap-editable/js/bootstrap-editable.min.js"></script>
<style>

    .filepond--drop-label {
        color: #4c4e53;
    }

    .filepond--label-action {
        text-decoration-color: #babdc0;
    }

    .filepond--panel-root {
        background-color: #edf0f4;
    }

    .filepond--root {
        width: 170px;
        margin: 0 auto;
        margin-bottom: 14px;
    }

    .nav-tabs > li > a {
        color: white;
    }

        .nav-tabs > li > a:active {
            color: black;
        }
</style>





<style>
    .circular--portrait {
        position: relative;
        width: 200px;
        height: 200px;
        overflow: hidden;
        border-radius: 50%;
    }

        .circular--portrait img {
            width: 100%;
            height: auto;
        }
</style>

<style>
    img {
        max-width: 100%;
        max-height: 100%;
        height: 100%;
        display: inline-block;
        vertical-align: middle;
        object-fit: cover;
    }
</style>

<style>
    footer {
        color: white;
    }

    footer a {
        color: white;
    }

    footer a:hover {
        color: white;
    }

    .footer-CompanyUrl {
        color: white;
    }
</style>

<div style="width: 90%; margin: 0 0; margin-top: 100px; margin-bottom: 50px;" class="row">
    <div class="col-md-6" style="margin-bottom: 50px;">
        <div class="circular--portrait" style="margin: 0 auto;">
            @if (!string.IsNullOrWhiteSpace(Model.MainImage))
            {
                <img class="card-img-top" style="height: 200px; width: 200px;" src="~/UserImageStore/@Model.MainImage" alt="Card image cap mx-auto d-block" />
            }
            else
            {
                <img class="card-img-top" style="height: 200px; width: 200px;" src="~/Images/user4.png" alt="Card image cap mx-auto d-block">
            }
        </div>


        @{var fio = @Model.LastName + " " + @Model.FirstName; } 

        <h1 align="center">@fio </h1>
        <h5 align="center">@Model.RoleName <a href=@Url.Action("UpdateUserInfo", "Account", new {userId = Model.UserID}) style="color: #17141d;"><i class="fab fa-whmcs fa-1x pr-2"></i></a></h5>
    </div>
    <div class="col-md-6" >

        <ul class="nav nav-tabs my-nav-tabs">
            <li class="nav-item">
                <a href="" data-target="#profile" data-toggle="tab" class="nav-link active"  style="color: black;">Мой Профиль</a>
            </li>
            <li class="nav-item">
                <a href="" data-target="#subscriptions" data-toggle="tab" class="nav-link" style="color: black;">Мои Подписки</a>
            </li>
        </ul>
        <div class="tab-content p-b-3">
            <div class="tab-pane active" id="profile" style="margin-top: 20px;">
                <div class="row" style="width: 100%;">
                    <div class="col-md-12" style="width: 100%;">
                        <p class="card-text" style="font-size: 18px;"><span style="color: #4c4e53; opacity: 0.7;">Телефон:</span> @Model.PhoneNumber</p>
                        <p class="card-text" style="font-size: 18px;"><span style="color: #4c4e53; opacity: 0.7;">Фамилия:</span> @Model.LastName</p>
                        <p class="card-text" style="font-size: 18px;"><span style="color: #4c4e53; opacity: 0.7;">Имя:</span> @Model.FirstName</p>
                        <p class="card-text" style="font-size: 18px;"><span style="color: #4c4e53; opacity: 0.7;">Email:</span> @Model.Email</p>
                        <p class="card-text" style="font-size: 18px;"><span style="color: #4c4e53; opacity: 0.7;">Дата Регистрации:</span> @Model.RegistrationDate.ToString("dd-MM-yyyy")</p>
                    </div>
                    <div class="col-md-12" style="margin-top: 30px;">
                        <h4 class="m-t-2"><span class="fa fa-clock-o ion-clock pull-xs-right"></span> Недавняя Активность</h4>
                        <table class="table table-hover table-striped">
                            <tbody>
                                <tr>
                                    <td>
                                        <strong>На данный момент активностей нет</strong>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!--/row-->
            </div>
            <div class="tab-pane" id="subscriptions" style="margin-top: 20px;">
                <h4 class="m-y-2" style="margin-bottom: 20px;">Мои Подписки: </h4>
                
                <div class="container2">

                    @foreach (var subscription in Model.Subscriptions)
                    {

                        <ul class="list-group">

                            @if (subscription.IsActive)
                            {
                            
                                <li class="list-group-item list-group-item-success"  style="margin-bottom: 10px;">@subscription.Title. С: @subscription.StartDate.Value.ToString("dd-MM-yyyy HH:mm") - По: @subscription.EndDate.Value.ToString("dd-MM-yyyy HH:mm")</li>
                           
                            }
                            else
                            {

                                <li class="list-group-item list-group-item-danger" style="margin-bottom: 10px;">@subscription.Title. С: @subscription.StartDate.Value.ToString("dd-MM-yyyy HH:mm") - По: @subscription.EndDate.Value.ToString("dd-MM-yyyy HH:mm")</li>
                            }
                        </ul>
                    }
                </div>
            </div>
        </div>
    </div>

</div>
@section scripts{
    <script>
        $('span[name=displayText]').click(function () {
            $(this).hide();
            $('input[name=editText]', $(this).closest('td')).show();
        });
    </script>

    <script src="~/Scripts/filepond-plugin-image-preview-master/dist/filepond-plugin-image-preview.js"></script>
    <script src="~/Scripts/filepond-master/dist/filepond.js"></script>
    <script src="~/Scripts/imaskjs-master/packages/imask/src/imask.js"></script>

    <script src="~/Scripts/filepondlk/filepond-plugin-file-encode.min.js"></script>
    <script src="~/Scripts/filepondlk/stopExecutionOnTimeout-de7e2ef6bfefd24b79a3f68b414b87b8db5b08439cac3f1012092b2290c719cd.js"></script>
    <script src="~/Scripts/filepondlk/filepond-plugin-file-validate-type.min.js"></script>
    <script src="~/Scripts/filepondlk/filepond-plugin-image-exif-orientation.min.js"></script>
    <script src="~/Scripts/filepondlk/filepond-plugin-image-crop.min.js"></script>
    <script src="~/Scripts/filepondlk/filepond-plugin-image-resize.min.js"></script>
    <script src="~/Scripts/filepondlk/filepond-plugin-image-transform.min.js"></script>
    <script id="rendered-js">
        /*
We need to register the required plugins to do image manipulation and previewing.
*/
        FilePond.registerPlugin(
            // encodes the file as base64 data
            FilePondPluginFileEncode,

            // validates files based on input type
            FilePondPluginFileValidateType,

            // corrects mobile image orientation
            FilePondPluginImageExifOrientation,

            // previews the image
            FilePondPluginImagePreview,

            // crops the image to a certain aspect ratio
            FilePondPluginImageCrop,

            // resizes the image to fit a certain size
            FilePondPluginImageResize,

            // applies crop and resize information on the client
            FilePondPluginImageTransform);


        // Select the file input and use create() to turn it into a pond
        // in this example we pass properties along with the create method
        // we could have also put these on the file input element itself
        FilePond.create(
            document.querySelector('input'),
            {
                labelIdle: `Drag & Drop your picture or <span class="filepond--label-action">Browse</span>`,
                imagePreviewHeight: 170,
                imageCropAspectRatio: '1:1',
                imageResizeTargetWidth: 200,
                imageResizeTargetHeight: 200,
                stylePanelLayout: 'compact circle',
                styleLoadIndicatorPosition: 'center bottom',
                styleButtonRemoveItemPosition: 'center bottom'
            });
        //# sourceURL=pen.js
    </script>

    <script src="~/Scripts/imask.js"></script>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var phoneMask = IMask(document.getElementById('phone-mask'), {
                mask: '+{7}(000)000-00-00'
            }).on('accept', function () {
                document.getElementById('phone-complete').style.display = '';
                document.getElementById('phone-unmasked').innerHTML = phoneMask.unmaskedValue;
            }).on('complete', function () {
                document.getElementById('phone-complete').style.display = 'inline-block';
            });
        });
    </script>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var phoneMask = IMask(document.getElementById('phone-mask2'), {
                mask: '+{7}(000)000-00-00'
            }).on('accept', function () {
                document.getElementById('phone-complete').style.display = '';
                document.getElementById('phone-unmasked').innerHTML = phoneMask.unmaskedValue;
            }).on('complete', function () {
                document.getElementById('phone-complete').style.display = 'inline-block';
            });
        });
    </script>


    <script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>

    <script>
        particlesJS("snow", {
            "particles": {
                "number": {
                    "value": 100,
                    "density": {
                        "enable": false,
                        "value_area": 800
                    }
                },
                "color": {
                    "value": "#ffffff"
                },
                "shape": {
                    "type": "image",
                    "stroke": {
                        "width": 3,
                        "color": "#fff"
                    },
                    "polygon": {
                        "nb_sides": 5
                    },
                    "image": {
                        "src": "@Url.Content("~/Images/starburst_white_300_drop_2.png")",
                        "width": 100,
                        "height": 100
                    }
                },
                "opacity": {
                    "value": 0.7,
                    "random": false,
                    "anim": {
                        "enable": false,
                        "speed": 1,
                        "opacity_min": 0.1,
                        "sync": false
                    }
                },
                "size": {
                    "value": 5,
                    "random": true,
                    "anim": {
                        "enable": false,
                        "speed": 20,
                        "size_min": 0.1,
                        "sync": false
                    }
                },
                "line_linked": {
                    "enable": false,
                    "distance": 50,
                    "color": "#ffffff",
                    "opacity": 0.6,
                    "width": 1
                },
                "move": {
                    "enable": true,
                    "speed": 3,
                    "direction": "bottom",
                    "random": true,
                    "straight": false,
                    "out_mode": "out",
                    "bounce": false,
                    "attract": {
                        "enable": true,
                        "rotateX": 300,
                        "rotateY": 1200
                    }
                }
            },
            "retina_detect": false
            // "interactivity": {
            //   "detect_on": "canvas",
            //   "events": {
            //     "onhover": {
            //       "enable": false,
            //       "mode":  "bubble"
            //     },
            //     "onclick": {
            //       "enable": true,
            //       "mode": "repulse"
            //     },
            //     "resize": true
            //   },
            //   "modes": {
            //     "grab": {
            //       "distance": 150,
            //       "line_linked": {
            //         "opacity": 1
            //       }
            //     },
            //     "bubble": {
            //       "distance": 200,
            //       "size": 40,
            //       "duration": 2,
            //       "opacity": 8,
            //       "speed": 3
            //     },
            //     "repulse": {
            //       "distance": 200,
            //       "duration": 0.2
            //     },
            //     "push": {
            //       "particles_nb": 4
            //     },
            //     "remove": {
            //       "particles_nb": 2
            //     }
            //   }
            // },

        });
    </script>
}