﻿@model Square.UI.Models.AccountEntityModel.RegisterModel

@{
    ViewBag.Title = "SignUp";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @Styles.Render("~/Content/Account.css")
}
<style>

    input:-webkit-autofill {
        -webkit-box-shadow: inset 0 0 0 50px #fff !important; /* Цвет фона */
    }
</style>

<script type="text/javascript">
    var onloadCallback = function () {
        grecaptcha.render('html_element', {
            'sitekey': '6LcdIfcUAAAAACgwu0IcJFOGdhQAyhH1TOrwSfnz'
        });
    };
</script>
<fo class="container signUpContainer">
    <div class="row justify-content-center" style="width: 100%; margin: 0 auto;">
        <div style="margin: 0 auto; width: 700px;">
            <div class="card">
                <header class="card-header">
                    <a href=@Url.Action("Login", "Account") class="float-right btn btn-primary mt-1"> <i class="fa fa-sign-in-alt fa-1x pr-2"></i>Войти</a>
                    <h4 class="card-title mt-2">Регистрация</h4>
                </header>
                <article class="card-body">
                    @if (Model.Errors.Count() > 0)
                    {
                        foreach (var error in Model.Errors)
                        {
                            if (error == Square.UI.Models.AccountEntityModel.ErrorTypeEnum.PhoneNumberExisted)
                            {
                                <div class="alert alert-warning" role="alert">
                                    Аккаунт с таким логином уже существует!
                                </div>
                            }
                        }
                    }
                <form action="/Account/SignUp" method="post">

                    <div class="form-row">
                        <div class="col-md-6 md-form">
                            <input name="LastName" type="text" class="form-control" placeholder="Фамилия*" value="@Model.LastName">
                            @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger", @style = "font-size: 12px;" })
                        </div>

                        <div class="col-md-6  md-form">
                            <input name="FirstName" type="text" class="form-control" placeholder="Имя*" value="@Model.FirstName">
                            @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger", @style = "font-size: 12px;" })
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-6  md-form">
                            @{ var phnumber = string.IsNullOrWhiteSpace(Model.PhoneNumber) ? "+7" : Model.PhoneNumber;}
                            <input id="phone-mask" name="PhoneNumber" placeholder="Телефон*" type="text" class="form-control" aria-describedby="inputGroupPrepend2" value="@phnumber">
                            <small class="form-text text-muted">Используйте свой номер телефона</small>
                            <small class="form-text text-muted">в качестве логина.</small>
                            @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger", @style = "font-size: 12px;" })
                        </div>
                        <div class="col-md-6  md-form">
                            <input name="Email" type="text" placeholder="Email" class="form-control" value="@Model.Email">
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger", @style = "font-size: 12px;" })
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-6  md-form">
                            <input name="Password" type="password" placeholder="Пароль*" value="@Model.Password" class="form-control">
                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger", @style = "font-size: 12px;" })
                        </div>

                        <div class="col-md-6  md-form">
                            <input name="ConfirmPassword" type="password" placeholder="Подтвердите пароль*" value="@Model.ConfirmPassword" class="form-control">
                            @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger", @style = "font-size: 12px;" })
                        </div>
                    </div>   <div id="html_element"></div>
                    @*<div class="g-recaptcha" name="GoogleRecap" data-sitekey="6Lci09EUAAAAALpPhp6qRcQ1oBDBn5AefTbKqYFH"></div>*@
                    <br />
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block"> Зарегистрироваться </button>
                    </div>
                    <small class="text-muted"> Нажав кнопку «Зарегистрироваться», вы принимаете <a data-target="#policyModal" data-toggle="modal" href="_Policy.cshtml">Условия пользования сайтом и Политику конфиденциальности</a></small>
                </form>
                    <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit"
                            async defer>
                    </script>
                </article>
                <div class="border-top card-body text-center">Уже есть аккаунт? <a href=@Url.Action("Login", "Account")>Войти</a></div>
            </div>
        </div>
    </div>
    @Html.Partial("_Policy");
</fo>

@section scripts{
    <script src="~/Scripts/imask.js"></script>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var phoneMask = IMask(document.getElementById('phone-mask'), {
                mask: '+{7}(000)000-00-00'
            }).on('accept', function () {
                document.getElementById('phone-complete').style.display = '';
                document.getElementById('phone-unmasked').innerHTML = phoneMask.unmaskedValue;
            }).on('complete', function () {
                document.getElementById('phone-complete').style.display = 'inline-block';
            });
        });
    </script>
}

