﻿@model Square.UI.Models.AccountEntityModel.UserModel
@{
    ViewBag.Title = "UpdateUserInfo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Scripts/filepond-master/dist/filepond.css" rel="stylesheet" />
<link href="~/Scripts/filepond-plugin-image-preview-master/dist/filepond-plugin-image-preview.css" rel="stylesheet" />


<link href="path/to/bootstrap-editable/css/bootstrap-editable.css" rel="stylesheet">
<script src="path/to/bootstrap-editable/js/bootstrap-editable.min.js"></script>
<style>

    .filepond--drop-label {
        color: #4c4e53;
    }

    .filepond--label-action {
        text-decoration-color: #babdc0;
    }

    .filepond--panel-root {
        background-color: #edf0f4;
    }

    .filepond--root {
        width: 170px;
        margin: 0 auto;
        margin-bottom: 14px;
        margin-left: 0px;
    }
    .nav-tabs > li > a {
        color: white;
    }

        .nav-tabs > li > a:active {
            color: black;
        }
</style>

<style>

    /**
    * FilePond Custom Styles
    */
    .filepond--drop-label {
        color: #4c4e53;
    }

    .filepond--label-action {
        text-decoration-color: #babdc0;
    }

    .filepond--panel-root {
        border-radius: 2em;
        background-color: #edf0f4;
        height: 1em;
    }

    .filepond--item-panel {
        background-color: #595e68;
    }

    .filepond--drip-blob {
        background-color: #7f8a9a;
    }

    .testImage label {
        color: black;
    }

    .filepond {
        width: 370px;
    }
</style>

<style>
    footer {
        color: white;
    }

    footer a {
        color: white;
    }

    footer a:hover {
        color: white;
    }

    .footer-CompanyUrl {
        color: white;
    }
</style>

<style>
    .jumbotron {
        height: 250px;
    }

    .jumbotron {
        position: relative;
        overflow: hidden;
        background-color: black;
    }

    .jumbotron video {
        position: absolute;
        z-index: 1;
        top: 0;
        width: 100%;
        height: 100%;
        /*  object-fit is not supported on IE  */
        object-fit: cover;
        opacity: 0.5;
    }

    .jumbotron .container {
        z-index: 2;
        position: relative;
    }
</style>

<div class="jumbotron jumbotron-fluid">
    <video class="video-fluid" autoplay loop muted playsinline>
        <source src="https://ros-rielt.ru/video/adreqvideo.mp4" type="video/mp4" />
    </video>
    <div class="container text-white">

        <h2 class="display-4" style="font-size: 35px;">Редактирование профиля</h2>

        <p class="lead">
            Обновляйте персональные данные и загружайте фото
        </p>
    </div>
</div>

<div class="container ad-form" style="margin-top: 50px;">
    @if (Model.Errors.Count() > 0)
    {
        foreach (var error in Model.Errors)
        {
            if (error == Square.UI.Models.AccountEntityModel.ErrorTypeEnum.PhoneNumberExisted)
            {
                <div class="alert alert-warning" role="alert">
                    Аккаунт с таким логином уже существует!
                </div>
            }
        }
    }

<form action="/Account/UpdateUserInfo" method="post" enctype="multipart/form-data" style="margin-top: 15px;">
    @Html.AntiForgeryToken()

    <div class="form-group row">
        <label for="colFormLabelLg" class="col-md-3 col-form-label col-form-label-lg" style="font-size: 22px;">1. Фамилия</label>
        <div class="col-md-9">
            <input class="form-control form-control-lg" name="LastName" type="text" value="@Model.LastName" style="width: 100%; margin: 0 0 !important;" size="200" placeholder="Введите фамилию">
            @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger", @style = "font-size: 12px;" })
        </div>
    </div>


    <div class="form-group row">
        <label for="colFormLabelLg" class="col-md-3 col-form-label col-form-label-lg" style="font-size: 22px;">2. Имя</label>
        <div class="col-md-9">
            <input class="form-control form-control-lg" name="FirstName" type="text" value="@Model.FirstName" style="width: 100%; margin: 0 0 !important;" size="200" placeholder="Введите имя">
            @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger", @style = "font-size: 12px;" })
        </div>
    </div>

    <div class="form-group row">
        <label for="colFormLabelLg" class="col-md-3 col-form-label col-form-label-lg" style="font-size: 22px;">3. Номер телефона</label>
        <div class="col-md-9">
            <input class="form-control form-control-lg" disabled="disabled" name="PhoneNumber" type="text" value="@Model.PhoneNumber" style="width: 100%; margin: 0 0 !important;" size="200" />
        </div>
    </div>

    <div class="form-group row">
        <label for="colFormLabelLg" class="col-md-3 col-form-label col-form-label-lg" style="font-size: 22px;">4. Email</label>
        <div class="col-md-9">
            <input class="form-control form-control-lg" name="Email" type="text" value="@Model.Email" style="width: 100%; margin: 0 0 !important;">

            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger", @style = "font-size: 12px;" })
        </div>
    </div>
    <div class="form-group row" style="margin-bottom: 40px; width: 100%;">
        <label for="colFormLabelLg" class="col-md-3 col-form-label col-form-label-lg" style="font-size: 22px;">5. Изображение профиля</label>
        <div class="col-md-9">
            <input name="Files" id="File1" type="file" style="color: black; margin-left: 0px;"
                   class="filepond testImage"
                   multiple
                   data-max-file-size="2MB"
                   data-max-files="1">
        </div>
    </div>
    <input hidden="" name="UserID" value="@Model.UserID" />
    <input hidden="" name="PhoneNumber" value="@Model.PhoneNumber" />

    <button class="btn btn-light-green" type="submit" style="width: 300px;">Сохранить</button>
</form>
</div>

@section scripts{
    <script src="~/Scripts/filepond-plugin-image-preview-master/dist/FilePondPluginFileValidateSize.js"></script>
    <script src="~/Scripts/filepond-plugin-image-preview-master/dist/FilePondPluginFileValidateType.js"></script>
    <script src="~/Scripts/filepond-plugin-image-preview-master/dist/filepond-plugin-image-preview.js"></script>
    <script src="~/Scripts/filepond-plugin-image-preview-master/dist/FilePondPluginFileEncode.js"></script>
    <script src="~/Scripts/filepond-master/dist/filepond.js"></script>
    <script src="~/Scripts/imaskjs-master/packages/imask/src/imask.js"></script>

    <script>
        FilePond.registerPlugin(FilePondPluginFileValidateSize);
        FilePond.registerPlugin(FilePondPluginFileValidateType);
        FilePond.registerPlugin(FilePondPluginImagePreview);
        FilePond.registerPlugin(FilePondPluginFileEncode);
        var inputElement = document.getElementById("File1");

        // Select the file input and use create() to turn it into a pond
        FilePond.create(
            inputElement,
            {
                acceptedFileTypes: ['image/*'],
                fileValidateTypeDetectType: (source, type) => new Promise((resolve, reject) => {

                    // Do custom type detection here and return with promises

                    resolve(type);
                })
            }
        );
    </script>

    <script src="~/Scripts/imask.js"></script>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var phoneMask = IMask(document.getElementById('phone-mask'), {
                mask: '+{7}(000)000-00-00'
            }).on('accept', function () {
                document.getElementById('phone-complete').style.display = '';
                document.getElementById('phone-unmasked').innerHTML = phoneMask.unmaskedValue;
            }).on('complete', function () {
                document.getElementById('phone-complete').style.display = 'inline-block';
            });
        });
    </script>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var phoneMask = IMask(document.getElementById('phone-mask2'), {
                mask: '+{7}(000)000-00-00'
            }).on('accept', function () {
                document.getElementById('phone-complete').style.display = '';
                document.getElementById('phone-unmasked').innerHTML = phoneMask.unmaskedValue;
            }).on('complete', function () {
                document.getElementById('phone-complete').style.display = 'inline-block';
            });
        });
    </script>
}

