﻿<!-- Central Modal Medium Info -->
@model Square.UI.Models.AdEntityModels.AdModel
<div class="modal  fade" id="phoneObserve" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-success modal-notify" role="document">
        <!--Content-->
        <div class="modal-content">
            <!--Header-->
            <div class="modal-header">
                <p class="heading lead"><i class="fa fa-phone-alt fa-1x pr-2 "></i>Связаться с владельцем</p>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="white-text">&times;</span>
                </button>
            </div>

            <!--Body-->
            <div class="modal-body">
                <div class="row">
                    <div class="col-3 text-center">
                        <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(1).jpg" alt="Michal Szymanski - founder of Material Design for Bootstrap" class="img-fluid z-depth-1-half rounded-circle">
                        <div style="height: 10px"></div>
                        <p class="title mb-0">@Model.Fio</p>
                        <p class="text-muted " style="font-size: 13px">Собственник</p>
                    </div>

                    <div class="col-9">
                        <h3>@Model.Title</h3>
                        <br/>
                        
                        <h3 style="font-weight: bold;">@Model.Phone.PhoneNumber</h3>
                    </div>
                </div>
            </div>

            <!--Footer-->
            <div class="modal-footer justify-content-center">
                <a type="button"class="btn btn-success waves-effect" data-dismiss="modal">Хорошо</a>
            </div>
        </div>
        <!--/.Content-->
    </div>
</div>
