﻿@model Square.UI.Models.AdEntityModels.AdModel

@{
    ViewBag.Title = "Add";

    @Styles.Render("~/Content/AdList.css")
    @Styles.Render("~/Content/AdListAdd.css")


    int fileId = 1;


    <link href="~/Scripts/bootstrap-select-1.13.9/dist/css/bootstrap-select.min.css" rel="stylesheet" />
}

<link href="~/Scripts/filepond-master/dist/filepond.css" rel="stylesheet" />
<link href="~/Scripts/filepond-plugin-image-preview-master/dist/filepond-plugin-image-preview.css" rel="stylesheet" />
<link href="https://cdn.jsdelivr.net/npm/suggestions-jquery@19.8.0/dist/css/suggestions.min.css" rel="stylesheet" />
<style>
    .imagePreview {
        width: 100%;
        height: 180px;
        background-position: center center;
        background-image: url('../../Images/no-image-e3699ae23f866f6cbdf8ba2443ee5c4e.jpg');
        background-color: #fff;
        background-size: cover;
        background-repeat: no-repeat;
        display: inline-block;
        box-shadow: 0px -3px 6px 2px rgba(0,0,0,0.2);
        object-fit: cover;
    }

    .btn-primary {
        display: block;
        border-radius: 0px;
        box-shadow: 0px 4px 6px 2px rgba(0,0,0,0.2);
        margin-top: -5px;
    }

    .imgUp {
        margin-bottom: 15px;
    }

    .del {
        position: absolute;
        top: 0px;
        right: 15px;
        width: 40px;
        height: 40px;
        text-align: center;
        line-height: 30px;
        cursor: pointer;
    }
</style>

<style>
    .form-row .col-md-5 {
        margin-top: 25px;
    }

    .form-row .col-md-7 {
        margin-top: 25px;
    }
</style>


<style>

    /**
    * FilePond Custom Styles
    */
    .filepond--drop-label {
        color: #4c4e53;
    }

    .filepond--label-action {
        text-decoration-color: #babdc0;
    }

    .filepond--panel-root {
        border-radius: 2em;
        background-color: #edf0f4;
        height: 1em;
    }

    .filepond--item-panel {
        background-color: #595e68;
    }

    .filepond--drip-blob {
        background-color: #7f8a9a;
    }

    .testImage label {
        color: black;
    }
</style>

<style>
    .comfort {
        margin-left: 20px;
    }

        .comfort div {
            margin-right: 40px;
        }

    body {
        background-image: url('../../Images/emily-ziegelmeyer-byQGffcdNZY-unsplash (1).jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
    }
</style>


<style>
    footer {
        color: white;
    }

        footer a {
            color: white;
        }

            footer a:hover {
                color: white;
            }

    .footer-CompanyUrl {
        color: white;
    }
</style>
<div class="container ad-form" style="margin-top: 10px;">
    <form action="/Admin/Add" method="post" enctype="multipart/form-data">

        @Html.AntiForgeryToken()

        <div class="form-row">
            <div class="col-md-5">
                <label for="Title">Заголовок*</label>
                <input type="text" class="form-control" size="200" id="Title" name="Title" placeholder="Название объявления" value="@Model.Title">
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger", @style = "font-size: 12px;" })
            </div>
            <div class="col-md-7">
                <label for="Description">Описание*</label>
                <textarea id="Description" name="Description" size="3000" class="form-control" style="resize: none; height: 250px;" placeholder="Подробное описание..." value="@Model.Description">@Model.Description</textarea>
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger", @style = "font-size: 12px;" })
            </div>

        </div>
        <div class="form-row">
            <div class="col-md-5">
                <label for="City">Город*</label>
                <select id="City" name="LocationInfo.CityID" class="form-control">
                    @foreach (var city in Model.Cities)
                    {
                        if (city.CityID == Model.LocationInfo.CityID)
                        {
                            <option selected id="CityID" name="CityID" value="@city.CityID">@city.Name</option>
                        }
                        else
                        {
                            <option id="CityID" name="CityID" value="@city.CityID">@city.Name</option>
                        }
                    }
                </select>
            </div>
            <div class="col-md-7">
                <label for="District">Район*</label>
                <select id="District" name="LocationInfo.DistrictID" class="form-control selectpicker" data-live-search="true">
                    @foreach (var district in Model.Cities.First().Districts)
                    {
                        if (district.DistrictID == Model.LocationInfo.DistrictID)
                        {
                            <option selected id="DistrictID" name="DistrictID" value="@district.DistrictID">@district.Name</option>
                        }
                        else
                        {
                            <option id="DistrictID" name="DistrictID" value="@district.DistrictID">@district.Name</option>
                        }
                    }
                </select>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-5">
                <label for="validationTooltipUsername">Цена*</label>
                <input name="Price" type="number" size="11" value="@Model.Price" class="form-control currency" />
                @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger", @style = "font-size: 12px;" })
            </div>
            <div class="col-md-7">
                <label for="validationTooltip05">Количество комнат*</label>
                <input name="RoomsCount" type="number" size="4" value="@Model.RoomsCount" class="form-control currency" />
                @Html.ValidationMessageFor(model => model.RoomsCount, "", new { @class = "text-danger", @style = "font-size: 12px;" })
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-5">
                <label for="PhoneNumber">Телефон*</label>
                <input id="phone-mask" name="Phone.PhoneNumber" type="text" class="form-control" value="@Model.Phone.PhoneNumber">
                <small>Например: +7(987)654-32-10</small>
                <br />
                <small>Или: +7(845)299-88-77</small>
                <br />
                @Html.ValidationMessageFor(model => model.Phone.PhoneNumber, "", new { @class = "text-danger", @style = "font-size: 12px;" })
            </div>
            <div class="col-md-7">
                <label for="AdditionalPhoneNumber">Запасной телефон</label>
                <input id="phone-mask2" name="Phone.AdditionalPhoneNumber" type="text" class="form-control" value="@Model.Phone.AdditionalPhoneNumber">
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-5">
                <label for="Fio">ФИО*</label>
                <input id="Fio" name="Fio" type="text" size="300" class="form-control" placeholder="Иванов Иван Иванович" value="@Model.Fio">
                @Html.ValidationMessageFor(model => model.Fio, "", new { @class = "text-danger", @style = "font-size: 12px;" })
            </div>
            <div class="col-md-7">
                <label for="AdditionalInfo">Примечание</label>
                <input id="AdditionalInfo" name="AdditionalInfo" size="100" type="text" class="form-control" placeholder="Примечание" value="@Model.AdditionalInfo">
            </div>
        </div>
        <div class="form-row comfort" style="margin-top: 30px;">
            <div class="custom-control custom-checkbox col-md-2">
                <input id="customCheck1" type="checkbox" value="true" class="custom-control-input" name="ComfortModel.AirConditioning" />
                <input type="hidden" value="false" name="ComfortModel.AirConditioning" />
                <label class="custom-control-label" for="customCheck1">Кондиционер</label>
            </div>
            <div class="custom-control custom-checkbox col-md-2">
                <input name="ComfortModel.Internet" value="true" type="checkbox" class="custom-control-input" id="customCheck2">
                <input type="hidden" value="false" name="ComfortModel.Internet" />
                <label class="custom-control-label" for="customCheck2">Интернет</label>
            </div>
            <div class="custom-control custom-checkbox col-md-2">
                <input name="ComfortModel.Bath" type="checkbox" value="true" class="custom-control-input" id="customCheck3">
                <input type="hidden" value="false" name="ComfortModel.Bath" />
                <label class="custom-control-label" for="customCheck3">Ванна</label>
            </div>
            <div class="custom-control custom-checkbox col-md-2">
                <input name="ComfortModel.Shower" type="checkbox" value="true" class="custom-control-input" id="customCheck4">
                <input type="hidden" value="false" name="ComfortModel.Shower" />
                <label class="custom-control-label" for="customCheck4">Душ</label>
            </div>
        </div>
        <div class="form-row comfort" style="margin-top: 30px;">
            <div class="custom-control custom-checkbox col-md-2">
                <input name="ComfortModel.KitchenFurniture" value="true" type="checkbox" class="custom-control-input" id="customCheck5">
                <input type="hidden" value="false" name="ComfortModel.KitchenFurniture" />
                <label class="custom-control-label" for="customCheck5">Кухонная мебель</label>
            </div>
            <div class="custom-control custom-checkbox col-md-2">
                <input name="ComfortModel.RoomsFurniture" value="true" type="checkbox" class="custom-control-input" id="customCheck6">
                <input type="hidden" value="false" name="ComfortModel.RoomsFurniture" />
                <label class="custom-control-label" for="customCheck6">Мебель для комнат</label>
            </div>
            <div class="custom-control custom-checkbox col-md-2">
                <input name="ComfortModel.Fridge" value="true" type="checkbox" class="custom-control-input" id="customCheck7">
                <input type="hidden" value="false" name="ComfortModel.Fridge" />
                <label class="custom-control-label" for="customCheck7">Холодильник</label>
            </div>
            <div class="custom-control custom-checkbox col-md-2">
                <input name="ComfortModel.Washer" value="true" type="checkbox" class="custom-control-input" id="customCheck8">
                <input type="hidden" value="false" name="ComfortModel.Washer" />
                <label class="custom-control-label" for="customCheck8">Стиральная машина</label>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-7">
                <input name="Files" id="File1" type="file" style="color: black;"
                       class="filepond testImage"
                       multiple
                       data-max-file-size="5MB"
                       data-max-files="6">
            </div>
        </div>
        <button class="btn btn-success" type="submit" style="width: 200px;">Добавить</button>
    </form>
</div>


@section scripts{


    <script src="~/Scripts/bootstrap-select-1.13.9/js/bootstrap-select.js"></script>
    

    <script src="~/Scripts/filepond-plugin-image-preview-master/dist/FilePondPluginFileValidateSize.js"></script>
    <script src="~/Scripts/filepond-plugin-image-preview-master/dist/FilePondPluginFileValidateType.js"></script>
    <script src="~/Scripts/filepond-plugin-image-preview-master/dist/filepond-plugin-image-preview.js"></script>
    <script src="~/Scripts/filepond-plugin-image-preview-master/dist/FilePondPluginFileEncode.js"></script>
    <script src="~/Scripts/filepond-master/dist/filepond.js"></script>
    <script src="~/Scripts/imaskjs-master/packages/imask/src/imask.js"></script>

    <script>
        FilePond.registerPlugin(FilePondPluginFileValidateSize);
        FilePond.registerPlugin(FilePondPluginFileValidateType);
        FilePond.registerPlugin(FilePondPluginImagePreview);
        FilePond.registerPlugin(FilePondPluginFileEncode);
        var inputElement = document.getElementById("File1");

        // Select the file input and use create() to turn it into a pond
        FilePond.create(
            inputElement,
            {
                acceptedFileTypes: ['image/*'],
                fileValidateTypeDetectType: (source, type) => new Promise((resolve, reject) => {

                    // Do custom type detection here and return with promises

                    resolve(type);
                })
            }
        );
    </script>

    <script src="~/Scripts/imask.js"></script>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var phoneMask = IMask(document.getElementById('phone-mask'), {
                mask: '+{7}(000)000-00-00'
            }).on('accept', function () {
                document.getElementById('phone-complete').style.display = '';
                document.getElementById('phone-unmasked').innerHTML = phoneMask.unmaskedValue;
            }).on('complete', function () {
                document.getElementById('phone-complete').style.display = 'inline-block';
            });
        });
    </script>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var phoneMask = IMask(document.getElementById('phone-mask2'), {
                mask: '+{7}(000)000-00-00'
            }).on('accept', function () {
                document.getElementById('phone-complete').style.display = '';
                document.getElementById('phone-unmasked').innerHTML = phoneMask.unmaskedValue;
            }).on('complete', function () {
                document.getElementById('phone-complete').style.display = 'inline-block';
            });
        });
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/suggestions-jquery@19.8.0/dist/js/jquery.suggestions.min.js"></script>
    <script>
        // Замените на свой API-ключ из личного кабинета (https://dadata.ru/profile/#info)
        /***
        /* Не меняйте код ниже этой строчки
         ***/

        $("#address").suggestions({
            token: "cca11a5fe7a6bbc8497a1b913ae0a4dd0add5f97",
            type: "ADDRESS",
            constraints: {
                // ограничиваем поиск Адлерский районом
                locations: {
                    city: 'Москва',
                    // city_district: 'Адлерский'
                }
            },
            // в списке подсказок не показываем область и город
            restrict_value: true,
            /* Вызывается, когда пользователь выбирает одну из подсказок */
            onSelect: function (suggestion) {
                console.log(suggestion);
            }
        });
    </script>
}