﻿@using Square.UI.Models
@model Square.UI.Models.AdEntityModels.AdModel

@{
    ViewBag.Title = "Info";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @Styles.Render("~/Content/AdInfo.css")

    var imageAttachments = Model.ImageAttachments == null
        ? new List<Square.UI.Models.AdEntityModels.ImageAttachmentModel>()
        : Model.ImageAttachments.ToList();

    int slideNumber = 0;
}
<style>

    .tag {
        display: inline-block;
        width: auto;
        height: 38px;
        background-color: #979797;
        -webkit-border-radius: 3px 4px 4px 3px;
        -moz-border-radius: 3px 4px 4px 3px;
        border-radius: 3px 4px 4px 3px;
        border-left: 1px solid #979797;
        /* This makes room for the triangle */
        margin-left: 19px;
        position: relative;
        color: white;
        font-weight: 300;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 22px;
        line-height: 38px;
        padding: 0 10px 0 10px;
        box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Параметры тени */
    }

        /* Makes the triangle */
        .tag:before {
            content: "";
            position: absolute;
            display: block;
            left: -19px;
            width: 0;
            height: 0;
            border-top: 19px solid transparent;
            border-bottom: 19px solid transparent;
            border-right: 19px solid #979797;
        }

        /* Makes the circle */
        .tag:after {
            content: "";
            background-color: white;
            border-radius: 50%;
            width: 4px;
            height: 4px;
            display: block;
            position: absolute;
            left: -9px;
            top: 17px;
        }
</style>

<style>
    .comfort img {
        width: 50px;
        height: 50px;
        margin-right: 10px;
        margin-bottom: 10px;
    }

    img {
        max-width: 100%;
        max-height: 100%;
        height: 100%;
        display: inline-block;
        vertical-align: middle;
        object-fit: cover;
    }
</style>

<style>

    .card-1 {
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    }

        .card-1:hover {
            box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        }

    .card-2 {
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    }

    .card-3 {
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    }

    .card-4 {
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }

    .card-5 {
        box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    }
</style>

<style>
    .mynav-title > .navbar-collapse.collapse {
        display: block !important;
    }

    .mynav-title .navbar-nav > li, .mynav-title .navbar-nav {
        float: left !important;
    }

    .mynav-title > .navbar-nav.navbar-right:last-child {
        margin-right: -15px !important;
    }

    .mynav-title > .navbar-right {
        float: right !important;
    }
</style>

<style>
    /*.mainimgs img {
        object-fit: contain;
    }
    .mainimgs .carousel-control-next,
    .mainimgs .carousel-control-prev {
        filter: invert(100%);
    }*/

</style>
<style>


    /* [2] Transition property for smooth transformation of images */
    .img-hover-zoom {
        transition: transform .2s ease;
        cursor: pointer;
    }

        /* [3] Finally, transforming the image when container gets hovered */
        .img-hover-zoom:hover {
            transform: scale(1.4);
        }
</style>


<style>

    .card-1 {
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    }

    .card-1 {
        cursor: pointer;
    }

        .card-1:hover {
            box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        }
</style>


<style>
    .card h4 {
        cursor: pointer;
    }

    .card h1 {
        cursor: pointer;
    }

    .card .list-unstyled {
        cursor: pointer;
    }
</style>
<style>
    /* Set the size of the div element that contains the map */
    #map_canvas {
        height: 400px; /* The height is 400 pixels */
        width: 100%; /* The width is the width of the web page */
    }
</style>



<style>
    .cardLink {
        color: black;
    }

        .cardLink:hover {
            color: black;
            text-decoration: none;
        }
</style>


<link href="~/Scripts/SmartPhoto-master/css/smartphoto.min.css" rel="stylesheet" />
<div class="container ad-info" id="carousel-contain" style="margin-bottom: 20px; width: 100%; padding: 0 0;" onload="initialize()">
    <nav class="navbar-light white card card-1 navbar navbar-expand-lg mynav-title" style="margin-bottom: 30px; border-radius: 5px; min-height: 50px; cursor: pointer;">

        <div class="collapse navbar-collapse adinfotitle row" style="width: 100%; cursor: pointer;" id="navbarSupportedContent">

            <div style="float: left; height: 100%;" class="col-md-6">
                <h2 style="margin-top: 10px; ">@Model.Title</h2>
            </div>
            @*<ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <h2>@Model.Title</h2>
                    </li>
                </ul>*@
            <div style="float: right; height: 100%;" class="phoneAndImage">
                @if ((User.IsInRole("Subscriber") || (User.IsInRole("Admin"))))
                {<button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#phoneObserve">
                        <i class="fa fa-phone-alt fa-1x pr-2 "></i>@Model.Phone.PhoneNumber
                    </button>
                }
                else if (!User.Identity.IsAuthenticated)
                {
                    <button type="button" class="btn btn-blue btn-lg" data-toggle="modal" data-target="#centralModalInfo">
                        <i class="fa fa-phone-alt fa-1x pr-2 "></i> Связаться с владельцем
                    </button>
                }
                else
                {
                    <button type="button" class="btn btn-blue btn-lg" data-toggle="modal" data-target="#paymentNeededNotification">
                        <i class="fa fa-phone-alt fa-1x pr-2 "></i> Связаться с владельцем
                    </button>
                }

            </div>
        </div>
    </nav>
    <div class="row no-gutters mainimgs" style="width: 100%;">

        <div class="col-md-7 row myimg">
            <div class="fotorama col-md-12 " data-allowfullscreen="true" data-autoplay="true" data-nav="thumbs" data-width="700" data-ratio="700/467" data-max-width="100%">

                @if (imageAttachments.Count > 0)
                {
                    for (int i = 0; i < imageAttachments.Count; i++)
                    {
                        <a href="https://ros-rielt.ru/@imageAttachments[i].newName" class="js-img-viwer" data-caption="" data-id="">
                            <img data-enlargable class="d-block w-100 js-smartPhoto" style="height: 100%; cursor: zoom-in" src="https://ros-rielt.ru/@imageAttachments[i].newName" alt="slide1">
                        </a>
                    }
                }
                else
                {
                    <img data-enlargable class="d-block w-100" style="height: 100%; cursor: zoom-in" src="~/Images/no-image.png" alt="slide1">
                }
            </div>
        </div>
        <div class="col-md-5" style="padding-left: 40px;">
            <div class="card-body" style="padding-top: 0; cursor: default;">

                @*<hr/>*@
                @*<h2 class="card-title" style="font-size: 35px;">@Model.Title</h2>*@
                <h5 class="card-title pricing-card-title display-4" style="display: inline-block; font-size: 55px;">@Model.FormattedPrice ₽   <img class="icon" style="width: 70px; height: 70px;" src="~/Images/tag.png" /></h5>

                @*<span class="tag card-title" style="width: 200px;font-size: 25px;">@Model.Price ₽</span>*@
                @*<button type="button" class="btn btn-success" style="width: 200px; height: 50px; font-size: 25px;">@Model.Price ₽</button>*@

                <hr />
                <p class="card-text" style="font-size: 18px;"><span class="text-muted">Город:</span> @Model.LocationInfo.CityName</p>
                <p class="card-text" style="font-size: 18px;"><span class="text-muted">Метро:</span> @Model.LocationInfo.DistrictName</p>
                <p class="card-text" style="font-size: 18px;"><span class="text-muted">Адрес:</span> @Model.Title</p>
                <p class="card-text" style="font-size: 18px;"><span class="text-muted">Количество комнат:</span> @Model.RoomsCount</p>
                @if (Model.Phone != null)
                {
                    if ((User.IsInRole("Subscriber") || (User.IsInRole("Admin"))))
                    {
                        <p class="card-text" style="font-size: 18px;"><span class="text-muted">Номер телефона:</span>@Model.Phone.PhoneNumber</p>
                    }
                }
                else
                {
                    <p class="card-text"><span class="text-muted">Номер телефона:</span></p>
                }
                <p class="card-text" style="font-size: 18px;"><span class="text-muted">ФИО:</span> @Model.Fio</p>

                @if (Model.ComfortModel != null && Model.ComfortModel.HasAny())
                {<hr />}


                <div class="comfort">
                    @if (Model.ComfortModel != null)
                    {
                        if (Model.ComfortModel.AirConditioning)
                        {
                            <img class="img-hover-zoom" src="~/Images/comfort/air-conditioner33.png" />

                        }
                        if (Model.ComfortModel.Bath)
                        {
                            <img class="img-hover-zoom" src="~/Images/comfort/bathtub333.png" />

                        }
                        if (Model.ComfortModel.Shower)
                        {

                            <img class="img-hover-zoom" src="~/Images/comfort/shower333.png" />

                        }
                        if (Model.ComfortModel.Internet)
                        {
                            <img class="img-hover-zoom" src="~/Images/comfort/wifi333.png" />

                        }
                        if (Model.ComfortModel.KitchenFurniture)
                        {
                            <img class="img-hover-zoom" src="~/Images/comfort/kitchen333.png" />

                        }
                        if (Model.ComfortModel.Washer)
                        {
                            <img class="img-hover-zoom" src="~/Images/comfort/washing-machine333.png" />

                        }
                        if (Model.ComfortModel.RoomsFurniture)
                        {
                            <img class="img-hover-zoom" src="~/Images/comfort/living-room333.png" />

                        }
                        if (Model.ComfortModel.Fridge)
                        {
                            <img class="img-hover-zoom" src="~/Images/comfort/fridge333.png" />

                        }
                    }
                </div>
                <hr />
                <p class="card-text">@Model.Description</p>

                @if (!string.IsNullOrWhiteSpace(Model.AdditionalInfo))
                {
                    <hr />
                    <p class="card-text" style="font-size: 18px;"><span class="text-muted">Примечание:</span> @Model.AdditionalInfo</p>
                }
                <hr />
                @if (Model.UpdatedDate.HasValue)
                {
                    Model.UpdatedDate = Model.UpdatedDate.Value.AddHours(4);

                    var text = string.Empty;

                    if (Model.UpdatedDate.Value.Date == DateTime.UtcNow.AddHours(4).Date)
                    {
                        text = "Сегодня в " + Model.UpdatedDate.Value.ToString("HH:mm");
                    }
                    else if (Model.UpdatedDate.Value.Date == DateTime.UtcNow.AddDays(-1).AddHours(4).Date)
                    {
                        text = "Вчера в " + Model.UpdatedDate.Value.ToString("HH:mm");
                    }
                    else
                    {
                        text = Model.UpdatedDate.Value.ToString("dd-MM-yyyy HH:mm");
                    }

                    <p class="card-text" style="font-size: 20px;"><small class="text-muted"><i class="far fa-clock pr-1"></i>  @text</small></p>
                }
                else
                {
                    <p class="card-text"><small class="text-muted">Объявление добавлено:</small></p>
                }
                <p class="card-text" style="font-size: 20px;"><small class="text-muted"><i class="far fa-eye pr-1"></i>  @Model.ViewsCount</small></p>
            </div>
            <div class="admin-action">
                <a href="@Url.Action("Edit", "Admin", new {adId = Model.AdID})" class="btn btn-warning admin-action-button">Изменить</a>

                <button type="button" class="btn btn-danger admin-action-button" data-toggle="modal" data-target="#DeleteConfirmation">
                    Удалить
                </button>
                @Html.Partial("_DeleteConfirmation", Model.AdID)
            </div>
        </div>
    </div>
    <hr />
    <div id="map_canvas">
    </div>
</div>
<hr />

@if (Model.SimilarAds == null || Model.SimilarAds.Count() == 0)
{ }
else
{
    <div class="container">
        <h2>Похожие объявления:</h2>
        <br />
        <div class="row">
            @foreach (var ad in Model.SimilarAds.ToList())
            {
                var adMainImage = ad.MainImage;

                <div class="col-md-4" style="min-width: 300px; cursor: default;">
                    <div id='heart' class='button'></div>
                    <div class="card mb-4 box-shadow  card-1" style="border-radius: 5px; border: 0;">
                        <div class="fotorama col-md-12 " data-fit="cover" data-nav="false" data-click="false" data-width="700" data-ratio="700/467" data-max-width="100%" style="padding: 0 0; border-radius: 5px 5px 0 0; cursor: pointer;">

                            @{ var imageAttachmentsSim = ad.ImageAttachments.ToList();}
                            @if (imageAttachmentsSim.Count > 0)
                            {
                                for (int i = 0; i < imageAttachmentsSim.Count; i++)
                                {
                                    <img href="https://ros-rielt.ru/@imageAttachmentsSim[i].newName" />
                                }
                            }
                            else
                            {
                                <img class="card-img-top" style="width: 100%; height: 230px;" src="~/Images/no-image.png" alt="Card image cap mx-auto d-block">
                            }
                        </div>
                        <a class="cardLink" href="@Url.Action("GetAdInfoByIdAsync", "Ad", new {adId = ad.AdID})" style="color: black; ">
                            <div class="card-body">
                                @{
                                    var maxTitleLength = 50;
                                    var title = string.Empty;
                                    if (ad.Title.Length > maxTitleLength)
                                    {
                                        var subTitle = ad.Title.Substring(0, maxTitleLength);
                                        title = subTitle + "...";
                                    }
                                    else
                                    {
                                        title = ad.Title;
                                    }
                                }
                                <div class="row" style="width: 99%; margin: 0 auto;">
                                    <span class="col-md-6">
                                        <span style="display: block; font-size: 32px; ">@ad.RoomsCountString</span>
                                        <span style="display: block;  margin-left: 2px;" class="small">Квартира</span>
                                    </span>
                                    <span class="col-md-6">
                                        <span style="display: block; font-size: 32px; ">@ad.FormattedPrice</span>
                                        <span style="display: block; margin-left: 5px;" class="small">руб./месяц</span>
                                    </span>
                                </div>
                                <hr />
                                <p class="card-title clip" style="font-size: 18px;">
                                    <img src="~/Images/map-pointer.png" style="width: 50px; height: 50px;" /> @title
                                </p>
                            </div>
                        </a>
                    </div>
                </div>
            }
        </div>
    </div>

}

@Html.Partial("_PhoneObserve", Model)
@section scripts{
    <script src="~/Scripts/SmartPhoto-master/js/smartphoto.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var photo = new SmartPhoto(".js-img-viwer");
            photo.on('change', function () {
                console.log('change');
            });
            photo.on('close', function () {
                console.log('close');
            });
            photo.on('swipestart', function () {
                console.log('swipestart');
            });
            photo.on('swipeend', function () {
                console.log('swipeend');
            });
            photo.on('loadall', function () {
                console.log('loadall');
            });
            photo.on('zoomin', function () {
                console.log('zoomin');
            });
            photo.on('zoomout', function () {
                console.log('zoomout');
            });
            photo.on('open', function () {
                console.log('open');
            });
            new SmartPhoto(".js-smartPhoto-fit", {
                resizeStyle: 'fit'
            });
        });
    </script>
    @*<script src="~/Scripts/jquery-3.3.1.min.js"></script>
        <script>
            $('img[data-enlargable]').addClass('img-enlargable').click(function () {
                var src = $(this).attr('src');
                $('<div>').css({
                    background: 'RGBA(0,0,0,.5) url(' + src + ') no-repeat center',
                    backgroundSize: 'contain',
                    width: '100%', height: '100%',
                    position: 'fixed',
                    zIndex: '10000',
                    top: '0', left: '0',
                    cursor: 'zoom-out'
                }).click(function () {
                    $(this).remove();
                }).appendTo('body');
            });
        </script>*@


    <script type="text/javascript" src="https://maps.google.com/maps/api/js?key=AIzaSyCZS2VwCb41YSGh7hHc11wBtw3WTz0eKBE&sensor=false"></script>
    <script type="text/javascript">
        var geocoder;
        var map;


        var address =  "@Model.LocationInfo.CityName , @Model.LocationInfo.DistrictName, @Model.Title";

        (function initialize() {
            geocoder = new google.maps.Geocoder();
            var latlng = new google.maps.LatLng(-34.397, 150.644);
            var myOptions = {
                zoom: 18,
                center: latlng,
                mapTypeControl: true,
                mapTypeControlOptions: {style: google.maps.MapTypeControlStyle.DROPDOWN_MENU},
                navigationControl: true,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
            if (geocoder) {
                geocoder.geocode( { 'address': address}, function(results, status) {
                    if (status == google.maps.GeocoderStatus.OK) {
                        if (status != google.maps.GeocoderStatus.ZERO_RESULTS) {
                            map.setCenter(results[0].geometry.location);

                            var infowindow = new google.maps.InfoWindow(
                                { content: '<b>'+address+'</b>',
                                    size: new google.maps.Size(150,50)
                                });

                            var marker = new google.maps.Marker({
                                position: results[0].geometry.location,
                                map: map,
                                title:address
                            });
                            google.maps.event.addListener(marker, 'click', function() {
                                infowindow.open(map,marker);
                            });

                        } else {
                            alert("No results found");
                        }
                    } else {
                        alert("Geocode was not successful for the following reason: " + status);
                    }
                });
            }
        })()
    </script>
}