﻿@model  Square.UI.Models.DataTableModel<Square.UI.Models.AdEntityModels.AdModel>
@using Square.UI.Models

@{
    ViewBag.Title = "Index";

    @Styles.Render("~/Content/AdList.css")

    <link href="~/Scripts/bootstrap-select-1.13.9/dist/css/bootstrap-select.min.css" rel="stylesheet" />
    @*@Model.Items= new List<Square.UI.Models.AdEntityModels.AdModel>();*@
}

<link href="https://cdn.jsdelivr.net/npm/suggestions-jquery@19.8.0/dist/css/suggestions.min.css" rel="stylesheet" />

<style>
    .jumbotron-bgd {
        background-image: url('../../Images/headApp-min.jpg');
        background-position: center;
        background-size: cover;
        object-fit: cover;
        color: white;
        border-radius: 0 0;
    }

    .tag {
        display: inline-block;
        width: auto;
        height: 38px;
        background-color: #979797;
        -webkit-border-radius: 3px 4px 4px 3px;
        -moz-border-radius: 3px 4px 4px 3px;
        border-radius: 3px 4px 4px 3px;
        border-left: 1px solid #979797;
        /* This makes room for the triangle */
        margin-left: 19px;
        position: relative;
        color: white;
        font-weight: 300;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 22px;
        line-height: 38px;
        padding: 0 10px 0 10px;
        box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Параметры тени */
    }

        /* Makes the triangle */
        .tag:before {
            content: "";
            position: absolute;
            display: block;
            left: -19px;
            width: 0;
            height: 0;
            border-top: 19px solid transparent;
            border-bottom: 19px solid transparent;
            border-right: 19px solid #979797;
        }

        /* Makes the circle */
        .tag:after {
            content: "";
            background-color: white;
            border-radius: 50%;
            width: 4px;
            height: 4px;
            display: block;
            position: absolute;
            left: -9px;
            top: 17px;
        }

    img {
        max-width: 100%;
        max-height: 100%;
        height: 100%;
        display: inline-block;
        vertical-align: middle;
        object-fit: cover;
    }
</style>

<style>

    .card-1 {
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    }

    .card-1 {
        cursor: pointer;
    }

        .card-1:hover {
            box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        }
</style>


<style>
    .card h4 {
        cursor: pointer;
    }

    .card h1 {
        cursor: pointer;
    }

    .card .list-unstyled {
        cursor: pointer;
    }
</style>
<style>
    .mypagination li {
        background-color: rgb(248, 249,250) !important;
    }
</style>
<style>
    @@media only screen and (max-width: 800px) {
        .mysearch {
            width: 0;
            height: 0;
            visibility: hidden;
        }
    }
</style>

<style>
    .suggestions-constraints {
        visibility: hidden;
        width: 0px;
    }
</style>
<style>
    /*!
     * chiefSlider (https://itchief.ru/lessons/php/feedback-form-for-website)
     * Copyright 2018 Alexander Maltsev
     * Licensed under MIT (https://github.com/itchief/feedback-form/blob/master/LICENSE)
     */

    /**,
    *::before,
    *::after {
      box-sizing: border-box;
    }*/
    .slider {
        position: relative;
        overflow: hidden;
        max-width: 1600px;
        margin: 0 auto;
        padding-left: 40px;
        padding-right: 40px;
    }

    .slider__wrapper {
        display: flex;
        transition: transform 0.6s ease;
    }

    .slider__item {
        flex: 0 0 100%;
        max-width: 100%;
        padding-left: 10px;
        padding-right: 10px;
    }

    @@media (min-width: 576px) {
        .slider__item {
            flex: 0 0 50%;
            max-width: 50%;
        }
    }

    @@media (min-width: 992px) {
        .slider__item {
            flex: 0 0 33.333333%;
            max-width: 33.333333%;
        }
    }

    @@media (min-width: 1200px) {
        .slider__item {
            flex: 0 0 25%;
            max-width: 25%;
        }
    }

    .slider__control {
        position: absolute;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        color: #fff;
        text-align: center;
        bottom: 0;
        background: #fff;
    }

        .slider__control:hover,
        .slider__control:focus {
            color: #fff;
            text-decoration: none;
            outline: 0;
        }

    .slider__control_left {
        left: 0;
    }

    .slider__control_right {
        right: 0;
    }

    .slider__control::before {
        content: '';
        display: inline-block;
        width: 20px;
        height: 20px;
        background: transparent no-repeat center center;
        background-size: 100% 100%;
    }

    .slider__control_left::before {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23424242' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
    }

    .slider__control_right::before {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23424242' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
    }

    .slider__content_header {
        position: relative;
    }

    .slider__content_img {
        display: block;
        height: auto;
        max-width: 100%;
    }

    .slider__content_section {
        position: absolute;
        bottom: 0;
        left: 0;
        background: #009688;
        color: #fff;
        padding: 4px 8px;
    }

    .slider__content_title {
        background: #f5f5f5;
        color: #424242;
        white-space: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 1.3;
        padding: 10px 15px;
        margin: 0;
        height: 52px;
    }

    .slider__content_footer {
        background: #f5f5f5;
        display: flex;
        padding: 20px 15px;
        color: #616161;
    }

    .slider__content_avatar {
        flex: 0 0 40px;
        max-width: 40px;
    }

    .slider__content_photo {
        display: block;
        height: auto;
        max-width: 100%;
        border-radius: 50%;
    }

    .slider__content_author {
        margin-left: 8px;
        line-height: 40px;
    }

    .slider__content_icon {
        height: 18px;
        margin-top: 12px;
        margin-left: auto;
    }

    .slider__content_views {
        margin-left: 4px;
        line-height: 40px;
    }
</style>

<style>
    .cardLink {
        color: black;
    }

        .cardLink:hover {
            color: black;
            text-decoration: none;
        }
</style>

<style>
    @@import url(https://fonts.googleapis.com/css?family=PT+Sans+Narrow);

    .title2 {
        color: #fff;
        font-size: 80px;
        width: 200px;
        text-align: center;
    }

        .title2 p {
            color: white;
            font-size: 20px;
            letter-spacing: 12px;
            opacity: .9;
        }
</style>

<style>
    /* Change this breakpoint if you change the breakpoint of the navbar */

    @@media (min-width: 992px) {
        .animate {
            animation-duration: 0.3s;
            -webkit-animation-duration: 0.3s;
            animation-fill-mode: both;
            -webkit-animation-fill-mode: both;
        }
    }

    @@keyframes slideIn {
        0% {
            transform: translateY(1rem);
            opacity: 0;
        }

        100% {
            transform: translateY(0rem);
            opacity: 1;
        }

        0% {
            transform: translateY(1rem);
            opacity: 0;
        }
    }

    @@-webkit-keyframes slideIn {
        0% {
            -webkit-transform: transform;
            -webkit-opacity: 0;
        }

        100% {
            -webkit-transform: translateY(0);
            -webkit-opacity: 1;
        }

        0% {
            -webkit-transform: translateY(1rem);
            -webkit-opacity: 0;
        }
    }

    .slideIn {
        -webkit-animation-name: slideIn;
        animation-name: slideIn;
    }

    /* Other styles for the page not related to the animated dropdown */
</style>

<style>
    .filterbtns .filterbtn {
        margin-right: 2px;
        margin-left: 2px;
        width: 220px;
        max-width: 220px;
    }
</style>

<style>
    .jumbotron-heading {
        font-size: 50px;
    }

    .formfilterbtns {
        width: 100%;
        margin: 0 auto;
        margin-bottom: 10px;
    }

    @@media only screen and (max-width: 500px) {
        .jumbotron-heading {
            font-size: 40px;
            font-weight: bold
        }

        .formfilterbtns {
            width: 100%;
        }
    }
</style>

<style>
    .clip {
        white-space: nowrap; /* Запрещаем перенос строк */
        overflow: hidden; /* Обрезаем все, что не помещается в область */
        padding: 5px; /* Поля вокруг текста */
        text-overflow: ellipsis; /* Добавляем многоточие */
    }
</style>
<main role="main">
    <section class="jumbotron text-center jumbotron-bgd">
        <div class="container">

            <h1 class="jumbotron-heading" style="font-weight: bold;">Арихв</h1>
            <p class="lead" style="color: white;">Мы уверены, что вы найдете то, что ищите.</p>

            <form action="/Admin/AdIndex" method="post" class="needs-validation formfilterbtns row filterbtns" novalidate>
                <div class="col-md-3 mb-3 ">
                    <select id="City" name="Filter.CityID" class="selectpicker my-select">
                        @foreach (var city in Model.Filter.Cities)
                        {
                            if (city.CityID == Model.Filter.CityID)
                            {
                                <option selected id="CityID" name="CityID" value="@city.CityID">@city.Name</option>
                            }
                            else
                            {
                                <option id="CityID" name="CityID" value="@city.CityID">@city.Name</option>
                            }
                        }
                    </select>
                </div>

                <div class="col-md-3 mb-3 ">
                    <select id="District" name="Filter.DistrictID" class="selectpicker">
                        <option id="DistrictID" name="DistrictID" value="0">Район</option>
                        @foreach (var district in Model.Filter.Cities.First().Districts)
                        {
                            if (district.DistrictID == Model.Filter.DistrictID)
                            {
                                <option selected id="DistrictID" name="DistrictID" value="@district.DistrictID">@district.Name</option>
                            }
                            else
                            {
                                <option id="DistrictID" name="DistrictID" value="@district.DistrictID">@district.Name</option>
                            }
                        }
                    </select>
                </div>
                <div class="col-md-3 mb-3 ">
                    <select class="selectpicker" name="Filter.RoomsCountSelect" multiple title="Кол-во комнат">
                        @if (Model.Filter.RoomsCountSelect == null || Model.Filter.RoomsCountSelect.Count == 0)
                        {
                            <option>1 комн.</option>
                            <option>2 комн.</option>
                            <option>3 комн.</option>
                            <option>4+ комн.</option>
                        }
                        else
                        {
                            var roomCountSelectTemp = Model.Filter.RoomsCountSelect;
                            if (roomCountSelectTemp.Contains("1 комн."))
                            {
                                <option selected value="1 комн.">1 комн.</option>
                            }
                            else
                            {
                                <option value="1 комн.">1 комн.</option>
                            }

                            if (roomCountSelectTemp.Contains("2 комн."))
                            {
                                <option selected value="2 комн.">2 комн.</option>
                            }
                            else
                            {
                                <option value="2 комн.">2 комн.</option>
                            }
                            if (roomCountSelectTemp.Contains("3 комн."))
                            {
                                <option selected value="3 комн.">3 комн.</option>
                            }
                            else
                            {
                                <option value="3 комн.">3 комн.</option>
                            }
                            if (roomCountSelectTemp.Contains("4+ комн."))
                            {
                                <option selected value="4+ комн.">4+ комн.</option>
                            }
                            else
                            {
                                <option value="4+ комн.">4+ комн.</option>
                            }
                        }
                    </select>
                </div>
                <select id="OrderedBy" name="Filter.OrderedBySelected" hidden="">
                    @foreach (var orderedBy in Model.Filter.OrderedBy)
                    {
                        if (orderedBy.Item1 == Model.Filter.OrderedBySelected)
                        {
                            <option selected id="OrderedBy" name="OrderedBySelected" value="@orderedBy.Item1">@orderedBy.Item2</option>
                        }
                        else
                        {
                            <option id="OrderedBy" name="OrderedBySelected" value="@orderedBy.Item1">@orderedBy.Item2</option>
                        }
                    }
                </select>

                <div class="col-md-3 mb-3 ">
                    <button class=" btn btn-light-green" style="width: 220px;" type="submit"> <i class="fa fa-search"></i> Найти квартиру</button>
                </div>

                @if (!string.IsNullOrWhiteSpace(Model.Filter.PhoneNumber))
                {
                    <div class="col-md-12 md-form" style="margin-left: 20px;">
                        <input type="text" style="color: white;" id="phone-mask" name="Filter.PhoneNumber" class="form-control" value="@Model.Filter.PhoneNumber">
                    </div>
                }
                else
                {
                    <div class="col-md-12 md-form" style="margin-left: 20px;">
                        <input type="text" style="color: white;" id="phone-mask" name="Filter.PhoneNumber" class="form-control">
                        <label for="phone-mask" style="color: white; margin-left: 10px;">Номер телефона</label>
                    </div>
                }

            </form>

            <div class="row formfilterbtns" style="margin-top: 30px;">
                <div class="col-md-4"><img src="~/Images/success.png" style="width: 60px; height: 60px;" /><p style="margin-top: 10px;">Только проверенные объявления</p></div>
                <div class="col-md-4">
                    <img src="~/Images/supervisor.png" style="width: 60px; height: 60px;" />
                    <p style="margin-top: 10px;">Индивидуальный подбор специалистом</p>
                </div>
                <div class="col-md-4">
                    <img src="~/Images/password.png" style="width: 60px; height: 60px;" /><p style="margin-top: 10px;">Безопасная оплата</p>
                </div>
            </div>
        </div>
    </section>

    <div class="album ">
        <div class="container">
            <form class="row" action="/Admin/AdIndex" method="post" style="margin-top: 40px; margin-bottom: 50px;">

                <h2 class="col-md-12" style="margin-right: 0px; padding-right: 0px; font-weight: bold;">
                    @Model.Pager.TotalItems Квартир в Москве

                    <select id="OrderedBy" name="Filter.OrderedBySelected" onchange="this.form.submit();" class="selectpicker orderBySelect">
                        @foreach (var orderedBy in Model.Filter.OrderedBy)
                        {
                            if (orderedBy.Item1 == Model.Filter.OrderedBySelected)
                            {
                                <option selected id="OrderedBy" name="OrderedBySelected" value="@orderedBy.Item1">@orderedBy.Item2</option>
                            }
                            else
                            {
                                <option id="OrderedBy" name="OrderedBySelected" value="@orderedBy.Item1">@orderedBy.Item2</option>
                            }
                        }
                    </select>
                </h2>

                <input hidden="" name="Filter.CityID" value="@Model.Filter.CityID" />
                <input hidden="" name="Filter.DistrictID" value="@Model.Filter.DistrictID" />

                <select hidden="" class="" name="Filter.RoomsCountSelect" multiple title="Кол-во комнат">
                    @if (Model.Filter.RoomsCountSelect == null || Model.Filter.RoomsCountSelect.Count == 0)
                    {
                        <option>1 комн.</option>
                        <option>2 комн.</option>
                        <option>3 комн.</option>
                        <option>4+ комн.</option>
                    }
                    else
                    {
                        var roomCountSelectTemp = Model.Filter.RoomsCountSelect;
                        if (roomCountSelectTemp.Contains("1 комн."))
                        {
                            <option selected value="1 комн.">1 комн.</option>
                        }
                        else
                        {
                            <option value="1 комн.">1 комн.</option>
                        }

                        if (roomCountSelectTemp.Contains("2 комн."))
                        {
                            <option selected value="2 комн.">2 комн.</option>
                        }
                        else
                        {
                            <option value="2 комн.">2 комн.</option>
                        }
                        if (roomCountSelectTemp.Contains("3 комн."))
                        {
                            <option selected value="3 комн.">3 комн.</option>
                        }
                        else
                        {
                            <option value="3 комн.">3 комн.</option>
                        }
                        if (roomCountSelectTemp.Contains("4+ комн."))
                        {
                            <option selected value="4+ комн.">4+ комн.</option>
                        }
                        else
                        {
                            <option value="4+ комн.">4+ комн.</option>
                        }
                    }
                </select>

            </form>
            <div class="row">
                @foreach (var ad in Model.Items.ToList())
                {
                    var adMainImage = ad.MainImage;
                    var upDate = string.Empty;

                    if (ad.UpdatedDate.HasValue)
                    {
                        ad.UpdatedDate = ad.UpdatedDate.Value.AddHours(4);

                        var text = string.Empty;

                        if (ad.UpdatedDate.Value.Date == DateTime.UtcNow.AddHours(4).Date)
                        {
                            text = "Сегодня в " + ad.UpdatedDate.Value.ToString("HH:mm");
                        }
                        else if (ad.UpdatedDate.Value.Date == DateTime.UtcNow.AddDays(-1).AddHours(4).Date)
                        {
                            text = "Вчера в " + ad.UpdatedDate.Value.ToString("HH:mm");
                        }
                        else
                        {
                            text = ad.UpdatedDate.Value.ToString("dd-MM-yyyy HH:mm");
                        }

                        upDate = text;
                    }

                    <div class="col-md-4" style="min-width: 300px; cursor: default;">
                        <div id='heart' class='button'></div>
                        <div class="card mb-4 box-shadow  card-1" style="border-radius: 5px; border: 0;">
                            <div class="fotorama col-md-12 " data-fit="cover" data-nav="false" data-click="false" data-width="700" data-ratio="700/467" data-max-width="100%" style="padding: 0 0; border-radius: 5px 5px 0 0; cursor: pointer;">

                                @{ var imageAttachments = ad.ImageAttachments.ToList();}
                                @if (imageAttachments.Count > 0)
                                {
                                    for (int i = 0; i < imageAttachments.Count; i++)
                                    {
                                        <img class="lazyload" href="https://ros-rielt.ru/@imageAttachments[i].newName" />
                                    }
                                }
                                else
                                {
                                    <img class="card-img-top lazyload" style="width: 100%; height: 230px;" src="~/Images/no-image.png" alt="Card image cap mx-auto d-block">
                                }
                            </div>
                            <a class="cardLink" href="@Url.Action("GetAdInfoByIdAsync", "Admin", new {adId = ad.AdID})" style="color: black;">
                                <div class="card-body">
                                    @{
                                        var maxTitleLength = 50;
                                        var title = string.Empty;
                                        if (ad.Title.Length > maxTitleLength)
                                        {
                                            var subTitle = ad.Title.Substring(0, maxTitleLength);
                                            title = subTitle + "...";
                                        }
                                        else
                                        {
                                            title = ad.Title;
                                        }
                                    }
                                    <div class="row" style="width: 99%; margin: 0 auto;">
                                        <span class="col-md-6">
                                            <span style="display: block; font-size: 32px; ">@ad.RoomsCountString</span>
                                            <span style="display: block;  margin-left: 2px;" class="small">Квартира</span>
                                        </span>
                                        <span class="col-md-6">
                                            <span style="display: block; font-size: 32px; ">@ad.FormattedPrice</span>
                                            <span style="display: block; margin-left: 5px;" class="small">руб./месяц</span>
                                        </span>
                                    </div>
                                    <hr />
                                    <p class="card-title clip" style="font-size: 18px;">
                                        <img src="~/Images/map-pointer.png" style="width: 50px; height: 50px;" /> @title
                                    </p>
                                    <hr />
                                    <p>
                                        @ad.Phone.PhoneNumber
                                    </p>
                                    <hr />
                                    <p>Добавлено: @upDate</p>
                                </div>
                            </a>
                        </div>
                    </div>
                }
            </div>
        </div>
        <nav style="width: 80%; margin: 0 auto;">
            @{
                var roomsCountString = string.Empty;
                foreach (var item in Model.Filter.RoomsCountSelect ?? new List<string>())
                {
                    roomsCountString += item + "|";
                }
            }
            @if (Model.Pager.EndPage > 1)
            {
                <ul class="pagination pg-blue pagination-lg justify-content-center row">
                    @if (Model.Pager.CurrentPage > 1)
                    {
                        <li class="page-item">
                            <a class="page-link" href=@Url.Action("AdIndex", new
                                                  {
                                                      orderedBySelected = Model.Filter.OrderedBySelected,
                                                      cityID = Model.Filter.CityID,
                                                      districtID = Model.Filter.DistrictID,
                                                      priceFrom = Model.Filter.PriceFrom,
                                                      priceTo = Model.Filter.PriceTo,
                                                      roomsCount = Model.Filter.RoomsCount,
                                                      search = Model.Filter.Search,
                                                      roomsCountString = roomsCountString
                                                  })>Первая</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" tabindex="-1" href=@Url.Action("AdIndex", new
                                                                {
                                                                    page = Model.Pager.CurrentPage - 1,
                                                                    orderedBySelected = Model.Filter.OrderedBySelected,
                                                                    cityID = Model.Filter.CityID,
                                                                    districtID = Model.Filter.DistrictID,
                                                                    priceFrom = Model.Filter.PriceFrom,
                                                                    priceTo = Model.Filter.PriceTo,
                                                                    roomsCount = Model.Filter.RoomsCount,
                                                                    search = Model.Filter.Search,
                                                                    roomsCountString = roomsCountString
                                                                })><i class="fa fa-arrow-left pr-1"></i></a>
                        </li>
                    }

                    @for (var page = Model.Pager.StartPage; page <= Model.Pager.EndPage; page++)
                    {
                        <li class="@(page == Model.Pager.CurrentPage ? "active page-item" : "page-item")">
                            <a class="@(page == Model.Pager.CurrentPage ? "active page-link" : "page-link")" href=@Url.Action("AdIndex", new
                                                                                                              {
                                                                                                                  page = page,
                                                                                                                  orderedBySelected = Model.Filter.OrderedBySelected,
                                                                                                                  cityID = Model.Filter.CityID,
                                                                                                                  districtID = Model.Filter.DistrictID,
                                                                                                                  priceFrom = Model.Filter.PriceFrom,
                                                                                                                  priceTo = Model.Filter.PriceTo,
                                                                                                                  roomsCount = Model.Filter.RoomsCount,
                                                                                                                  search = Model.Filter.Search,
                                                                                                                  roomsCountString = roomsCountString
                                                                                                              })>@page <span class="sr-only">(current)</span></a>
                                                                                                        </li>
                                                                                                    }

                    @if (Model.Pager.CurrentPage < Model.Pager.TotalPages)
                    {
                        <li class="page-item">
                            <a class="page-link" href=@Url.Action("AdIndex", new
                                                  {
                                                      page = Model.Pager.CurrentPage + 1,
                                                      orderedBySelected = Model.Filter.OrderedBySelected,
                                                      cityID = Model.Filter.CityID,
                                                      districtID = Model.Filter.DistrictID,
                                                      priceFrom = Model.Filter.PriceFrom,
                                                      priceTo = Model.Filter.PriceTo,
                                                      roomsCount = Model.Filter.RoomsCount,
                                                      search = Model.Filter.Search,
                                                      roomsCountString = roomsCountString
                                                  })><i class="fa fa-arrow-right pr-1"></i></a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href=@Url.Action("AdIndex", new
                                                      {
                                                          page = Model.Pager.TotalPages,
                                                          orderedBySelected = Model.Filter.OrderedBySelected,
                                                          cityID = Model.Filter.CityID,
                                                          districtID = Model.Filter.DistrictID,
                                                          priceFrom = Model.Filter.PriceFrom,
                                                          priceTo = Model.Filter.PriceTo,
                                                          roomsCount = Model.Filter.RoomsCount,
                                                          search = Model.Filter.Search,
                                                          roomsCountString = roomsCountString

                                                      })>Последняя</a>
                        </li>
                    }
                </ul>
            }
        </nav>
    </div>
</main>

@section scripts{
    <script>
        $(document).ready(function () {
            $("img").lazyload({
                effect: "fadeIn"
            });
    </script>


    <script src="~/Scripts/bootstrap-select-1.13.9/js/bootstrap-select.js"></script>
    <script>
        function maxLengthCheck(object) {
            if (object.value.length > object.maxLength)
                object.value = object.value.slice(0, object.maxLength)
        }
    </script>


    <script src="~/Scripts/imask.js"></script>

    <script>
        document.addEventListener("DOMContentLoaded",
            function () {
                var phoneMask = IMask(document.getElementById('phone-mask'),
                    {
                        mask: '+{7}(000)000-00-00'
                    }).on('accept',
                        function () {
                            document.getElementById('phone-complete').style.display = '';
                            document.getElementById('phone-unmasked').innerHTML = phoneMask.unmaskedValue;
                        }).on('complete',
                            function () {
                                document.getElementById('phone-complete').style.display = 'inline-block';
                            });
            });
    </script>

    <script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/suggestions-jquery@19.8.0/dist/js/jquery.suggestions.min.js"></script>
    <script>
        // Замените на свой API-ключ из личного кабинета (https://dadata.ru/profile/#info)
        /***
        /* Не меняйте код ниже этой строчки
         ***/

        $("#address").suggestions({
            token: "cca11a5fe7a6bbc8497a1b913ae0a4dd0add5f97",
            type: "ADDRESS",
            constraints: {
                // ограничиваем поиск Адлерский районом
                locations: {
                    city: 'Саратов',
                    // city_district: 'Адлерский'
                }
            },
            // в списке подсказок не показываем область и город
            restrict_value: true,
            /* Вызывается, когда пользователь выбирает одну из подсказок */
            onSelect: function (suggestion) {
                console.log(suggestion);
            }
        });
    </script>







    <script>
        'use strict';
        var multiItemSlider = (function () {

            function _isElementVisible(element) {
                var rect = element.getBoundingClientRect(),
                    vWidth = window.innerWidth || doc.documentElement.clientWidth,
                    vHeight = window.innerHeight || doc.documentElement.clientHeight,
                    elemFromPoint = function (x, y) { return document.elementFromPoint(x, y) };
                if (rect.right < 0 || rect.bottom < 0
                    || rect.left > vWidth || rect.top > vHeight)
                    return false;
                return (
                    element.contains(elemFromPoint(rect.left, rect.top))
                    || element.contains(elemFromPoint(rect.right, rect.top))
                    || element.contains(elemFromPoint(rect.right, rect.bottom))
                    || element.contains(elemFromPoint(rect.left, rect.bottom))
                );
            }

            return function (selector, config) {
                var
                    _mainElement = document.querySelector(selector),
                    _sliderWrapper = _mainElement.querySelector('.slider__wrapper'),
                    _sliderItems = _mainElement.querySelectorAll('.slider__item'),
                    _sliderControls = _mainElement.querySelectorAll('.slider__control'),
                    _sliderControlLeft = _mainElement.querySelector('.slider__control_left'),
                    _sliderControlRight = _mainElement.querySelector('.slider__control_right'),
                    _wrapperWidth = parseFloat(getComputedStyle(_sliderWrapper).width),
                    _itemWidth = parseFloat(getComputedStyle(_sliderItems[0]).width),
                    _html = _mainElement.innerHTML,
                    _positionLeftItem = 0,
                    _transform = 0,
                    _step = _itemWidth / _wrapperWidth * 100,
                    _items = [],
                    _interval = 0,
                    _states = [
                        { active: false, minWidth: 0, count: 1 },
                        { active: false, minWidth: 576, count: 2 },
                        { active: false, minWidth: 992, count: 3 },
                        { active: false, minWidth: 1200, count: 4 },
                    ],
                    _config = {
                        isCycling: false,
                        direction: 'right',
                        interval: 5000,
                        pause: true
                    };

                for (var key in config) {
                    if (key in _config) {
                        _config[key] = config[key];
                    }
                }

                _sliderItems.forEach(function (item, index) {
                    _items.push({ item: item, position: index, transform: 0 });
                });

                var _setActive = function () {
                    var _index = 0;
                    var width = parseFloat(document.body.clientWidth);
                    _states.forEach(function (item, index, arr) {
                        _states[index].active = false;
                        if (width >= _states[index].minWidth)
                            _index = index;
                    });
                    _states[_index].active = true;
                }

                var _getActive = function () {
                    var _index;
                    _states.forEach(function (item, index, arr) {
                        if (_states[index].active) {
                            _index = index;
                        }
                    });
                    return _index;
                }

                var position = {
                    getItemMin: function () {
                        var indexItem = 0;
                        _items.forEach(function (item, index) {
                            if (item.position < _items[indexItem].position) {
                                indexItem = index;
                            }
                        });
                        return indexItem;
                    },
                    getItemMax: function () {
                        var indexItem = 0;
                        _items.forEach(function (item, index) {
                            if (item.position > _items[indexItem].position) {
                                indexItem = index;
                            }
                        });
                        return indexItem;
                    },
                    getMin: function () {
                        return _items[position.getItemMin()].position;
                    },
                    getMax: function () {
                        return _items[position.getItemMax()].position;
                    }
                }

                var _transformItem = function (direction) {
                    var nextItem;
                    if (!_isElementVisible(_mainElement)) {
                        return;
                    }
                    if (direction === 'right') {
                        _positionLeftItem++;
                        if ((_positionLeftItem + _wrapperWidth / _itemWidth - 1) > position.getMax()) {
                            nextItem = position.getItemMin();
                            _items[nextItem].position = position.getMax() + 1;
                            _items[nextItem].transform += _items.length * 100;
                            _items[nextItem].item.style.transform = 'translateX(' + _items[nextItem].transform + '%)';
                        }
                        _transform -= _step;
                    }
                    if (direction === 'left') {
                        _positionLeftItem--;
                        if (_positionLeftItem < position.getMin()) {
                            nextItem = position.getItemMax();
                            _items[nextItem].position = position.getMin() - 1;
                            _items[nextItem].transform -= _items.length * 100;
                            _items[nextItem].item.style.transform = 'translateX(' + _items[nextItem].transform + '%)';
                        }
                        _transform += _step;
                    }
                    _sliderWrapper.style.transform = 'translateX(' + _transform + '%)';
                }

                var _cycle = function (direction) {
                    if (!_config.isCycling) {
                        return;
                    }
                    _interval = setInterval(function () {
                        _transformItem(direction);
                    }, _config.interval);
                }

                var _controlClick = function (e) {
                    if (e.target.classList.contains('slider__control')) {
                        e.preventDefault();
                        var direction = e.target.classList.contains('slider__control_right') ? 'right' : 'left';
                        _transformItem(direction);
                        clearInterval(_interval);
                        _cycle(_config.direction);
                    }
                };

                var _handleVisibilityChange = function () {
                    if (document.visibilityState === "hidden") {
                        clearInterval(_interval);
                    } else {
                        clearInterval(_interval);
                        _cycle(_config.direction);
                    }
                }

                var _refresh = function () {
                    clearInterval(_interval);
                    _mainElement.innerHTML = _html;
                    _sliderWrapper = _mainElement.querySelector('.slider__wrapper');
                    _sliderItems = _mainElement.querySelectorAll('.slider__item');
                    _sliderControls = _mainElement.querySelectorAll('.slider__control');
                    _sliderControlLeft = _mainElement.querySelector('.slider__control_left');
                    _sliderControlRight = _mainElement.querySelector('.slider__control_right');
                    _wrapperWidth = parseFloat(getComputedStyle(_sliderWrapper).width);
                    _itemWidth = parseFloat(getComputedStyle(_sliderItems[0]).width);
                    _positionLeftItem = 0;
                    _transform = 0;
                    _step = _itemWidth / _wrapperWidth * 100;
                    _items = [];
                    _sliderItems.forEach(function (item, index) {
                        _items.push({ item: item, position: index, transform: 0 });
                    });
                }

                var _setUpListeners = function () {
                    _mainElement.addEventListener('click', _controlClick);
                    if (_config.pause && _config.isCycling) {
                        _mainElement.addEventListener('mouseenter', function () {
                            clearInterval(_interval);
                        });
                        _mainElement.addEventListener('mouseleave', function () {
                            clearInterval(_interval);
                            _cycle(_config.direction);
                        });
                    }
                    document.addEventListener('visibilitychange', _handleVisibilityChange, false);
                    window.addEventListener('resize', function () {
                        var
                            _index = 0,
                            width = parseFloat(document.body.clientWidth);
                        _states.forEach(function (item, index, arr) {
                            if (width >= _states[index].minWidth)
                                _index = index;
                        });
                        if (_index !== _getActive()) {
                            _setActive();
                            _refresh();
                        }
                    });
                }

                // инициализация
                _setUpListeners();
                if (document.visibilityState === "visible") {
                    _cycle(_config.direction);
                }
                _setActive();

                return {
                    right: function () {
                        _transformItem('right');
                    },
                    left: function () {
                        _transformItem('left');
                    },
                    stop: function () {
                        _config.isCycling = false;
                        clearInterval(_interval);
                    },
                    cycle: function () {
                        _config.isCycling = true;
                        clearInterval(_interval);
                        _cycle();
                    }
                }

            }
        }());

        var slider = multiItemSlider('.slider', {
            isCycling: true
        })
    </script>

    <script>
        if (settings.appear) {
            var elements_left = elements.length;
            settings.appear.call(self, elements_left, settings);
        }
        var loadImgUri;
        if ($self.data("background"))
            loadImgUri = $self.data("background");
        else
            loadImgUri = $self.data(settings.data_attribute);

        $("<img />")
            .bind("load", function () {
                $self
                    .hide();
                if ($self.data("background")) {
                    $self.css('backgroundImage', 'url(' + $self.data("background") + ')');
                } else
                    $self.attr("src", $self.data(settings.data_attribute))

                $self[settings.effect](settings.effect_speed);

                self.loaded = true;

                /* Remove image from array so it is not looped next time. */
                var temp = $.grep(elements, function (element) {
                    return !element.loaded;
                });
                elements = $(temp);

                if (settings.load) {
                    var elements_left = elements.length;
                    settings.load.call(self, elements_left, settings);
                }
            })
            .attr("src", loadImgUri);

    </script>

}