﻿@model Square.UI.Models.AdEntityModels.AdModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";


    @Styles.Render("~/Content/AdList.css")
    @Styles.Render("~/Content/AdListAdd.css")
}


<link href="https://cdn.jsdelivr.net/npm/suggestions-jquery@19.8.0/dist/css/suggestions.min.css" rel="stylesheet" />

<style>
    .form-row .col-md-5 {
        margin-top: 25px;
    }

    .form-row .col-md-7 {
        margin-top: 25px;
    }
</style>
<div class="container ad-form" style="margin-top: 10px;">
    <form action="/Ad/Edit" method="post">

        @Html.AntiForgeryToken()

        <div class="form-row">
            <div class="col-md-5">
                <label for="Title">Заголовок*</label>
                <input type="text" class="form-control" size="200" id="Title" name="Title" placeholder="Название объявления" value="@Model.Title">
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger", @style = "font-size: 12px;" })
            </div>
            <div class="col-md-7">
                <label for="Description">Описание*</label>
                <textarea id="Description" name="Description" size="3000" class="form-control" style="resize: none; height: 250px;" placeholder="Подробное описание..." value="@Model.Description">@Model.Description</textarea>
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger", @style = "font-size: 12px;" })
            </div>

        </div>
        <div class="form-row">
            <div class="col-md-5">
                <label for="City">Город*</label>
                <select id="City" name="LocationInfo.CityID" class="form-control">
                    @foreach (var city in Model.Cities)
                    {
                        if (city.CityID == Model.LocationInfo.CityID)
                        {
                            <option selected id="CityID" name="CityID" value="@city.CityID">@city.Name</option>
                        }
                        else
                        {
                            <option id="CityID" name="CityID" value="@city.CityID">@city.Name</option>
                        }
                    }
                </select>
            </div>
            <div class="col-md-7">
                <label for="District">Район*</label>
                <select id="District" name="LocationInfo.DistrictID" class="form-control">
                    @foreach (var district in Model.Cities.First().Districts)
                    {
                        if (district.DistrictID == Model.LocationInfo.DistrictID)
                        {
                            <option selected id="DistrictID" name="DistrictID" value="@district.DistrictID">@district.Name</option>
                        }
                        else
                        {
                            <option id="DistrictID" name="DistrictID" value="@district.DistrictID">@district.Name</option>
                        }
                    }
                </select>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-12">
                <label for="Kladr">Кладр*</label>
                <input type="text" style="max-width: 100%; width: 655px;" class="form-control" id="address" name="Kladr" placeholder="Введите адрес..." value="@Model.Kladr">
                @Html.ValidationMessageFor(model => model.Kladr, "", new { @class = "text-danger", @style = "font-size: 12px;" })
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-5">
                <label for="validationTooltipUsername">Цена*</label>
                <input name="Price" type="number" size="11" value="@Model.Price" class="form-control currency" />
                @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger", @style = "font-size: 12px;" })
            </div>
            <div class="col-md-7">
                <label for="validationTooltip05">Количество комнат*</label>
                <input name="RoomsCount" type="number" size="4" value="@Model.RoomsCount" class="form-control currency" />
                @Html.ValidationMessageFor(model => model.RoomsCount, "", new { @class = "text-danger", @style = "font-size: 12px;" })
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-5">
                <label for="PhoneNumber">Телефон*</label>
                <input id="phone-mask" name="Phone.PhoneNumber" type="text" class="form-control" value="@Model.Phone.PhoneNumber">
                <small>Например: +7(987)654-32-10</small>
                <br />
                <small>Или: +7(845)299-88-77</small>
                <br />
                @Html.ValidationMessageFor(model => model.Phone.PhoneNumber, "", new { @class = "text-danger", @style = "font-size: 12px;" })
            </div>
            <div class="col-md-7">
                <label for="AdditionalPhoneNumber">Запасной телефон</label>
                <input id="phone-mask2" name="Phone.AdditionalPhoneNumber" type="text" class="form-control" value="@Model.Phone.AdditionalPhoneNumber">
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-5">
                <label for="Fio">ФИО*</label>
                <input id="Fio" name="Fio" type="text" size="300" class="form-control" placeholder="Иванов Иван Иванович" value="@Model.Fio">
                @Html.ValidationMessageFor(model => model.Fio, "", new { @class = "text-danger", @style = "font-size: 12px;" })
            </div>
            <div class="col-md-7">
                <label for="AdditionalInfo">Примечание</label>
                <input id="AdditionalInfo" name="AdditionalInfo" size="100" type="text" class="form-control" placeholder="Примечание" value="@Model.AdditionalInfo">
            </div>
        </div>
        <input hidden="" name="AdID" value="@Model.AdID" />
        <button class="btn btn-warning" type="submit">Изменить</button>
    </form>
</div>



@section scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/suggestions-jquery@19.8.0/dist/js/jquery.suggestions.min.js"></script>
    <script>
        // Замените на свой API-ключ из личного кабинета (https://dadata.ru/profile/#info)
        /***
        /* Не меняйте код ниже этой строчки
         ***/

        $("#address").suggestions({
            token: "cca11a5fe7a6bbc8497a1b913ae0a4dd0add5f97",
            type: "ADDRESS",
            constraints: {
                // ограничиваем поиск Адлерский районом
                locations: {
                    city: 'Москва',
                    // city_district: 'Адлерский'
                }
            },
            // в списке подсказок не показываем область и город
            restrict_value: true,
            /* Вызывается, когда пользователь выбирает одну из подсказок */
            onSelect: function (suggestion) {
                console.log(suggestion);
            }
        });
    </script>
}