﻿@model IEnumerable<Square.UI.Models.AdEntityModels.AddReportModel>

@{
    ViewBag.Title = "GetAdReports";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" style="margin-top: 50px;">
    <h2>Жалобы на объявления</h2>
    <br />
    <div class="row">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Идентификатор объявления</th>
                <th scope="col">Объявление от риелтора</th>
                <th scope="col">Квартира уже сдана</th>
                <th scope="col">Объявление содержит неверные данные</th>
                <th scope="col">Неверный номер телефона собственника</th>
                <th>#</th>
            </tr>
            </thead>
            <tbody>
            @{ var count = 1; }
            @foreach (var item in Model)
            {
                <tr>
                    <th scope="row">@count</th>
                    <td>@item.AdId</td>
                    <td>@item.AdFromRealtor</td>
                    <td>@item.AdLeased</td>
                    <td>@item.AdIncorrectData</td>
                    <td>@item.IncorrectPhoneNumber</td>
                    <td><a type="button" href="@Url.Action("GetAdInfoByIdAsync", "Ad", new {adId = item.AdId })" class="btn-sm btn-light-green " style="color: white;">Посмотреть</a></td>
                </tr>
                count++;
            }
            </tbody>
        </table>
    </div>
</div>