﻿    @model Square.UI.Models.Admin.DashBoardFullInfo
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<style>
    html,
    body,
    main {
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    body {
        background-color: #233750;
        font-family: "Lato", sans-serif;
        font-weight: 300;
        font-size: 12px;
    }

    main {
        padding-top: 8vh;
        color: #fff;
    }

    main:after {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #233750;
        background: url("https://images.unsplash.com/photo-1437326584642-6019c5210de1?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=4c8d0e7e2fa488b19b5731ada23a4562&auto=format&fit=crop&w=2700&q=80") center / cover no-repeat;
        filter: blur(25px);
        z-index: -1;
    }

    main header {
        font-family: "Poppins", "Arial", "Verdana", sans-serif;
        font-weight: 200;
        font-size: 1.85em;
        opacity: 0.9;
        margin-bottom: 80px;
    }

    section {
        margin-top: 60px;
        font-family: "Lato", "Arial", "Verdana", sans-serif;
    }

    .container__counter {
        background-color: rgba(255, 255, 255, 0.76);
        font-size: 1.5em;
        height: 180px;
        border-radius: 8px;
        color: #233750;
        display: flex;
        flex-flow: column;
        justify-content: center;
    }

    .icon {
        font-size: 1.8em;
        color: #1a237e;
    }

    .counter {
        letter-spacing: 0.5px;
        font-weight: 900;
        font-size: 1.7em;
    }

    .category {
        font-weight: 500;
    }
</style>

<style>
    .flip {
        position: relative;
    }
    .flip > .front,
    .flip > .back {
        display: block;
        transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
        transition-duration: .5s;
        transition-property: transform, opacity;
    }
    .flip > .front {
        transform: rotateY(0deg);
    }
    .flip > .back {
        position: absolute;
        opacity: 0;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        transform: rotateY(-180deg);
    }
    .flip:hover > .front {
        transform: rotateY(180deg);
    }
    .flip:hover > .back {
        opacity: 1;
        transform: rotateY(0deg);
    }
    .flip.flip-vertical > .back {
        transform: rotateX(-180deg);
    }
    .flip.flip-vertical:hover > .front {
        transform: rotateX(180deg);
    }
    .flip.flip-vertical:hover > .back {
        transform: rotateX(0deg);
    }

    .flip {
        position: relative;
        display: inline-block;
        margin-right: 2px;
        margin-bottom: 1em;
        width: 370px;
    }
    .flip > .front,
    .flip > .back {
        display: block;
        color: white;
        width: inherit;
        background-size: cover !important;
        background-position: center !important;
        height: 220px;
        padding: 1em 2em;
        background: #313131;
        border-radius: 10px;
    }
    .flip > .front p,
    .flip > .back p {
        font-size: 0.9125rem;
        line-height: 160%;
        color: #999;
    }

    .text-shadow {
        text-shadow: 1px 1px rgba(0, 0, 0, 0.04), 2px 2px rgba(0, 0, 0, 0.04), 3px 3px rgba(0, 0, 0, 0.04), 4px 4px rgba(0, 0, 0, 0.04), 0.125rem 0.125rem rgba(0, 0, 0, 0.04), 6px 6px rgba(0, 0, 0, 0.04), 7px 7px rgba(0, 0, 0, 0.04), 8px 8px rgba(0, 0, 0, 0.04), 9px 9px rgba(0, 0, 0, 0.04), 0.3125rem 0.3125rem rgba(0, 0, 0, 0.04), 11px 11px rgba(0, 0, 0, 0.04), 12px 12px rgba(0, 0, 0, 0.04), 13px 13px rgba(0, 0, 0, 0.04), 14px 14px rgba(0, 0, 0, 0.04), 0.625rem 0.625rem rgba(0, 0, 0, 0.04), 16px 16px rgba(0, 0, 0, 0.04), 17px 17px rgba(0, 0, 0, 0.04), 18px 18px rgba(0, 0, 0, 0.04), 19px 19px rgba(0, 0, 0, 0.04), 1.25rem 1.25rem rgba(0, 0, 0, 0.04);
    }

</style>

<main>
    <header class="text-center"><span class="d-none d-sm-inline-block">&emsp; Ros-Rielt:</span><span class="d-sm-inline-block">&thinsp; Админ панель &emsp;</span></header>
    <section class="container">
        <div class="row">

            <div class="col-sm-3">
                <div class="container__counter text-center mt-2">
                    <div class="icon"><i class="fa fa-bar-chart" role="0"></i></div>
                    <div class="counter">
                        <div class="count" data-number="88">@Model.CurrentSubscriptionsCount</div>
                    </div>
                    <div class="category text-uppercase">
                        <Total>Активных подпискок</Total>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="container__counter text-center mt-2">
                    <div class="icon"><i class="fa fa-user-circle-o" role="1"></i></div>
                    <div class="counter">
                        <div class="count" data-number="1788">@Model.Users.Count()</div>
                    </div>
                    <div class="category text-uppercase">
                        <Total>Пользователей</Total>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="container__counter text-center mt-2">
                    <div class="icon"><i class="fa fa-line-chart" role="2"></i></div>
                    <div class="counter">
                        <div class="count" data-number="15643">0</div>
                    </div>
                    <div class="category text-uppercase">
                        <Total>Заработано</Total>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="container__counter text-center mt-2">
                    <div class="icon"><i class="fa fa-star" role="3"></i></div>
                    <div class="counter">
                        <div class="count" data-number="2898">0</div>
                    </div>
                    <div class="category text-uppercase">
                        <Total>Рейтинг</Total>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" style="margin-top: 100px;">
            <div class="flip ">
                <div class="front" style="background-image: url(https://images.pexels.com/photos/540518/pexels-photo-540518.jpeg?w=1260&h=750&dpr=2&auto=compress&cs=tinysrgb)">
                    <h1 class="text-shadow">Разместить объявление</h1>
                </div>
                <div class="back">
                    <h2>Разместить объявление</h2>
                    <a class="btn btn-info " href="@Url.Action("Add", "Admin")">
                        Перейти
                    </a>
                </div>
            </div>

            <div class="flip ">
                <div class="front" style="background-image: url(https://images.pexels.com/photos/540518/pexels-photo-540518.jpeg?w=1260&h=750&dpr=2&auto=compress&cs=tinysrgb)">
                    <h1 class="text-shadow">Объявления</h1>
                </div>
                <div class="back">
                    <h2>Объявления</h2>
                    <p>Посмотреть все объявления в базе Ros-Rielt</p>
                    <a class="btn btn-info " href="@Url.Action("AdIndex", "Admin")">
                        Перейти
                    </a>
                </div>
            </div>
            <div class="flip">
                <div class="front" style="background-image: url(https://images.pexels.com/photos/414171/pexels-photo-414171.jpeg?w=1260&h=750&dpr=2&auto=compress&cs=tinysrgb)">
                    <h1 class="text-shadow">Заявки</h1>
                </div>
                <div class="back">
                    <h2>Заявки на объявления</h2>
                    <p>Посмотреть все заявки на объявления от пользователей</p>
                    <a class="btn btn-info " href="@Url.Action("Requests", "Admin")">
                        Перейти
                    </a>
                </div>
            </div>
            <div class="flip ">
                <div class="front" style="background-image: url(https://images.pexels.com/photos/36717/amazing-animal-beautiful-beautifull.jpg?w=1260&h=750&dpr=2&auto=compress&cs=tinysrgb)">
                    <h1 class="text-shadow">Пользователи</h1>
                </div>
                <div class="back">
                    <h2>Все пользователи</h2>
                    <p>Посмотреть всех пользователей Ros-Rielt</p>
                    <a class="btn btn-info " href="@Url.Action("GetUsers", "Home")">
                        Перейти
                    </a>
                </div>
            </div>

            <br>

            <div class="flip">
                <div class="front" style="background-image: url(https://images.pexels.com/photos/540518/pexels-photo-540518.jpeg?w=1260&h=750&dpr=2&auto=compress&cs=tinysrgb)">
                    <h1 class="text-shadow">Архив</h1>
                </div>
                <div class="back">
                    <h2>Архив</h2>
                    <p>Посмотреть все объявления в архиве Ros-Rielt</p>
                    <a class="btn btn-info " href="@Url.Action("Archive", "Admin")">
                        Перейти
                    </a>
                </div>
            </div>
            <div class="flip ">
                <div class="front" style="background-image: url(https://images.pexels.com/photos/414171/pexels-photo-414171.jpeg?w=1260&h=750&dpr=2&auto=compress&cs=tinysrgb)">
                    <h1 class="text-shadow">Новости и акции</h1>
                </div>
                <div class="back">
                    <h2>Новости и акции</h2>
                    <p>Добавить новость</p>
                    <a class="btn btn-info " href="@Url.Action("AddNews", "Home")">
                        Перейти
                    </a>
                </div>
            </div>
            <div class="flip ">
                <div class="front" style="background-image: url(https://images.pexels.com/photos/36717/amazing-animal-beautiful-beautifull.jpg?w=1260&h=750&dpr=2&auto=compress&cs=tinysrgb)">
                    <h1 class="text-shadow">Помощь специалиста</h1>
                </div>
                <div class="back">
                    <h2>Все заявки на услугу</h2>
                    <p>Посмотреть все заявки на услугу "Помощь специалиста"</p>
                    <a class="btn btn-info " href="@Url.Action("GetSepcialistHelpRequests", "Home")">
                        Перейти
                    </a>
                </div>
            </div>

            <br>


            <div class="flip ">
                <div class="front" style="background-image: url(https://images.pexels.com/photos/414171/pexels-photo-414171.jpeg?w=1260&h=750&dpr=2&auto=compress&cs=tinysrgb)">
                    <h1 class="text-shadow">Жалобы</h1>
                </div>
                <div class="back">
                    <h2>Жалобы</h2>
                    <p>Посмотреть жалобы на объявления</p>
                    <a class="btn btn-info " href="@Url.Action("GetAdReports", "Admin")">
                        Перейти
                    </a>
                </div>
            </div>
        </div>
    </section>



  
</main>
    


  


    @*<div id="wrapper">


        <div id="content-wrapper">




            <div class="container-fluid">


                <div class="row">
                  
                </div>
                <br />
                <br />
                <br />

                <div class="container my-5 z-depth-1 px-0 rounded">


                    <section class="white-text grey p-5 rounded">

                        <h3 class="text-center font-weight-bold mb-4 pb-2">Статистика</h3>


                    </section>

                </div>
                <br />
                <br />
                <br />
                <div class="card mb-3">
                    <div class="card-header">
                        <i class="fas fa-table"></i>
                        Активные Пользователи
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>

                                    <tr>
                                        <th>Фамилия</th>
                                        <th>Имя</th>
                                        <th>Номер Телефона (Логин)</th>
                                        <th>Email</th>
                                        <th>Роль</th>
                                        <th>Дата регистрации</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th>Фамилия</th>
                                        <th>Имя</th>
                                        <th>Номер Телефона (Логин)</th>
                                        <th>Email</th>
                                        <th>Роль</th>
                                        <th>Дата регистрации</th>
                                    </tr>
                                </tfoot>
                                <tbody>
                                    @foreach (var user in Model.Users)
                                    {
                                        <tr>
                                            <td>@user.LastName</td>
                                            <td>@user.FirstName</td>
                                            <td>@user.PhoneNumber</td>
                                            <td>@user.Email</td>
                                            <td>@user.RoleName</td>
                                            <td>@user.RegistrationDate.ToString("dd-MM-yyyy")</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="card-footer small text-muted">Обновлено: </div>
                </div>

            </div>
        </div>
    </div>*@
