﻿<div style="color: black;" class="modal fade" id="CallBack" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="form-group">
                    <h5 class="modal-title" style="display: inline-block;" id="exampleModalLongTitle">Бесплатная консультация</h5>
                    <img class="icon" style="width: 70px; height: 70px;" src="~/Images/callMan.png" />
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="/Home/OrderCall" method="get" id="form-ordercall" enctype="multipart/form-data">
                <div class="modal-body " id="form-container">
                    <div class="form-group">
                        <label>Телефон</label>
                        <input id="phone-mask" name="phoneNumber" type="text" class="form-control" placeholder="Телефон" aria-describedby="inputGroupPrepend2">
                        <small class="text-muted"> Нажав кнопку «Заказать звонок», вы соглашаетесь на обработку персональных данных в соответствии с Федеральным законом от 27.07.2006 № 152-ФЗ в редакции от 22.02.2017.</small>
                    </div>

                </div>
                <div class="modal-footer">
                    <button class="btn btn-success" type="submit">Заказать звонок</button>
                </div>
            </form>
        </div>
    </div>
</div>