﻿@using Square.Common.Entities.Portal
@model IEnumerable<Square.UI.Models.AccountEntityModel.SubscriptionModel>

@{
    ViewBag.Title = "Подписки";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    @@import url('https://fonts.googleapis.com/css?family=Roboto:300');
    
    body{
        font-family: 'Roboto', sans-serif !important;
    }
    
    section{
        width: 100%;
        height: 100vh;
        box-sizing: border-box;
        padding: 140px 0;
    }
    
    .card{
        position: relative;
        max-width: 300px;
        height: auto;
        border: none;
        margin: 0 auto;
        margin-bottom: 15px;
        padding: 40px 20px;
        box-shadow: 0 10px 15px rgba(0,0,0,.15);
        transition: 5s;
        overflow: hidden;
        transform: scale(1);
        transition: all .35s;
    }
    
    .card:hover{
        transform: scale(1.05);
        transition: all .35s;
    }
    
    .col-sm-4:nth-child(1) .card,
    .col-sm-4:nth-child(1) .card .title .fas{
        
    
        background: linear-gradient(-45deg, #f403d1, #645bf6);
        -webkit-border-radius: 15px 15px 15px 15px;
        border-radius: 15px 15px 15px 15px;
    }
    
    .col-sm-4:nth-child(2) .card,
    .col-sm-4:nth-child(2) .card .title .fas{
    
        background: linear-gradient(-45deg, #ffec61, #f321d7);
        -webkit-border-radius: 15px 15px 15px 15px;
        border-radius: 15px 15px 15px 15px;
    }
    
    .col-sm-4:nth-child(3) .card,
    .col-sm-4:nth-child(3) .card .title .fas{
    
        background: linear-gradient(-45deg, #24ff72, #9a4eff);
        -webkit-border-radius: 15px 15px 15px 15px;
        border-radius: 15px 15px 15px 15px;
    }
    
    .card:before{
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 40%;
        background: rgba(255, 255,255, .1);
        z-index: 1;
        transform: skewY(-5deg) scale(1.5);
    }
    
    .title .fas{
        color: #fff;
        font-size: 60px;
        width: 100px;
        height: 100px;
        border-radius: 50%!important;
        text-align: center;
        line-height: 100px;
        box-shadow: 0 10px 10px rgba(0,0,0,.15);
    }
    
    .title h2{
        position: relative;
        margin: 20px 0 0;
        padding: 0;
        color: #fff;
        font-size: 28px;
        z-index: 2;
    }
    
    .price{
        position: relative;
        z-index: 2;
    }
    
    .price h4{
        margin: 0;
        padding: 20px 0;
        color: #fff;
        font-size: 60px;
    }
    
    .option{
        position: relative;
        z-index: 2;
    }
    
    .option ul{
        margin: 0; 
        padding: 0;
    }
    
    .option ul li{
        margin: 0 0 10px;
        padding: 0;
        list-style: none;
        color: #fff;
        font-size: 16px;
    }
    
    .card a{
        position: relative;
        z-index: 2;
        background: #fff;
        color: slategray;
        width: 150px;
        height :40px;
        line-height: 40px;
        border-radius: 40px;
        display: block;
        text-align: center;
        margin: 20px auto 0;
        font-size: 16px;
        cursor: pointer;
        box-shadow: 0 5px 10px rgba(0,0,0,.15);
        transform: scale(1);
        transition: all .35s;
    }
    
    .card a:hover{
        text-decoration: none;
        transform: scale(1.05);
        transition: all .35s;
    }
    
    .fa-plane{
        transform: rotate(-45deg);
    }
    
    .fa-check{
        padding-right: 10px;
    }
    
    .fa-times{
        padding-right: 10px;
    }
</style>
<div class="container" style="margin-top: 100px; margin-bottom: 200px;">
                <div class="row">
                    @foreach (var subscription in Model)
                    {
                        var infoes = subscription.Info.Split(';');
                        <div class="col-sm-4">
                            <div class="glisser">
                                <div class="card text-center">
                                    <div class="title">
                                        @if (subscription.SubscriptionID == (int)SubscriptionEnum.Base)
                                        {
                                            <i class="fas fa-leaf" aria-hidden="true"></i>
                                            <h2>@subscription.Title</h2>
                                        }
                                        @if (subscription.SubscriptionID == (int)SubscriptionEnum.Optimal)
                                        {
                                            <i class="fas fa-thumbs-up" aria-hidden="true"></i>
                                            <h2>@subscription.Title</h2>
                                        }
                                        @if (subscription.SubscriptionID == (int)SubscriptionEnum.Maximal)
                                        {
                                            <i class="fas fa-crown" aria-hidden="true"></i>
                                            <h2>@subscription.Title</h2>
                                        }
                                    </div>
                                    <div class="price">
                                        <h4><sup>₽</sup>@subscription.Price.ToString()</h4>
                                    </div>
                                    <div class="option">
                                        <ul>
                                            @foreach (var info in infoes)
                                            {
                                                if (info == "Личный помощник" && subscription.SubscriptionID != (int)SubscriptionEnum.Maximal)
                                                {
                                                    <li><i class="fas fa-times" aria-hidden="true"></i>@info</li>
                                                }
                                                else
                                                {
                                                    <li><i class="fas fa-check" aria-hidden="true"></i>@info</li>
                                                }
                                                
                                            }
                                        </ul>
                                    </div>
                                    @if (subscription.ConnectedSubscription != null && subscription.ConnectedSubscription.Item1.HasValue)
                                    {
                                        <a href="@Url.Action("Pay", "Price", new {subscribtionID = subscription.SubscriptionID})" class="disabled">Подключена</a>
                                        <small class="form-text" style="color: white;">Активна до: @subscription.ConnectedSubscription.Item2.ToString("dd-MM-yyyy HH:mm")</small>
                                    }
                                    else
                                    {
                                        <a  href="@Url.Action("Pay", "Price", new {subscribtionID = subscription.SubscriptionID})" class="disabled">Приобрести</a>
                                    }
                                </div>
                            </div>
                        </div>
                    }
                </div>
    </div>



