﻿@model Square.UI.Models.AdEntityModels.SubscriptionModel
@using Square.Common.Entities.Portal

@{
    ViewBag.Title = "Pay";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .demo-container {
        width: 100%;
        max-width: 350px;
        margin: 50px auto;
    }

    .card-form {
        margin: 30px;
    }

        .card-form input {
            width: 300px;
            margin: 10px auto;
            display: block;
        }
</style>

<style>

    @@media only screen and (min-width: 800px) {
        .alfa-payment {
            width: 800px !important;
            height: 680px !important;
            align-content: center;
            position: absolute !important;
            /*top: 100px;
        left: 380px*/
            left: 23%;
            right: 28%;
            top: 10%;
        }

        .font-weight-normal p {
            margin-left: 0px !important;
        }
    }

    .alfa-payment_hidden {
        width: 100px !important;
        height: 0px !important;
        margin: 0 0 !important;
    }
</style>

<style>
    footer {
        color: white;
    }

    footer a {
        color: white;
    }

    footer a:hover {
        color: white;
    }

    .footer-CompanyUrl {
        color: white;
    }
</style>

<div class="container my-5 py-5 z-depth-1">


    <!--Section: Content-->
    <section class="text-center">

        <!-- Section heading -->
        <h3 class="font-weight-bold mb-5">Покупка подписки</h3>

        <div class="row">
            <div class="col-lg-6">
               
                <img src="~/Images/paymantbcg.jpg"  class="img-fluid"/>

            </div>

            <div class="col-lg-5 text-center text-md-left">
                @{
                    var subscription = Model.SubscriptionInfo;

                    var infoes = subscription.Info.Split(';');
                }
                <h2 class="h2-responsive text-center text-md-left product-name font-weight-bold dark-grey-text mb-1 ml-xl-0">@subscription.Title</h2>
                <span class="badge badge-danger product mb-4 ml-xl-0">лучшая цена</span>
                <span class="badge badge-success product mb-4 ml-2">действует скидка</span>

                <h3 class="h3-responsive text-center text-md-left mb-5 ml-xl-0">
                    <span class="red-text font-weight-bold">
                        @if (subscription.SubscriptionID == (int)SubscriptionEnum.Base)
                        {
                            <strong>@subscription.Price.ToString()₽ / неделя</strong>
                        }
                        @if (subscription.SubscriptionID == (int)SubscriptionEnum.Optimal)
                        {
                            <strong>@subscription.Price.ToString()₽ / 2 недели</strong>
                        }
                        @if (subscription.SubscriptionID == (int)SubscriptionEnum.Maximal)
                        {
                            <strong>@subscription.Price.ToString()₽ / месяц </strong>
                        }

                    </span>
                    <span class="grey-text">
                        @if (subscription.SubscriptionID == (int)SubscriptionEnum.Base)
                        {
                            <small>
                                <s>800 ₽</s>
                            </small>
                        }
                        @if (subscription.SubscriptionID == (int)SubscriptionEnum.Optimal)
                        {
                         
                            <small>
                                <s>1100 ₽</s>
                            </small>
                        }
                        @if (subscription.SubscriptionID == (int)SubscriptionEnum.Maximal)
                        {
                            
                            <small>
                                <s>1600 ₽</s>
                            </small>
                        }
                    </span>
                </h3>

                <div class="font-weight-normal">
                    @if (subscription.SubscriptionID == (int)SubscriptionEnum.Base)
                    {
                        <p class="ml-xl-0">
                            Хороший выбор для старта. Если Вам нужно найти жилье в кротчайшие сроки.
                        </p>

                    }
                    @if (subscription.SubscriptionID == (int)SubscriptionEnum.Optimal)
                    {

                        <p class="ml-xl-0">
                            Оптимальный вариант для того, чтобы в течении 2-х недель найти подходящую квартиру.
                        </p>

                    }
                    @if (subscription.SubscriptionID == (int)SubscriptionEnum.Maximal)
                    {
                        <p class="ml-xl-0">
                            Подписка для тех, кому нужно время для поиска квартиры. Личный помощник поможет Вам найти квартиру максимально быстро и качественно.
                        </p>

                    }

                    @foreach (var info in infoes)
                    {

                        if (info == "Личный помощник" && subscription.SubscriptionID == (int)SubscriptionEnum.Base)
                        {
                            <p class="ml-xl-0">
                                <strong><i class="fas fa-times" aria-hidden="true"></i> </strong>@info
                            </p>

                        }
                        else
                        {
                            <p class="ml-xl-0">
                                <strong><i class="fas fa-check" aria-hidden="true"></i> </strong>@info
                            </p>
                        }
                    }

                    @if (!User.Identity.IsAuthenticated)
                    {
                        <p class="ml-xl-0">
                            <strong><i class="fa fa-info-circle "></i> </strong> Для покупки подписки Вам нужно зарегистрироваться или войти в свой аккаунт
                        </p>
                    }


                    @{
                        var fio = Model.UserInfo.LastName + " " + @Model.UserInfo.FirstName;
                        var clientInfo = "Номер телефона: " + Model.UserInfo.PhoneNumber + "; Email: " + Model.UserInfo.Email;
                    }

                    <input type="text" value="@Model.OrderNumber" class="orderNumber" hidden>
                    <input type="text" value="@fio" class="clientFio" hidden>
                    <input type="text" value="@clientInfo" class="clientInfo" hidden>
                    <input type="text" value="@Model.SubscriptionInfo.Price" class="amount" hidden>

                    <input hidden name="SubscriptionID" value="@subscription.SubscriptionID">
                    <input hidden name="UserID" value="@Model.UserInfo.UserID">

                    @if (User.Identity.IsAuthenticated)
                    {
                        <div style="width: 100%; margin: 0 auto; margin-top: 50px;">
                            <div id="alfa-payment-button"
                                 data-token='vri2mbdf9f28asakh2sh66i03i'
                                 data-add-fio-selector='.clientFio'
                                 data-add-email-selector='.clientEmail'
                                 data-order-number-selector='.orderNumber'
                                 data-client-info-selector='.clientInfo'
                                 data-amount-selector='.amount'
                                 data-version='1.0'
                                 data-language='ru'
                                 data-stages='1'
                                 data-return-url='https://ros-rielt.ru/Price/PayConnect?subscriptionID=@Model.SubscriptionInfo.SubscriptionID&userID=@Model.UserInfo.UserID'
                                 data-fail-url='https://ros-rielt.ru/Price/PayConnectError'
                                 data-amount-format='rubli'>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div style="width: 100%; margin: 0 auto; margin-top: 50px;" disabled>
                            <div id="alfa-payment-button"
                                 data-token='vri2mbdf9f28asakh2sh66i03i'
                                 data-add-fio-selector='.clientFio'
                                 data-add-email-selector='.clientEmail'
                                 data-order-number-selector='.orderNumber'
                                 data-client-info-selector='.clientInfo'
                                 data-amount-selector='.amount'
                                 data-version='1.0'
                                 data-language='ru'
                                 data-stages='1'
                                 data-return-url='https://ros-rielt.ru/Price/PayConnect?subscriptionID=@Model.SubscriptionInfo.SubscriptionID&userID=@Model.UserInfo.UserID'
                                 data-fail-url='https://ros-rielt.ru/Price/PayConnectError'
                                 data-amount-format='rubli'>
                            </div>
                        </div>
                    }

                </div>

            </div>
        </div>

    </section>
    <!--Section: Content-->


</div>

@section scripts{
    <script id="alfa-payment-script"
            type="text/javascript"
            src="https://pay2.alfabank.ru/assets/alfa-payment.js">
    </script>


    <script src="~/Scripts/card-master/dist/card.js"></script>
    <script>
        new Card({
            form: document.querySelector('#myCard'),
            container: '.card-wrapper'
        });</script>
}
