﻿@{
    ViewBag.Title = "RequestAddedNotify";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="alert alert-danger" role="alert" style="width: 90%; margin: 0 auto; margin-top: 20px;">
    <h1 class="alert-heading">Что-то пошло не так. Подписка не подключена!</h1>
    <p>Попробуйте позже или свяжитесь с Администратором!</p>
    <hr>
    <p><a href="@Url.Action("Index", "Home")" class="btn btn-primary btn-lg" role="button">Хорошо</a></p>
</div>