﻿@{
    ViewBag.Title = "RequestAddedNotify";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="alert alert-success" role="alert" style="width: 90%; margin: 0 auto; margin-top: 20px;">
    <h1 class="alert-heading">Подписка успешно подключена!</h1>
    <p>Теперь вам предоставлен полный доступ к данным сайта!</p>
    <hr>
    <p><a href="@Url.Action("Index", "Home")" class="btn btn-primary btn-lg" role="button">Хорошо</a></p>
</div>